.block_ {
  color: #2E74B5;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 2pt 0 0;
  padding: 0;
}
.block_1 {
  display: block;
  line-height: 1.2;
  margin: 0 0 8pt;
  padding: 0;
}
.block_2 {
  color: #2E74B5;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: center;
  margin: 24pt 0 0;
  padding: 0;
}
.block_3 {
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1em;
  font-weight: bold;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 10pt 0 0;
  padding: 0;
}
.block_4 {
  display: block;
  margin: 0 0 10pt;
  padding: 0;
}
.block_5 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin: 0 0 10pt;
  padding: 0;
}
.block_6 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  line-height: 1.15;
  margin: 0 0 10pt;
  padding: 0;
}
.block_7 {
  display: block;
  line-height: 1.2;
  margin: 0 0 10pt;
  padding: 0;
}
.block_8 {
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 24pt 0 0;
  padding: 0;
}
.block_9 {
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 10pt 0 0;
  padding: 0;
}
.block_10 {
  display: list-item;
  margin-bottom: 0;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_11 {
  display: list-item;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_12 {
  display: list-item;
  margin-bottom: 10pt;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_13 {
  display: block;
  font-weight: bold;
  margin: 0 0 10pt;
  padding: 0;
}
.block_14 {
  display: block;
  font-family: serif;
  line-height: 1.2;
  margin: 0 0 10pt;
  padding: 0;
}
.block_15 {
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 10pt;
  padding: 0;
}
.block_16 {
  display: block;
  font-family: serif;
  margin: 0 0 10pt;
  padding: 0;
}
.block_17 {
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-weight: bold;
  margin: 0 0 10pt;
  padding: 0;
}
.block_18 {
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 8pt;
  padding: 0;
}
.block_19 {
  display: block;
  line-height: 1.2;
  margin: 0 0 8pt;
  padding: 0;
}
.block_20 {
  display: block;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 10pt 0 0;
  padding: 0;
}
.block_21 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin: 0 0 10pt 36pt;
  padding: 0;
}
.block_22 {
  color: #2E74B5;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 8pt;
  padding: 0;
}
.block_23 {
  color: #2E74B5;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 8pt;
  padding: 0;
}
.block_24 {
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 10pt 0 0;
  padding: 0;
}
.block_25 {
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 10pt;
  padding: 0;
}
.block_26 {
  display: list-item;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_27 {
  display: list-item;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_28 {
  display: list-item;
  line-height: 1.2;
  margin-bottom: 10pt;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_29 {
  color: #5B9BD5;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 10pt 0 0;
  padding: 0;
}
.block_30 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  font-weight: normal;
  line-height: 1.15;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 10pt 0 0;
  padding: 0;
}
.block_31 {
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1em;
  font-weight: bold;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 24pt 0 0;
  padding: 0;
}
.block_32 {
  display: block;
  margin: 0 0 0 36pt;
  padding: 0;
}
.block_33 {
  display: block;
  font-size: 0.75em;
  margin: 0 0 10pt;
  padding: 0;
}
.block_34 {
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 2pt 0 0;
  padding: 0;
}
.block_35 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  font-weight: normal;
  line-height: 1.15;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 2pt 0 0;
  padding: 0;
}
.block_36 {
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 2pt 0 0;
  padding: 0;
}
.block_37 {
  display: block;
  margin: 0;
  padding: 0;
}
.block_38 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
}
.block_39 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin: 0 0 0 36pt;
  padding: 0;
}
.block_40 {
  display: block;
  margin: 0 0 10pt 36pt;
  padding: 0;
}
.block_41 {
  color: #5B9BD5;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1em;
  font-weight: bold;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 10pt 0 0;
  padding: 0;
}
.block_42 {
  display: list-item;
  margin-bottom: 10pt;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_43 {
  display: block;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
}
.block_44 {
  display: block;
  font-family: serif;
  margin: 0;
  padding: 0;
}
.block_45 {
  display: block;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.block_46 {
  color: #2E74B5;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 24pt 0 0;
  padding: 0;
}
.calibre {
  display: block;
  font-family: "Calibri", sans-serif;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  text-align: left;
  margin: 0 5pt;
}
.calibre1 {
  display: table-row-group;
  vertical-align: middle;
}
.calibre2 {
  display: table-row;
  vertical-align: inherit;
}
.calibre3 {
  height: 69pt;
  line-height: 1.2;
  width: 66pt;
}
.calibre4 {
  height: 70.5pt;
  line-height: 1.2;
  width: 68.3pt;
}
.calibre5 {
  height: 66pt;
  width: 63.8pt;
}
.calibre6 {
  height: 149pt;
  width: 189pt;
}
.calibre7 {
  height: 92pt;
  width: 101pt;
}
.calibre8 {
  height: 174pt;
  width: 167pt;
}
.calibre9 {
  height: 66.8pt;
  width: 66pt;
}
.calibre10 {
  height: 104pt;
  width: 167pt;
}
.calibre11 {
  font-size: 0.75em;
  line-height: normal;
  vertical-align: super;
}
.calibre12 {
  height: 102pt;
  line-height: 1.2;
  width: 182pt;
}
.calibre13 {
  height: 128pt;
  width: 174pt;
}
.calibre14 {
  height: 84pt;
  width: 168pt;
}
.calibre15 {
  height: 104pt;
  width: 131pt;
}
.calibre16 {
  height: 66.8pt;
  width: 63.8pt;
}
.calibre17 {
  height: 102pt;
  width: 142pt;
}
.calibre18 {
  height: 80.5pt;
  width: 85pt;
}
.calibre19 {
  height: 82.5pt;
  width: 89pt;
}
.calibre20 {
  height: 80pt;
  width: 93pt;
}
.calibre21 {
  height: 70.5pt;
  line-height: 1.2;
  width: 71.3pt;
}
.calibre22 {
  height: 141pt;
  width: 101pt;
}
.calibre23 {
  height: 69pt;
  width: 63.8pt;
}
.calibre24 {
  height: 114pt;
  width: 390pt;
}
.calibre25 {
  display: block;
  margin: 0;
  padding: 0;
}
.calibre26 {
  height: 66pt;
  line-height: 1.2;
  width: 66.8pt;
}
.calibre27 {
  line-height: 1.2;
  white-space: pre-wrap;
}
.calibre28 {
  display: block;
  line-height: 1.2;
}
.calibre29 {
  height: 219pt;
  line-height: 1.2;
  width: 364pt;
}
.calibre30 {
  height: 71.3pt;
  line-height: 1.2;
  width: 66.8pt;
}
.calibre31 {
  display: block;
  line-height: 1.2;
}
.calibre32 {
  height: 69pt;
  width: 70.5pt;
}
.calibre33 {
  height: 119pt;
  width: 156pt;
}
.calibre34 {
  white-space: pre-wrap;
}
.calibre35 {
  height: 89.5pt;
  width: 186pt;
}
.calibre36 {
  height: 113pt;
  width: 108pt;
}
.calibre37 {
  height: 107pt;
  width: 178pt;
}
.calibre38 {
  height: 104pt;
  width: 192pt;
}
.calibre39 {
  height: 83.2pt;
  width: 84.8pt;
}
.calibre40 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre41 {
  height: 74pt;
  width: 189pt;
}
.calibre42 {
  height: 67.5pt;
  width: 66pt;
}
.calibre43 {
  height: 72.5pt;
  line-height: 1.2;
  width: 69pt;
}
.calibre44 {
  height: 69.8pt;
  line-height: 1.2;
  width: 66pt;
}
.calibre45 {
  height: 67.5pt;
  width: 68.3pt;
}
.calibre46 {
  height: 166pt;
  line-height: 1.2;
  width: 503pt;
}
.calibre47 {
  height: 66.8pt;
  line-height: 1.2;
  width: 64.5pt;
}
.calibre48 {
  height: 112pt;
  width: 245pt;
}
.calibre49 {
  height: 153pt;
  width: 236pt;
}
.calibre50 {
  height: 161pt;
  width: 287pt;
}
.calibre51 {
  height: 159pt;
  width: 176pt;
}
.calibre52 {
  height: 78.8pt;
  width: 134pt;
}
.calibre53 {
  height: 80.2pt;
  width: 114pt;
}
.calibre54 {
  height: 80.2pt;
  width: 139pt;
}
.calibre55 {
  height: 82.2pt;
  width: 116pt;
}
.calibre56 {
  height: 98.5pt;
  width: 126pt;
}
.calibre57 {
  height: 102pt;
  width: 128pt;
}
.calibre58 {
  height: 72.8pt;
  width: 66pt;
}
.calibre59 {
  height: 167pt;
  width: 236pt;
}
.calibre60 {
  height: 279pt;
  width: 252pt;
}
.calibre61 {
  height: 248pt;
  width: 193pt;
}
.calibre62 {
  height: 137pt;
  width: 170pt;
}
.calibre63 {
  height: 211pt;
  width: 187pt;
}
.calibre64 {
  height: 189pt;
  width: 243pt;
}
.calibre65 {
  height: 174pt;
  width: 242pt;
}
.calibre66 {
  height: 124pt;
  width: 108pt;
}
.calibre67 {
  height: 236pt;
  width: 228pt;
}
.calibre68 {
  display: block;
}
.calibre69 {
  height: 91.7pt;
  width: 129pt;
}
.calibre70 {
  font-weight: bold;
}
.calibre71 {
  height: 82.8pt;
  line-height: 1.2;
  width: 78.8pt;
}
.calibre72 {
  height: 251pt;
  width: 416pt;
}
.calibre73 {
  height: 76.1pt;
  width: 82.1pt;
}
.calibre74 {
  height: 125pt;
  width: 230pt;
}
.calibre75 {
  height: 129pt;
  width: 226pt;
}
.calibre76 {
  height: 110pt;
  width: 246pt;
}
.calibre77 {
  height: 130pt;
  width: 161pt;
}
.calibre78 {
  height: 166pt;
  width: 265pt;
}
.calibre79 {
  height: 96.4pt;
  width: 159pt;
}
.calibre80 {
  height: 151pt;
  width: 260pt;
}
.calibre81 {
  height: 67.5pt;
  width: 67.5pt;
}
.calibre82 {
  height: 178pt;
  width: 217pt;
}
.calibre83 {
  height: 148pt;
  width: 263pt;
}
.calibre84 {
  height: 203pt;
  width: 245pt;
}
.calibre85 {
  height: 67.5pt;
  line-height: 1.2;
  width: 63.8pt;
}
.calibre86 {
  height: 200pt;
  line-height: 1.2;
  width: 398pt;
}
.calibre87 {
  height: 60.8pt;
  line-height: 1.2;
  width: 59.3pt;
}
.calibre88 {
  height: 60pt;
  line-height: 1.2;
  width: 60pt;
}
.calibre89 {
  height: 116pt;
  line-height: 1.2;
  width: 173pt;
}
.calibre90 {
  height: 184pt;
  line-height: 1.2;
  width: 195pt;
}
.calibre91 {
  height: 62.3pt;
  line-height: 1.2;
  width: 59.3pt;
}
.calibre92 {
  height: 124pt;
  line-height: 1.2;
  width: 243pt;
}
.calibre93 {
  height: 77.5pt;
  line-height: 1.2;
  width: 245pt;
}
.calibre94 {
  height: 85pt;
  line-height: 1.2;
  width: 268pt;
}
.calibre95 {
  height: 189pt;
  line-height: 1.2;
  width: 197pt;
}
.calibre96 {
  height: 152pt;
  line-height: 1.2;
  width: 224pt;
}
.calibre97 {
  height: 82.5pt;
  line-height: 1.2;
  width: 299pt;
}
.calibre98 {
  height: 123pt;
  line-height: 1.2;
  width: 252pt;
}
.calibre99 {
  height: 148pt;
  line-height: 1.2;
  width: 113pt;
}
.calibre100 {
  height: 131pt;
  line-height: 1.2;
  width: 217pt;
}
.calibre101 {
  height: 130pt;
  line-height: 1.2;
  width: 272pt;
}
.calibre102 {
  height: 103pt;
  line-height: 1.2;
  width: 254pt;
}
.calibre103 {
  height: 174pt;
  line-height: 1.2;
  width: 262pt;
}
.calibre104 {
  height: 170pt;
  line-height: 1.2;
  width: 269pt;
}
.calibre105 {
  height: 118pt;
  line-height: 1.2;
  width: 188pt;
}
.calibre106 {
  height: 75.5pt;
  line-height: 1.2;
  width: 261pt;
}
.calibre107 {
  height: 87pt;
  line-height: 1.2;
  width: 186pt;
}
.calibre108 {
  height: 81.5pt;
  line-height: 1.2;
  width: 250pt;
}
.calibre109 {
  height: 141pt;
  line-height: 1.2;
  width: 266pt;
}
.calibre110 {
  height: 112pt;
  line-height: 1.2;
  width: 199pt;
}
.calibre111 {
  height: 170pt;
  line-height: 1.2;
  width: 216pt;
}
.calibre112 {
  height: 107pt;
  line-height: 1.2;
  width: 194pt;
}
.calibre113 {
  height: 63pt;
  line-height: 1.2;
  width: 231pt;
}
.calibre114 {
  height: 61.5pt;
  line-height: 1.2;
  width: 63.8pt;
}
.calibre115 {
  height: 181pt;
  line-height: 1.2;
  width: 411pt;
}
.calibre116 {
  height: 70.5pt;
  line-height: 1.2;
  width: 72pt;
}
.calibre117 {
  height: 81.8pt;
  width: 79.5pt;
}
.calibre118 {
  height: 113pt;
  width: 210pt;
}
.calibre119 {
  height: 125pt;
  width: 212pt;
}
.calibre120 {
  height: 85pt;
  width: 179pt;
}
.calibre121 {
  height: 134pt;
  width: 221pt;
}
.calibre122 {
  height: 132pt;
  width: 259pt;
}
.calibre123 {
  height: 124pt;
  width: 254pt;
}
.calibre124 {
  height: 92.5pt;
  width: 263pt;
}
.calibre125 {
  height: 77.2pt;
  width: 134pt;
}
.calibre126 {
  height: 78pt;
  width: 99pt;
}
.calibre127 {
  height: 92.2pt;
  width: 93pt;
}
.calibre128 {
  height: 102pt;
  width: 108pt;
}
.calibre129 {
  height: 74.2pt;
  width: 136pt;
}
.calibre130 {
  height: 73.5pt;
  width: 113pt;
}
.calibre131 {
  height: 75pt;
  width: 83.2pt;
}
.calibre132 {
  height: 66.8pt;
  width: 143pt;
}
.calibre133 {
  height: 139pt;
  width: 225pt;
}
.calibre134 {
  height: 172pt;
  width: 244pt;
}
.calibre135 {
  height: 66.8pt;
  width: 66.8pt;
}
.calibre136 {
  height: 159pt;
  width: 255pt;
}
.calibre137 {
  height: 66pt;
  line-height: 1.2;
  width: 68.3pt;
}
.calibre138 {
  height: 192pt;
  width: 390pt;
}
.calibre139 {
  height: 65.3pt;
  width: 65.3pt;
}
.calibre140 {
  height: 65.3pt;
  width: 64.5pt;
}
.calibre141 {
  height: 111pt;
  width: 218pt;
}
.calibre142 {
  height: 147pt;
  width: 248pt;
}
.calibre143 {
  height: 87pt;
  width: 72pt;
}
.calibre144 {
  height: 90pt;
  width: 136pt;
}
.calibre145 {
  height: 128pt;
  width: 223pt;
}
.calibre146 {
  height: 141pt;
  width: 172pt;
}
.calibre147 {
  height: 152pt;
  width: 192pt;
}
.calibre148 {
  height: 119pt;
  width: 221pt;
}
.calibre149 {
  height: 170pt;
  width: 167pt;
}
.calibre150 {
  height: 118pt;
  width: 160pt;
}
.calibre151 {
  height: 126pt;
  width: 213pt;
}
.calibre152 {
  height: 65.3pt;
  line-height: 1.2;
  width: 64.5pt;
}
.calibre153 {
  height: 228pt;
  width: 237pt;
}
.calibre154 {
  height: 170pt;
  width: 222pt;
}
.calibre155 {
  height: 151pt;
  width: 236pt;
}
.calibre156 {
  height: 139pt;
  width: 237pt;
}
.calibre157 {
  height: 142pt;
  width: 223pt;
}
.calibre158 {
  height: 81pt;
  line-height: 1.2;
  width: 78pt;
}
.calibre159 {
  height: 168pt;
  width: 434pt;
}
.calibre160 {
  height: 198pt;
  width: 166pt;
}
.calibre161 {
  height: 85pt;
  width: 158pt;
}
.calibre162 {
  height: 78.5pt;
  width: 157pt;
}
.calibre163 {
  height: 148pt;
  width: 122pt;
}
.calibre164 {
  height: 63.8pt;
  width: 63.8pt;
}
.calibre165 {
  height: 214pt;
  width: 333pt;
}
.calibre166 {
  height: 116pt;
  width: 187pt;
}
.calibre167 {
  height: 90.5pt;
  line-height: 1.2;
  width: 66pt;
}
.calibre168 {
  height: 129pt;
  width: 181pt;
}
.calibre169 {
  height: 89.5pt;
  width: 174pt;
}
.calibre170 {
  height: 99.5pt;
  width: 182pt;
}
.calibre171 {
  height: 114pt;
  width: 189pt;
}
.calibre172 {
  height: 92pt;
  width: 73pt;
}
.calibre173 {
  height: 148pt;
  width: 188pt;
}
.calibre174 {
  height: 90pt;
  width: 69pt;
}
.calibre175 {
  height: 86.5pt;
  width: 84.5pt;
}
.calibre176 {
  height: 66pt;
  line-height: 1.2;
  width: 63.8pt;
}
.calibre177 {
  height: 207pt;
  width: 343pt;
}
.calibre178 {
  height: 64.5pt;
  width: 65.3pt;
}
.calibre179 {
  height: 179pt;
  width: 181pt;
}
.calibre180 {
  height: 86.5pt;
  width: 215pt;
}
.calibre181 {
  height: 173pt;
  width: 241pt;
}
.calibre182 {
  height: 96pt;
  width: 244pt;
}
.calibre183 {
  height: 164pt;
  width: 208pt;
}
.calibre184 {
  height: 122pt;
  width: 216pt;
}
.calibre185 {
  height: 112pt;
  width: 193pt;
}
.calibre186 {
  height: 67.5pt;
  width: 63.8pt;
}
.calibre187 {
  height: 66pt;
  line-height: 1.2;
  width: 65.3pt;
}
.calibre188 {
  height: 92pt;
  width: 216pt;
}
.calibre189 {
  height: 183pt;
  width: 356pt;
}
.calibre190 {
  height: 64.5pt;
  width: 66.8pt;
}
.calibre191 {
  height: 68.3pt;
  width: 64.5pt;
}
.calibre192 {
  height: 131pt;
  width: 223pt;
}
.calibre193 {
  height: 121pt;
  line-height: 1.2;
  width: 96pt;
}
.calibre194 {
  height: 141pt;
  width: 231pt;
}
.calibre195 {
  height: 167pt;
  width: 202pt;
}
.calibre196 {
  height: 69.8pt;
  width: 64.5pt;
}
.calibre197 {
  height: 102pt;
  width: 226pt;
}
.calibre198 {
  height: 111pt;
  width: 122pt;
}
.calibre199 {
  height: 135pt;
  width: 234pt;
}
.calibre200 {
  height: 135pt;
  width: 227pt;
}
.calibre201 {
  height: 127pt;
  width: 243pt;
}
.calibre202 {
  height: 82.5pt;
  width: 75.8pt;
}
.calibre203 {
  font-size: 0.75em;
  line-height: normal;
  vertical-align: sub;
}
.calibre204 {
  height: 214pt;
  width: 238pt;
}
.calibre205 {
  height: 93pt;
  width: 70.5pt;
}
.calibre206 {
  height: 105pt;
  width: 468pt;
}
.calibre207 {
  height: 253pt;
  width: 231pt;
}
.calibre208 {
  height: 93pt;
  width: 125pt;
}
.calibre209 {
  height: 154pt;
  width: 264pt;
}
.calibre210 {
  height: 116pt;
  width: 235pt;
}
.calibre211 {
  height: 124pt;
  width: 233pt;
}
.calibre212 {
  height: 66.8pt;
  width: 67.5pt;
}
.calibre213 {
  height: 168pt;
  width: 226pt;
}
.calibre214 {
  height: 202pt;
  width: 232pt;
}
.calibre215 {
  height: 66pt;
  line-height: 1.2;
  width: 66pt;
}
.calibre216 {
  height: 218pt;
  width: 492pt;
}
.calibre217 {
  height: 66.8pt;
  line-height: 1.2;
  width: 66pt;
}
.calibre218 {
  height: 186pt;
  width: 468pt;
}
.calibre219 {
  height: 65.3pt;
  line-height: 1.2;
  width: 65.3pt;
}
.calibre220 {
  height: 198pt;
  width: 415pt;
}
.calibre221 {
  height: 187pt;
  width: 363pt;
}
.calibre222 {
  height: 88pt;
  width: 89.5pt;
}
.calibre223 {
  height: 128pt;
  width: 241pt;
}
.calibre224 {
  height: 190pt;
  width: 238pt;
}
.calibre225 {
  height: 146pt;
  width: 243pt;
}
.calibre226 {
  height: 133pt;
  width: 251pt;
}
.calibre227 {
  height: 213pt;
  width: 223pt;
}
.calibre228 {
  height: 74.3pt;
  line-height: 1.2;
  width: 73.5pt;
}
.calibre229 {
  height: 199pt;
  width: 468pt;
}
.calibre230 {
  height: 262pt;
  width: 540pt;
}
.calibre231 {
  height: 64.5pt;
  line-height: 1.2;
  width: 63pt;
}
.calibre232 {
  height: 162pt;
  width: 237pt;
}
.calibre233 {
  height: 93pt;
  width: 220pt;
}
.calibre234 {
  height: 111pt;
  width: 85.5pt;
}
.calibre235 {
  height: 181pt;
  width: 468pt;
}
.calibre236 {
  height: 120pt;
  width: 237pt;
}
.calibre237 {
  height: 148pt;
  width: 232pt;
}
.calibre238 {
  height: 125pt;
  width: 204pt;
}
.calibre239 {
  height: 164pt;
  width: 235pt;
}
.calibre240 {
  height: 149pt;
  width: 222pt;
}
.calibre241 {
  height: 106pt;
  width: 468pt;
}
.calibre242 {
  height: 116pt;
  width: 148pt;
}
.calibre243 {
  height: 117pt;
  width: 182pt;
}
.calibre244 {
  height: 78pt;
  line-height: 1.2;
  width: 75.8pt;
}
.calibre245 {
  height: 85pt;
  width: 468pt;
}
.calibre246 {
  height: 358pt;
  width: 227pt;
}
.calibre247 {
  height: 151pt;
  width: 242pt;
}
.calibre248 {
  height: 131pt;
  width: 238pt;
}
.calibre249 {
  height: 264pt;
  width: 213pt;
}
.calibre250 {
  height: 169pt;
  width: 265pt;
}
.calibre251 {
  height: 113pt;
  width: 175pt;
}
.calibre252 {
  height: 127pt;
  width: 173pt;
}
.calibre253 {
  height: 120pt;
  width: 173pt;
}
.calibre254 {
  height: 135pt;
  width: 194pt;
}
.calibre255 {
  height: 101pt;
  width: 211pt;
}
.calibre256 {
  height: 75.8pt;
  width: 143pt;
}
.calibre257 {
  height: 211pt;
  width: 468pt;
}
.calibre258 {
  height: 66.8pt;
  width: 65.3pt;
}
.calibre259 {
  height: 94.5pt;
  width: 66pt;
}
.calibre260 {
  height: 195pt;
  width: 231pt;
}
.calibre261 {
  height: 123pt;
  width: 229pt;
}
.calibre262 {
  height: 122pt;
  width: 160pt;
}
.calibre263 {
  height: 99.8pt;
  width: 71.2pt;
}
.calibre264 {
  height: 130pt;
  width: 197pt;
}
.calibre265 {
  height: 80pt;
  width: 248pt;
}
.calibre266 {
  height: 120pt;
  width: 232pt;
}
.calibre267 {
  height: 138pt;
  width: 209pt;
}
.calibre268 {
  height: 141pt;
  width: 244pt;
}
.calibre269 {
  height: 147pt;
  width: 236pt;
}
.calibre270 {
  height: 64.5pt;
  width: 64.5pt;
}
.calibre271 {
  height: 107pt;
  width: 233pt;
}
.calibre272 {
  height: 143pt;
  width: 245pt;
}
.calibre273 {
  height: 141pt;
  width: 241pt;
}
.calibre274 {
  height: 63.8pt;
  line-height: 1.2;
  width: 64.5pt;
}
.calibre275 {
  height: 244pt;
  width: 468pt;
}
.calibre276 {
  height: 65.3pt;
  width: 63pt;
}
.calibre277 {
  height: 156pt;
  width: 468pt;
}
.calibre278 {
  height: 117pt;
  width: 251pt;
}
.calibre279 {
  height: 162pt;
  width: 241pt;
}
.calibre280 {
  height: 259pt;
  width: 224pt;
}
.calibre281 {
  height: 233pt;
  width: 232pt;
}
.calibre282 {
  height: 122pt;
  width: 227pt;
}
.calibre283 {
  height: 89.2pt;
  width: 110pt;
}
.calibre284 {
  height: 93pt;
  width: 109pt;
}
.calibre285 {
  height: 142pt;
  width: 220pt;
}
.calibre286 {
  height: 135pt;
  width: 232pt;
}
.calibre287 {
  height: 149pt;
  width: 235pt;
}
.calibre288 {
  height: 144pt;
  width: 230pt;
}
.calibre289 {
  height: 148pt;
  width: 227pt;
}
.calibre290 {
  height: 88.7pt;
  width: 468pt;
}
.calibre291 {
  height: 158pt;
  width: 232pt;
}
.calibre292 {
  height: 139pt;
  width: 270pt;
}
.calibre293 {
  height: 66pt;
  line-height: 1.2;
  width: 64.5pt;
}
.calibre294 {
  height: 146pt;
  width: 230pt;
}
.calibre295 {
  height: 249pt;
  width: 237pt;
}
.calibre296 {
  height: 400pt;
  width: 478pt;
}
.calibre297 {
  height: 128pt;
  width: 233pt;
}
.calibre298 {
  height: 187pt;
  width: 468pt;
}
.calibre299 {
  height: 68.3pt;
  width: 66pt;
}
.calibre300 {
  height: 66.8pt;
  line-height: 1.2;
  width: 63pt;
}
.calibre301 {
  height: 158pt;
  width: 468pt;
}
.calibre302 {
  height: 135pt;
  width: 236pt;
}
.calibre303 {
  height: 133pt;
  width: 245pt;
}
.calibre304 {
  height: 133pt;
  width: 255pt;
}
.calibre305 {
  height: 163pt;
  width: 191pt;
}
.calibre306 {
  height: 164pt;
  width: 211pt;
}
.calibre307 {
  height: 148pt;
  width: 214pt;
}
.calibre308 {
  height: 203pt;
  width: 468pt;
}
.calibre309 {
  height: 145pt;
  width: 205pt;
}
.calibre310 {
  height: 115pt;
  width: 228pt;
}
.calibre311 {
  height: 115pt;
  width: 230pt;
}
.calibre312 {
  height: 165pt;
  width: 249pt;
}
.calibre313 {
  height: 140pt;
  width: 229pt;
}
.calibre314 {
  height: 229pt;
  width: 246pt;
}
.calibre315 {
  height: 173pt;
  width: 245pt;
}
.calibre316 {
  height: 65.3pt;
  width: 66pt;
}
.calibre317 {
  height: 111pt;
  width: 242pt;
}
.calibre318 {
  height: 67.5pt;
  line-height: 1.2;
  width: 67.5pt;
}
.calibre319 {
  height: 275pt;
  width: 468pt;
}
.calibre320 {
  height: 76.7pt;
  width: 468pt;
}
.calibre321 {
  height: 66pt;
  width: 68.3pt;
}
.calibre322 {
  height: 200pt;
  width: 232pt;
}
.calibre323 {
  height: 137pt;
  width: 216pt;
}
.calibre324 {
  height: 157pt;
  width: 179pt;
}
.calibre325 {
  height: 132pt;
  width: 247pt;
}
.calibre326 {
  height: 121pt;
  width: 235pt;
}
.calibre327 {
  height: 118pt;
  width: 232pt;
}
.calibre328 {
  height: 118pt;
  width: 231pt;
}
.calibre329 {
  height: 217pt;
  width: 231pt;
}
.calibre330 {
  height: 121pt;
  width: 468pt;
}
.calibre331 {
  height: 135pt;
  width: 468pt;
}
.calibre332 {
  height: 195pt;
  width: 200pt;
}
.calibre333 {
  height: 199pt;
  width: 234pt;
}
.calibre334 {
  height: 235pt;
  width: 468pt;
}
.calibre335 {
  height: 74.3pt;
  width: 70.5pt;
}
.calibre336 {
  height: 132pt;
  width: 228pt;
}
.calibre337 {
  height: 129pt;
  width: 235pt;
}
.calibre338 {
  height: 130pt;
  width: 230pt;
}
.calibre339 {
  height: 133pt;
  width: 232pt;
}
.calibre340 {
  height: 62.3pt;
  width: 62.3pt;
}
.calibre341 {
  height: 66.8pt;
  line-height: 1.2;
  width: 70.5pt;
}
.calibre342 {
  height: 234pt;
  width: 468pt;
}
.calibre343 {
  height: 119pt;
  width: 468pt;
}
.calibre344 {
  height: 142pt;
  width: 257pt;
}
.calibre345 {
  height: 79.1pt;
  width: 196pt;
}
.calibre346 {
  height: 233pt;
  width: 247pt;
}
.calibre347 {
  height: 162pt;
  width: 171pt;
}
.calibre348 {
  height: 246pt;
  width: 250pt;
}
.calibre349 {
  height: 179pt;
  width: 241pt;
}
.calibre350 {
  height: 218pt;
  width: 243pt;
}
.calibre351 {
  height: 192pt;
  width: 249pt;
}
.calibre352 {
  height: 250pt;
  width: 219pt;
}
.calibre353 {
  height: 127pt;
  width: 231pt;
}
.calibre354 {
  height: 134pt;
  width: 139pt;
}
.calibre355 {
  height: 129pt;
  width: 246pt;
}
.calibre356 {
  height: 116pt;
  width: 234pt;
}
.calibre357 {
  height: 114pt;
  width: 229pt;
}
.calibre358 {
  height: 66.8pt;
  line-height: 1.2;
  width: 66.8pt;
}
.calibre359 {
  height: 254pt;
  width: 468pt;
}
.calibre360 {
  height: 264pt;
  width: 253pt;
}
.calibre361 {
  height: 140pt;
  width: 251pt;
}
.calibre362 {
  height: 200pt;
  width: 198pt;
}
.calibre363 {
  height: 129pt;
  width: 232pt;
}
.calibre364 {
  height: 250pt;
  width: 236pt;
}
.calibre365 {
  height: 206pt;
  line-height: 1.2;
  width: 468pt;
}
.calibre366 {
  height: 156pt;
  line-height: 1.2;
  width: 240pt;
}
.calibre367 {
  height: 307pt;
  width: 239pt;
}
.calibre368 {
  height: 142pt;
  width: 248pt;
}
.calibre369 {
  height: 237pt;
  width: 230pt;
}
.calibre370 {
  height: 173pt;
  width: 468pt;
}
.calibre371 {
  height: 202pt;
  width: 228pt;
}
.calibre372 {
  height: 137pt;
  width: 190pt;
}
.calibre373 {
  height: 153pt;
  width: 180pt;
}
.calibre374 {
  height: 103pt;
  width: 240pt;
}
.calibre375 {
  height: 269pt;
  width: 239pt;
}
.calibre376 {
  height: 150pt;
  width: 243pt;
}
.calibre377 {
  height: 159pt;
  width: 239pt;
}
.calibre378 {
  height: 144pt;
  width: 157pt;
}
.calibre379 {
  height: 221pt;
  width: 468pt;
}
.calibre380 {
  height: 149pt;
  width: 335pt;
}
.calibre381 {
  height: 221pt;
  width: 234pt;
}
.calibre382 {
  height: 130pt;
  width: 190pt;
}
.calibre383 {
  height: 238pt;
  width: 251pt;
}
.calibre384 {
  height: 205pt;
  width: 239pt;
}
.calibre385 {
  height: 67.5pt;
  line-height: 1.2;
  width: 63pt;
}
.calibre386 {
  height: 253pt;
  width: 468pt;
}
.calibre387 {
  height: 81pt;
  width: 74.2pt;
}
.calibre388 {
  height: 109pt;
  width: 468pt;
}
.calibre389 {
  height: 87.5pt;
  width: 230pt;
}
.calibre390 {
  height: 127pt;
  width: 468pt;
}
.calibre391 {
  height: 125pt;
  width: 231pt;
}
.calibre392 {
  height: 128pt;
  width: 231pt;
}
.calibre393 {
  height: 126pt;
  width: 232pt;
}
.calibre394 {
  height: 125pt;
  width: 216pt;
}
.calibre395 {
  height: 93pt;
  width: 232pt;
}
.calibre396 {
  height: 125pt;
  width: 229pt;
}
.calibre397 {
  height: 110pt;
  line-height: 1.2;
  width: 196pt;
}
.calibre398 {
  height: 103pt;
  width: 468pt;
}
.calibre399 {
  height: 117pt;
  width: 230pt;
}
.calibre400 {
  height: 113pt;
  width: 231pt;
}
.calibre401 {
  height: 147pt;
  width: 233pt;
}
.calibre402 {
  height: 196pt;
  width: 229pt;
}
.calibre403 {
  height: 130pt;
  width: 229pt;
}
.calibre404 {
  height: 133pt;
  width: 230pt;
}
.calibre405 {
  height: 145pt;
  width: 229pt;
}
.calibre406 {
  height: 103pt;
  width: 227pt;
}
.calibre407 {
  height: 122pt;
  width: 231pt;
}
.calibre408 {
  height: 149pt;
  width: 234pt;
}
.calibre409 {
  height: 128pt;
  width: 229pt;
}
.calibre410 {
  height: 155pt;
  width: 233pt;
}
.calibre411 {
  height: 141pt;
  width: 540pt;
}
.calibre412 {
  height: 122pt;
  line-height: 1.2;
  width: 468pt;
}
.calibre413 {
  height: 118pt;
  width: 230pt;
}
.calibre414 {
  height: 110pt;
  width: 164pt;
}
.calibre415 {
  height: 67.5pt;
  line-height: 1.2;
  width: 69pt;
}
.calibre416 {
  height: 243pt;
  width: 468pt;
}
.calibre417 {
  height: 148pt;
  width: 473pt;
}
.calibre418 {
  height: 68.3pt;
  width: 68.3pt;
}
.calibre419 {
  height: 113pt;
  width: 233pt;
}
.calibre420 {
  height: 119pt;
  width: 233pt;
}
.calibre421 {
  height: 86.2pt;
  width: 97.5pt;
}
.calibre422 {
  height: 114pt;
  width: 227pt;
}
.calibre423 {
  height: 94.5pt;
  width: 162pt;
}
.calibre424 {
  height: 163pt;
  width: 229pt;
}
.calibre425 {
  height: 112pt;
  width: 230pt;
}
.calibre426 {
  height: 108pt;
  width: 90.8pt;
}
.calibre427 {
  height: 84pt;
  width: 81pt;
}
.calibre428 {
  height: 171pt;
  width: 214pt;
}
.calibre429 {
  height: 225pt;
  width: 240pt;
}
.calibre430 {
  height: 66.8pt;
  width: 95.2pt;
}
.calibre431 {
  height: 114pt;
  width: 190pt;
}
.calibre432 {
  height: 165pt;
  width: 246pt;
}
.calibre433 {
  height: 131pt;
  width: 233pt;
}
.calibre434 {
  height: 125pt;
  width: 233pt;
}
.calibre435 {
  height: 67.5pt;
  line-height: 1.2;
  width: 65.3pt;
}
.calibre436 {
  height: 251pt;
  width: 468pt;
}
.calibre437 {
  height: 81.8pt;
  width: 167pt;
}
.calibre438 {
  height: 295pt;
  width: 416pt;
}
.calibre439 {
  height: 156pt;
  width: 238pt;
}
.calibre440 {
  height: 88.5pt;
  width: 241pt;
}
.calibre441 {
  height: 177pt;
  width: 252pt;
}
.calibre442 {
  height: 220pt;
  width: 210pt;
}
.calibre443 {
  height: 350pt;
  width: 208pt;
}
.calibre444 {
  height: 147pt;
  width: 247pt;
}
.calibre445 {
  height: 231pt;
  width: 468pt;
}
.calibre446 {
  height: 64.5pt;
  line-height: 1.2;
  width: 66pt;
}
.calibre447 {
  height: 82.5pt;
  width: 73.5pt;
}
.list_ {
  display: block;
  list-style-type: decimal;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0;
}
.tab {
  line-height: 1.2;
  white-space: pre-wrap;
}
.tab1 {
  white-space: pre-wrap;
}
.table_ {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  text-indent: 0;
  width: 100%;
  padding: 0;
  border: #000 solid 1pt;
}
.table_1 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  text-indent: 0;
  padding: 0;
  border: #000 solid 1pt;
}
.table_2 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: -0.25pt;
  margin-top: 0;
  text-indent: 0;
  padding: 0;
  border: #000 solid 1pt;
}
.table_3 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  text-indent: 0;
  width: 98.3%;
  padding: 0;
  border: #000 solid 1pt;
}
.table_4 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  text-indent: 0;
  width: 98.7%;
  padding: 0;
  border: #000 solid 1pt;
}
.table_5 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  text-indent: 0;
  width: 99.9%;
  padding: 0;
  border: #000 solid 1pt;
}
.td_ {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 9.58%;
  padding: 0.5ex 5.4pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_1 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 40.4%;
  padding: 0.5ex 5.4pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_2 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25%;
  padding: 0.5ex 5.4pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_3 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25%;
  padding: 0.5ex 5.4pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_4 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 9.58%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_5 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 40.4%;
  padding: 0.5ex 5.4pt;
  border: #000 solid 1pt;
}
.td_6 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25%;
  padding: 0.5ex 5.4pt;
  border: #000 solid 1pt;
}
.td_7 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_8 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 9.58%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
}
.td_9 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 40.4%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_10 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_11 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_12 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_13 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_14 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_15 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_16 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border: #000 solid 1pt;
}
.td_17 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_18 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
}
.td_19 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_20 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_21 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 50%;
  padding: 0.5ex 5.4pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_22 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 50%;
  padding: 0.5ex 5.4pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_23 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 50%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_24 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 50%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_25 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 50%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
}
.td_26 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 50%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_27 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 120pt;
  padding: 0.5ex 5.4pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_28 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 120pt;
  padding: 0.5ex 5.4pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_29 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 120pt;
  padding: 0.5ex 5.4pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_30 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 120pt;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_31 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 120pt;
  padding: 0.5ex 5.4pt;
  border: #000 solid 1pt;
}
.td_32 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 120pt;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_33 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 120pt;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
}
.td_34 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 120pt;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_35 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 120pt;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_36 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25%;
  padding: 0.5ex 5.4pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_37 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_38 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
}
.td_39 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 238pt;
  padding: 0.5ex 5.4pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_40 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 212pt;
  padding: 0.5ex 5.4pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_41 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 238pt;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_42 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 212pt;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_43 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 238pt;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
}
.td_44 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 212pt;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_45 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 239pt;
  padding: 0.5ex 5.4pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_46 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 239pt;
  padding: 0.5ex 5.4pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_47 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 239pt;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_48 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 239pt;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_49 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 239pt;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
}
.td_50 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 239pt;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_51 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt 0;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_52 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: #000 solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_53 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0 5.4pt 0.5ex;
  border-top: currentColor solid 1pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_54 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0 5.4pt 0.5ex;
  border-top: currentColor solid 1pt;
  border-right: #000 solid 1pt;
}
.td_55 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 19.7%;
  padding: 0.5ex 5.4pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_56 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 47%;
  padding: 0.5ex 5.4pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_57 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 19.7%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_58 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 47%;
  padding: 0.5ex 5.4pt;
  border: #000 solid 1pt;
}
.td_59 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 19.7%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
}
.td_60 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 47%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_61 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 113pt;
  padding: 0.5ex 5.4pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_62 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 213pt;
  padding: 0.5ex 5.4pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_63 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 113pt;
  padding: 0.5ex 5.4pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_64 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 113pt;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_65 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 213pt;
  padding: 0.5ex 5.4pt;
  border: #000 solid 1pt;
}
.td_66 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 113pt;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_67 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 113pt;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
}
.td_68 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 213pt;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_69 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 113pt;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_70 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 0.5ex 5.4pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_71 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 0.5ex 5.4pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_72 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 0.5ex 5.4pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_73 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_74 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 0.5ex 5.4pt;
  border: #000 solid 1pt;
}
.td_75 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_76 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
}
.td_77 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_78 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_79 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 20%;
  padding: 0.5ex 5.4pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_80 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 20%;
  padding: 0.5ex 5.4pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_81 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 20%;
  padding: 0.5ex 5.4pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_82 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 20%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_83 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 20%;
  padding: 0.5ex 5.4pt;
  border: #000 solid 1pt;
}
.td_84 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 20%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_85 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 20%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
}
.td_86 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 20%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_87 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 20%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_88 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 95.8pt;
  padding: 0.5ex 5.4pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_89 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 95.8pt;
  padding: 0.5ex 5.4pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_90 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 95.8pt;
  padding: 0.5ex 5.4pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_91 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 95.8pt;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_92 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 95.8pt;
  padding: 0.5ex 5.4pt;
  border: #000 solid 1pt;
}
.td_93 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 95.8pt;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_94 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 95.8pt;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
}
.td_95 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 95.8pt;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_96 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 95.8pt;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_97 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-right: #000 solid 1pt;
}
.td_98 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-right: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_99 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-left: #000 solid 1pt;
}
.td_100 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 14.3%;
  padding: 0.5ex 5.4pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_101 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 14.3%;
  padding: 0.5ex 5.4pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_102 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 14.3%;
  padding: 0.5ex 5.4pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_103 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 14.3%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_104 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 14.3%;
  padding: 0.5ex 5.4pt;
  border: #000 solid 1pt;
}
.td_105 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 14.3%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_106 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 14.3%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
}
.td_107 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 14.3%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_108 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 14.3%;
  padding: 0.5ex 5.4pt;
  border-top: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.text_ {
  color: #0563C1;
  text-decoration: underline solid;
}
.text_1 {
  color: currentColor;
  font-family: "Calibri Light", sans-serif;
  font-weight: bold;
  line-height: 1.2;
}
.text_2 {
  font-family: "Calibri", sans-serif;
  line-height: 1.2;
}
.text_3 {
  color: #5B9BD5;
  font-family: "Calibri Light", sans-serif;
  font-weight: bold;
}
.text_4 {
  font-family: "Calibri", sans-serif;
}
.text_5 {
  color: currentColor;
  font-family: "Calibri Light", sans-serif;
  font-weight: bold;
}
.text_6 {
  background-color: #FFF;
  color: #202124;
  font-family: "Arial", sans-serif;
}
.text_7 {
  color: #5B9BD5;
  font-weight: bold;
  line-height: 1.2;
}
.text_8 {
  color: currentColor;
  font-weight: bold;
  line-height: 1.2;
}
.text_9 {
  color: #0563C1;
  line-height: 1.2;
  text-decoration: underline solid;
}
.text_10 {
  font-family: "Cambria Math", serif;
}
.text_11 {
  font-size: 1.33333em;
}
.text_12 {
  font-size: 1em;
}
.text_13 {
  color: #000;
}
.text_14 {
  font-family: "Segoe UI", sans-serif;
}
.text_15 {
  font-family: "Calibri", sans-serif;
  font-weight: bold;
}
.text_16 {
  font-family: "Latha", sans-serif;
}
.text_17 {
  font-family: "Calibri", sans-serif;
  font-size: 1em;
}
.text_18 {
  font-family: "Latha", sans-serif;
  font-size: 1.33333em;
}
.text_19 {
  font-family: "Calibri", sans-serif;
  font-size: 1.33333em;
}
