@page {
  margin-bottom: 5pt;
  margin-top: 5pt;
}
@font-face {
  font-family: "Vijaya";
  src: url(fonts/Vijaya_-_Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto_-_Regular.ttf);
}
@font-face {
  font-family: "Microsoft YaHei";
  src: url(fonts/Microsoft_YaHei_-_Regular.ttf);
}
@font-face {
  font-family: "EB Garamond";
  src: url(fonts/EB_Garamond_-_Regular.ttf);
}
@font-face {
  font-family: "Latha";
  src: url(fonts/Latha_-_Regular.ttf);
}
@font-face {
  font-family: "Calibri";
  src: url(fonts/Calibri_-_Regular.ttf);
}
@font-face {
  font-family: "Calibri";
  src: url(fonts/Calibri_-_Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Cambria Math";
  src: url(fonts/Cambria_Math_-_Regular.ttf);
}
@font-face {
  font-family: "Calibri";
  src: url(fonts/Calibri_-_Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: "Calibri Light";
  src: url(fonts/Calibri_Light_-_Regular.ttf);
}
