.block_ {
  display: block;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.block_1 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.block_2 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_3 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 38.5pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_4 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 8pt;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_5 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 8pt 18pt;
  padding: 0;
}
.block_6 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 72pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_7 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 72pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_8 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 8pt;
  margin-left: 72pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_9 {
  display: block;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.block_10 {
  color: #2F5496;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: normal;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 54pt 0 0;
  padding: 0;
}
.block_11 {
  color: #2F5496;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: normal;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 12pt 0 0;
  padding: 0;
}
.block_12 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_13 {
  color: #2F5496;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: normal;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 2pt 0 0;
  padding: 0;
}
.block_14 {
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 8pt;
  padding: 0;
}
.block_15 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  margin: 0 0 8pt;
  padding: 0;
}
.block_16 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.block_17 {
  display: block;
  font-size: 0.83333em;
  line-height: 1.5;
  text-align: center;
  margin: 0 0 8pt;
  padding: 0;
}
.block_18 {
  display: block;
  line-height: 1.5;
  text-align: center;
  margin: 0 0 8pt;
  padding: 0;
}
.block_19 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  text-align: center;
  margin: 0 0 8pt;
  padding: 0;
}
.block_20 {
  color: #2F5496;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 2pt 0 0;
  padding: 0;
}
.block_21 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  padding: 0;
}
.block_22 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.block_23 {
  display: block;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0 0 8pt;
  padding: 0;
}
.block_24 {
  display: block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.block_25 {
  display: block;
  font-size: 1em;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.block_26 {
  display: block;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.block_27 {
  display: block;
  font-size: 1.29167em;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.block_28 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.block_29 {
  display: block;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.block_30 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 8pt;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_31 {
  display: block;
  line-height: 1.5;
  margin: 0 0 8pt 18pt;
  padding: 0;
}
.block_32 {
  display: block;
  font-size: 0.83333em;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}
.block_33 {
  display: block;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.block_34 {
  display: block;
  line-height: 1.5;
  margin: 0 0 8pt -1.4pt;
  padding: 0;
}
.block_35 {
  display: block;
  line-height: 1.5;
  text-align: center;
  margin: 0 0 8pt -1.4pt;
  padding: 0;
}
.block_36 {
  display: block;
  line-height: 1.2;
  margin: 0 0 8pt;
  padding: 0;
}
.block_37 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0 0 8pt -1.4pt;
  padding: 0;
}
.block_38 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  margin: 0 0 8pt -1.4pt;
  padding: 0;
}
.block_39 {
  display: block;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}
.block_40 {
  display: block;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.block_41 {
  display: block;
  text-align: center;
  margin: 0 0 8pt;
  padding: 0;
}
.block_42 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  padding: 0;
}
.block_43 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 38.5pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_44 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 8pt;
  margin-left: 38.5pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_45 {
  display: block;
  margin: 0 0 8pt;
  padding: 0;
}
.block_46 {
  display: block;
  font-weight: bold;
  text-align: center;
  margin: 0 0 8pt;
  padding: 0;
}
.block_47 {
  display: block;
  line-height: 1.5;
  text-align: justify;
  margin: 0;
  padding: 0;
}
.block_48 {
  display: block;
  line-height: 1.5;
  text-align: justify;
  text-indent: 36pt;
  margin: 0;
  padding: 0;
}
.block_49 {
  display: block;
  line-height: 1.5;
  text-align: justify;
  margin: 0 0 8pt;
  padding: 0;
}
.block_50 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-align: justify;
  margin: 0 0 8pt;
  padding: 0;
}
.block_51 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0 0 8pt 18pt;
  padding: 0;
}
.block_52 {
  color: #1F3763;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 2pt 0 0;
  padding: 0;
}
.block_53 {
  color: #5F6368;
  display: block;
  font-size: 1em;
  letter-spacing: 0.05pt;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.block_54 {
  display: block;
  font-family: "Roboto", serif;
  font-size: 1em;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.block_55 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  margin: 0;
  padding: 0;
}
.block_56 {
  background-color: #FFF;
  color: #5F6368;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  letter-spacing: 0.05pt;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
.block_57 {
  background-color: #FFF;
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  margin: 0;
  padding: 0;
}
.block_58 {
  background-color: #FFF;
  color: #5F6368;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  letter-spacing: 0.05pt;
  line-height: 1.2;
  margin: 0 0 8pt;
  padding: 0;
}
.block_59 {
  display: block;
  font-style: italic;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.block_60 {
  display: block;
  font-size: 0.83333em;
  line-height: 1.2;
  margin: 0 0 8pt;
  padding: 0;
}
.block_61 {
  display: block;
  font-weight: bold;
  margin: 0 0 8pt;
  padding: 0;
}
.block_62 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0 0 8pt 36pt;
  padding: 0;
}
.block_63 {
  display: block;
  line-height: 1.5;
  margin: 0 0 8pt 36pt;
  padding: 0;
}
.block_64 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0 0 0 36pt;
  padding: 0;
}
.block_65 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 54pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_66 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_67 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 8pt;
  margin-left: 54pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_68 {
  color: #2F5496;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 12pt 0 0;
  padding: 0;
}
.block_69 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-indent: 21.3pt;
  margin: 0 0 8pt -21.3pt;
  padding: 0;
}
.block_70 {
  display: block;
  font-family: serif;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.block_71 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 8pt 36pt;
  padding: 0;
}
.block_72 {
  display: list-item;
  font-family: serif;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: -14.2pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_73 {
  display: list-item;
  font-family: serif;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: -14.2pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_74 {
  display: list-item;
  font-family: "TAU-Marutham", sans-serif;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: -14.2pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_75 {
  display: list-item;
  font-family: serif;
  line-height: 1.5;
  margin-bottom: 8pt;
  margin-left: -14.2pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_76 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 8pt -32.2pt;
  padding: 0;
}
.block_77 {
  display: block;
  line-height: 1.5;
  margin: 0 0 8pt -32.2pt;
  padding: 0;
}
.block_78 {
  display: block;
  font-family: serif;
  line-height: 1.5;
  margin: 0 0 8pt -32.2pt;
  padding: 0;
}
.block_79 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-align: justify;
  margin: 0 0 8pt -32.2pt;
  padding: 0;
}
.block_80 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.2;
  margin: 0 0 8pt;
  padding: 0;
}
.calibre {
  display: block;
  font-family: "Calibri", sans-serif;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  white-space: pre-wrap;
}
.calibre2 {
  height: 108pt;
  width: 120pt;
}
.calibre3 {
  font-weight: bold;
}
.calibre4 {
  height: 290pt;
  width: 248pt;
}
.calibre5 {
  height: 277pt;
  width: 246pt;
}
.calibre6 {
  height: 154pt;
  width: 127pt;
}
.calibre7 {
  height: 140pt;
  width: 143pt;
}
.calibre8 {
  height: 239pt;
  width: 354pt;
}
.calibre9 {
  height: 119pt;
  width: 134pt;
}
.calibre10 {
  display: table-row-group;
  vertical-align: middle;
}
.calibre11 {
  display: table-row;
  vertical-align: inherit;
}
.calibre12 {
  height: 33.8pt;
  width: 52.5pt;
}
.calibre13 {
  height: 33pt;
  width: 56.3pt;
}
.calibre14 {
  height: 41.3pt;
  width: 51pt;
}
.calibre15 {
  height: 43.5pt;
  width: 38.3pt;
}
.calibre16 {
  height: 93.8pt;
  width: 176pt;
}
.calibre17 {
  height: 66.8pt;
  width: 116pt;
}
.calibre18 {
  height: 54.8pt;
  width: 111pt;
}
.calibre19 {
  height: 69.8pt;
  width: 72.8pt;
}
.calibre20 {
  height: 64.5pt;
  width: 68.3pt;
}
.calibre21 {
  height: 137pt;
  width: 230pt;
}
.calibre22 {
  height: 120pt;
  width: 116pt;
}
.calibre23 {
  height: 127pt;
  width: 160pt;
}
.calibre24 {
  height: 369pt;
  width: 286pt;
}
.calibre25 {
  height: 173pt;
  width: 227pt;
}
.calibre26 {
  height: 159pt;
  width: 239pt;
}
.calibre27 {
  height: 85.5pt;
  width: 109pt;
}
.calibre28 {
  height: 181pt;
  width: 451pt;
}
.calibre29 {
  height: 97.5pt;
  width: 93.8pt;
}
.calibre30 {
  height: 107pt;
  width: 110pt;
}
.calibre31 {
  height: 53.2pt;
  width: 215pt;
}
.calibre32 {
  height: 160pt;
  width: 274pt;
}
.calibre33 {
  height: 187pt;
  width: 451pt;
}
.calibre34 {
  height: 127pt;
  width: 135pt;
}
.calibre35 {
  height: 205pt;
  width: 314pt;
}
.calibre36 {
  height: 126pt;
  width: 123pt;
}
.calibre37 {
  height: 171pt;
  width: 224pt;
}
.calibre38 {
  height: 191pt;
  width: 277pt;
}
.calibre39 {
  height: 193pt;
  width: 226pt;
}
.calibre40 {
  height: 159pt;
  width: 296pt;
}
.calibre41 {
  height: 150pt;
  width: 270pt;
}
.calibre42 {
  height: 142pt;
  width: 280pt;
}
.calibre43 {
  height: 73.5pt;
  width: 362pt;
}
.calibre44 {
  height: 174pt;
  width: 370pt;
}
.calibre45 {
  height: 174pt;
  width: 292pt;
}
.calibre46 {
  height: 99.9pt;
  width: 294pt;
}
.calibre47 {
  height: 95.2pt;
  width: 124pt;
}
.calibre48 {
  height: 97.5pt;
  width: 453pt;
}
.calibre49 {
  height: 119pt;
  width: 417pt;
}
.calibre50 {
  height: 65.9pt;
  width: 65.5pt;
}
.calibre51 {
  height: 90.8pt;
  width: 193pt;
}
.calibre52 {
  height: 81.6pt;
  width: 441pt;
}
.calibre53 {
  height: 131pt;
  width: 375pt;
}
.calibre54 {
  display: block;
}
.calibre55 {
  height: 70.6pt;
  width: 320pt;
}
.calibre56 {
  height: 176pt;
  width: 229pt;
}
.calibre57 {
  height: 140pt;
  width: 167pt;
}
.calibre58 {
  height: 191pt;
  width: 237pt;
}
.calibre59 {
  height: 142pt;
  width: 184pt;
}
.calibre60 {
  height: 198pt;
  width: 247pt;
}
.calibre61 {
  height: 185pt;
  width: 236pt;
}
.calibre62 {
  height: 224pt;
  width: 295pt;
}
.calibre63 {
  height: 154pt;
  width: 200pt;
}
.calibre64 {
  height: 142pt;
  width: 188pt;
}
.calibre65 {
  height: 140pt;
  width: 186pt;
}
.calibre66 {
  height: 120pt;
  width: 106pt;
}
.calibre67 {
  height: 154pt;
  width: 163pt;
}
.calibre68 {
  height: 72pt;
  width: 68.3pt;
}
.calibre69 {
  height: 173pt;
  width: 291pt;
}
.calibre70 {
  height: 115pt;
  width: 489pt;
}
.calibre71 {
  height: 137pt;
  width: 416pt;
}
.calibre72 {
  height: 157pt;
  width: 149pt;
}
.calibre73 {
  height: 221pt;
  width: 188pt;
}
.calibre74 {
  height: 86.3pt;
  width: 213pt;
}
.calibre75 {
  height: 196pt;
  width: 196pt;
}
.calibre76 {
  height: 148pt;
  width: 177pt;
}
.calibre77 {
  height: 101pt;
  width: 113pt;
}
.calibre78 {
  height: 96pt;
  width: 128pt;
}
.calibre79 {
  height: 143pt;
  width: 214pt;
}
.calibre80 {
  height: 149pt;
  width: 222pt;
}
.calibre81 {
  height: 107pt;
  width: 227pt;
}
.calibre82 {
  height: 125pt;
  width: 164pt;
}
.calibre83 {
  height: 74.2pt;
  width: 74.2pt;
}
.calibre84 {
  height: 116pt;
  width: 137pt;
}
.calibre85 {
  height: 99.8pt;
  width: 164pt;
}
.calibre86 {
  height: 106pt;
  width: 154pt;
}
.calibre87 {
  height: 119pt;
  width: 144pt;
}
.calibre88 {
  height: 117pt;
  width: 149pt;
}
.calibre89 {
  height: 286pt;
  width: 438pt;
}
.calibre90 {
  height: 135pt;
  width: 153pt;
}
.calibre91 {
  height: 300pt;
  width: 383pt;
}
.calibre92 {
  height: 263pt;
  width: 451pt;
}
.calibre93 {
  height: 221pt;
  width: 217pt;
}
.calibre94 {
  height: 125pt;
  width: 127pt;
}
.calibre95 {
  height: 137pt;
  width: 183pt;
}
.calibre96 {
  height: 157pt;
  width: 335pt;
}
.calibre97 {
  height: 217pt;
  width: 266pt;
}
.calibre98 {
  height: 190pt;
  width: 238pt;
}
.calibre99 {
  height: 62.3pt;
  width: 108pt;
}
.calibre100 {
  height: 60pt;
  width: 95.3pt;
}
.calibre101 {
  height: 57.8pt;
  width: 110pt;
}
.calibre102 {
  height: 104pt;
  width: 129pt;
}
.calibre103 {
  height: 101pt;
  width: 136pt;
}
.calibre104 {
  height: 87.4pt;
  width: 122pt;
}
.calibre105 {
  height: 60.5pt;
  width: 132pt;
}
.calibre106 {
  height: 71.5pt;
  width: 103pt;
}
.calibre107 {
  height: 65.5pt;
  width: 106pt;
}
.calibre108 {
  height: 68.2pt;
  width: 122pt;
}
.calibre109 {
  height: 63.3pt;
  width: 113pt;
}
.calibre110 {
  height: 84.8pt;
  width: 110pt;
}
.calibre111 {
  height: 128pt;
  width: 129pt;
}
.calibre112 {
  height: 122pt;
  width: 119pt;
}
.calibre113 {
  height: 131pt;
  width: 176pt;
}
.calibre114 {
  height: 137pt;
  width: 179pt;
}
.calibre115 {
  height: 144pt;
  width: 169pt;
}
.calibre116 {
  height: 139pt;
  width: 165pt;
}
.calibre117 {
  height: 155pt;
  width: 182pt;
}
.calibre118 {
  height: 152pt;
  width: 174pt;
}
.calibre119 {
  height: 186pt;
  width: 185pt;
}
.calibre120 {
  height: 176pt;
  width: 181pt;
}
.calibre121 {
  height: 118pt;
  width: 117pt;
}
.calibre122 {
  height: 118pt;
  width: 113pt;
}
.calibre123 {
  height: 122pt;
  width: 112pt;
}
.calibre124 {
  height: 124pt;
  width: 112pt;
}
.calibre125 {
  height: 119pt;
  width: 107pt;
}
.calibre126 {
  height: 121pt;
  width: 108pt;
}
.calibre127 {
  height: 126pt;
  width: 114pt;
}
.calibre128 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre129 {
  height: 153pt;
  width: 240pt;
}
.calibre130 {
  height: 164pt;
  width: 167pt;
}
.calibre131 {
  height: 163pt;
  width: 214pt;
}
.calibre132 {
  height: 206pt;
  width: 180pt;
}
.calibre133 {
  height: 212pt;
  width: 184pt;
}
.calibre134 {
  height: 163pt;
  width: 361pt;
}
.calibre135 {
  height: 161pt;
  width: 217pt;
}
.calibre136 {
  height: 243pt;
  width: 325pt;
}
.calibre137 {
  height: 134pt;
  width: 355pt;
}
.calibre138 {
  height: 205pt;
  width: 169pt;
}
.calibre139 {
  height: 155pt;
  width: 164pt;
}
.calibre140 {
  height: 188pt;
  width: 166pt;
}
.calibre141 {
  height: 194pt;
  width: 229pt;
}
.calibre142 {
  height: 215pt;
  width: 223pt;
}
.calibre143 {
  height: 188pt;
  width: 242pt;
}
.calibre144 {
  height: 128pt;
  width: 153pt;
}
.calibre145 {
  height: 129pt;
  width: 344pt;
}
.calibre146 {
  height: 128pt;
  width: 175pt;
}
.calibre147 {
  height: 144pt;
  width: 161pt;
}
.calibre148 {
  height: 244pt;
  width: 361pt;
}
.calibre149 {
  height: 137pt;
  width: 145pt;
}
.calibre150 {
  height: 112pt;
  width: 123pt;
}
.calibre151 {
  height: 128pt;
  width: 127pt;
}
.calibre152 {
  height: 124pt;
  width: 116pt;
}
.calibre153 {
  height: 129pt;
  width: 120pt;
}
.calibre154 {
  height: 124pt;
  width: 135pt;
}
.calibre155 {
  height: 117pt;
  width: 96pt;
}
.calibre156 {
  height: 99.8pt;
  width: 82.9pt;
}
.calibre157 {
  height: 89.5pt;
  width: 438pt;
}
.calibre158 {
  height: 89.6pt;
  width: 438pt;
}
.calibre159 {
  height: 146pt;
  width: 330pt;
}
.calibre160 {
  height: 98.6pt;
  width: 150pt;
}
.calibre161 {
  height: 112pt;
  width: 130pt;
}
.calibre162 {
  height: 92.8pt;
  width: 95.6pt;
}
.calibre163 {
  height: 103pt;
  width: 145pt;
}
.calibre164 {
  height: 200pt;
  width: 280pt;
}
.calibre165 {
  height: 437pt;
  width: 319pt;
}
.calibre166 {
  height: 99pt;
  width: 104pt;
}
.calibre167 {
  height: 109pt;
  width: 101pt;
}
.calibre168 {
  height: 264pt;
  width: 448pt;
}
.calibre169 {
  height: 106pt;
  width: 115pt;
}
.calibre170 {
  height: 194pt;
  width: 218pt;
}
.calibre171 {
  height: 287pt;
  width: 296pt;
}
.calibre172 {
  height: 72.8pt;
  width: 71.3pt;
}
.calibre173 {
  height: 74.3pt;
  width: 75.8pt;
}
.calibre174 {
  height: 77.3pt;
  width: 98.3pt;
}
.calibre175 {
  height: 72pt;
  width: 93.8pt;
}
.calibre176 {
  height: 364pt;
  width: 234pt;
}
.calibre177 {
  height: 132pt;
  width: 136pt;
}
.calibre178 {
  height: 94.5pt;
  width: 177pt;
}
.calibre179 {
  height: 208pt;
  width: 262pt;
}
.calibre180 {
  font-style: italic;
}
.calibre181 {
  height: 240pt;
  width: 280pt;
}
.calibre182 {
  height: 229pt;
  width: 290pt;
}
.calibre183 {
  height: 117pt;
  width: 247pt;
}
.calibre184 {
  height: 115pt;
  width: 189pt;
}
.calibre185 {
  height: 188pt;
  width: 405pt;
}
.calibre186 {
  height: 307pt;
  width: 372pt;
}
.calibre187 {
  height: 96pt;
  width: 115pt;
}
.calibre188 {
  height: 186pt;
  width: 187pt;
}
.calibre189 {
  height: 103pt;
  width: 191pt;
}
.calibre190 {
  height: 149pt;
  width: 338pt;
}
.calibre191 {
  height: 128pt;
  width: 192pt;
}
.calibre192 {
  height: 199pt;
  width: 371pt;
}
.calibre193 {
  height: 139pt;
  width: 114pt;
}
.calibre194 {
  height: 87.8pt;
  width: 114pt;
}
.calibre195 {
  height: 79.5pt;
  width: 101pt;
}
.calibre196 {
  height: 84pt;
  width: 92.3pt;
}
.calibre197 {
  height: 66.8pt;
  width: 178pt;
}
.calibre198 {
  height: 123pt;
  width: 200pt;
}
.calibre199 {
  height: 113pt;
  width: 167pt;
}
.calibre200 {
  height: 488pt;
  width: 342pt;
}
.calibre201 {
  line-height: 1.2;
  white-space: pre-wrap;
}
.calibre202 {
  height: 109pt;
  width: 127pt;
}
.calibre203 {
  height: 120pt;
  width: 156pt;
}
.calibre204 {
  height: 122pt;
  width: 95.6pt;
}
.calibre205 {
  height: 117pt;
  width: 162pt;
}
.calibre206 {
  height: 190pt;
  width: 247pt;
}
.calibre207 {
  height: 104pt;
  width: 132pt;
}
.calibre208 {
  height: 153pt;
  width: 213pt;
}
.calibre209 {
  height: 98.3pt;
  width: 167pt;
}
.calibre210 {
  height: 119pt;
  width: 179pt;
}
.calibre211 {
  height: 141pt;
  width: 200pt;
}
.calibre212 {
  height: 140pt;
  width: 212pt;
}
.calibre213 {
  height: 136pt;
  width: 211pt;
}
.calibre214 {
  height: 94.3pt;
  width: 165pt;
}
.calibre215 {
  height: 156pt;
  width: 257pt;
}
.calibre216 {
  height: 124pt;
  width: 217pt;
}
.calibre217 {
  height: 187pt;
  width: 247pt;
}
.calibre218 {
  height: 90.8pt;
  width: 160pt;
}
.calibre219 {
  height: 129pt;
  width: 217pt;
}
.calibre220 {
  height: 146pt;
  width: 281pt;
}
.calibre221 {
  height: 158pt;
  width: 159pt;
}
.calibre222 {
  height: 85.5pt;
  width: 85.5pt;
}
.calibre223 {
  height: 214pt;
  width: 338pt;
}
.calibre224 {
  height: 94.5pt;
  width: 94.5pt;
}
.calibre225 {
  height: 263pt;
  width: 338pt;
}
.calibre226 {
  height: 88pt;
  width: 88.5pt;
}
.calibre227 {
  height: 139pt;
  width: 131pt;
}
.calibre228 {
  height: 313pt;
  width: 310pt;
}
.calibre229 {
  display: block;
  float: left;
  height: 238pt;
  width: 247pt;
}
.calibre230 {
  height: 354pt;
  width: 327pt;
}
.calibre231 {
  height: 106pt;
  width: 186pt;
}
.calibre232 {
  height: 130pt;
  width: 433pt;
}
.calibre233 {
  height: 76.8pt;
  width: 70.5pt;
}
.calibre234 {
  height: 187pt;
  width: 252pt;
}
.calibre235 {
  height: 232pt;
  width: 455pt;
}
.calibre236 {
  height: 183pt;
  width: 274pt;
}
.calibre237 {
  height: 155pt;
  width: 288pt;
}
.calibre238 {
  height: 229pt;
  width: 338pt;
}
.calibre239 {
  height: 145pt;
  width: 283pt;
}
.calibre240 {
  height: 296pt;
  width: 334pt;
}
.calibre241 {
  display: block;
  float: left;
  height: 280pt;
  width: 378pt;
}
.calibre242 {
  height: 67.2pt;
  width: 62.8pt;
}
.calibre243 {
  height: 171pt;
  width: 290pt;
}
.calibre244 {
  height: 82.4pt;
  width: 158pt;
}
.calibre245 {
  height: 258pt;
  width: 233pt;
}
.calibre246 {
  height: 178pt;
  width: 230pt;
}
.calibre247 {
  height: 64.8pt;
  width: 180pt;
}
.calibre248 {
  height: 127pt;
  line-height: 1.2;
  width: 120pt;
}
.calibre249 {
  height: 102pt;
  width: 111pt;
}
.calibre250 {
  height: 95.9pt;
  width: 121pt;
}
.calibre251 {
  height: 265pt;
  width: 239pt;
}
.calibre252 {
  height: 372pt;
  width: 265pt;
}
.calibre253 {
  height: 174pt;
  width: 245pt;
}
.calibre254 {
  height: 70.6pt;
  width: 69.6pt;
}
.calibre255 {
  height: 96.5pt;
  width: 113pt;
}
.calibre256 {
  height: 71pt;
  width: 79.4pt;
}
.calibre257 {
  height: 85.8pt;
  width: 131pt;
}
.calibre258 {
  height: 102pt;
  width: 173pt;
}
.calibre259 {
  height: 101pt;
  width: 96.8pt;
}
.calibre260 {
  height: 155pt;
  width: 204pt;
}
.calibre261 {
  height: 183pt;
  width: 243pt;
}
.calibre262 {
  height: 211pt;
  width: 268pt;
}
.calibre263 {
  height: 112pt;
  width: 141pt;
}
.calibre264 {
  height: 97.1pt;
  width: 126pt;
}
.calibre265 {
  height: 159pt;
  width: 151pt;
}
.calibre266 {
  height: 111pt;
  width: 151pt;
}
.calibre267 {
  height: 95.3pt;
  width: 158pt;
}
.calibre268 {
  height: 81.6pt;
  width: 138pt;
}
.calibre269 {
  height: 182pt;
  width: 308pt;
}
.calibre270 {
  height: 161pt;
  width: 271pt;
}
.calibre271 {
  height: 152pt;
  width: 256pt;
}
.calibre272 {
  height: 206pt;
  width: 202pt;
}
.list_ {
  display: block;
  list-style-type: disc;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
  padding-right: 0;
  padding-top: 0;
}
.tab {
  white-space: pre-wrap;
}
.tab1 {
  line-height: 1.2;
  white-space: pre-wrap;
}
.table_ {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-top: 0;
  text-indent: 0;
}
.table_1 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  text-indent: 0;
  padding: 0;
  border: currentColor solid 1pt;
}
.table_2 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  text-indent: 0;
  width: 400pt;
  padding: 0;
  border: currentColor solid 1pt;
}
.table_3 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 1.15pt;
  margin-top: 0;
  text-indent: 0;
  padding: 0;
  border: currentColor solid 1pt;
}
.table_4 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  float: left;
  text-indent: 0;
  margin: 0 9pt;
}
.table_5 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-top: 0;
  text-indent: 0;
  width: 453pt;
}
.table_6 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-top: 0;
  text-indent: 0;
  width: 468pt;
}
.table_7 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-top: 0;
  text-indent: 0;
  width: 475pt;
}
.table_8 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-top: 0;
  text-indent: 0;
}
.td_ {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 225pt;
  padding: 0.5ex 5.75pt;
}
.td_1 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 56.5pt;
  padding: 0.5ex 5.75pt;
}
.td_2 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 169pt;
  padding: 0.5ex 5.75pt;
}
.td_3 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 113pt;
  padding: 0.5ex 5.75pt;
}
.td_4 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 169pt;
  padding: 0.5ex 5.75pt;
}
.td_5 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 109pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_6 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 109pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_7 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 109pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_8 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 109pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_9 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 109pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_10 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 109pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_11 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 109pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_12 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 109pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_13 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 109pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_14 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 70.7pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_15 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 148pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_16 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 70.7pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_17 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 148pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_18 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 70.7pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_19 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 148pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_20 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 56.5pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_21 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 63.8pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_22 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 73pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_23 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 61.7pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_24 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 81.5pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_25 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 56.5pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_26 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 63.8pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_27 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 73pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_28 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 61.7pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_29 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 81.5pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_30 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 56.5pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_31 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 63.8pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_32 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 73pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_33 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 61.7pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_34 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 81.5pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_35 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 46.7pt;
  padding: 0.5ex 5.75pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_36 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 79.5pt;
  padding: 0.5ex 5.75pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_37 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 56.7pt;
  padding: 0.5ex 5.75pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_38 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 70.8pt;
  padding: 0.5ex 5.75pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_39 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 70.9pt;
  padding: 0.5ex 5.75pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_40 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 46.7pt;
  padding: 0.5ex 5.75pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_41 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 79.5pt;
  padding: 0.5ex 5.75pt;
  border: currentColor solid 1pt;
}
.td_42 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 56.7pt;
  padding: 0.5ex 5.75pt;
  border: currentColor solid 1pt;
}
.td_43 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 70.8pt;
  padding: 0.5ex 5.75pt;
  border: currentColor solid 1pt;
}
.td_44 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 70.9pt;
  padding: 0.5ex 5.75pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_45 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 335pt;
  padding: 0.5ex 5.75pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_46 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 381pt;
  padding: 0.5ex 5.75pt;
  border-top: currentColor solid 1pt;
}
.td_47 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 84.8pt;
  padding: 0.5ex 5.75pt;
}
.td_48 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 21.3pt;
  padding: 0.5ex 5.75pt;
}
.td_49 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 21.2pt;
  padding: 0.5ex 5.75pt;
}
.td_50 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 28.4pt;
  padding: 0.5ex 5.75pt;
}
.td_51 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 64.4pt;
  padding: 0.5ex 5.75pt;
}
.td_52 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 22pt;
  padding: 0.5ex 5.75pt;
}
.td_53 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 26.8pt;
  padding: 0.5ex 5.75pt;
}
.td_54 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 27.6pt;
  padding: 0.5ex 5.75pt;
}
.td_55 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 177pt;
  padding: 0.5ex 5.75pt;
}
.td_56 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 42.5pt;
  padding: 0.5ex 5.75pt;
}
.td_57 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 49.6pt;
  padding: 0.5ex 5.75pt;
}
.td_58 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 120pt;
  padding: 0.5ex 5.75pt;
}
.td_59 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 56.7pt;
  padding: 0.5ex 5.75pt;
}
.td_60 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 49.6pt;
  padding: 0.5ex 5.75pt;
}
.td_61 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 46.5pt;
  padding: 0.5ex 5.75pt;
}
.td_62 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 64.4pt;
  padding: 0.5ex 5.75pt;
}
.td_63 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 150pt;
  padding: 0.5ex 5.75pt;
}
.td_64 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 154pt;
  padding: 0.5ex 5.75pt;
}
.td_65 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 163pt;
  padding: 0.5ex 5.75pt;
}
.td_66 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 49.4pt;
  padding: 0.5ex 5.75pt;
}
.td_67 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 120pt;
  padding: 0.5ex 5.75pt;
}
.td_68 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 128pt;
  padding: 0.5ex 5.75pt;
}
.td_69 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 63.1pt;
  padding: 0.5ex 5.75pt;
}
.td_70 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 90.2pt;
  padding: 0.5ex 5.75pt;
}
.td_71 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 128pt;
  padding: 0.5ex 5.75pt;
}
.td_72 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 63.1pt;
  padding: 0.5ex 5.75pt;
}
.td_73 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 90.2pt;
  padding: 0.5ex 5.75pt;
}
.td_74 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 52.2pt;
  padding: 0.5ex 5.75pt;
}
.td_75 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 136pt;
  padding: 0.5ex 5.75pt;
}
.td_76 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 144pt;
  padding: 0.5ex 5.75pt;
}
.td_77 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 143pt;
  padding: 0.5ex 5.75pt;
}
.td_78 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 146pt;
  padding: 0.5ex 5.75pt;
}
.td_79 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 138pt;
  padding: 0.5ex 5.75pt;
}
.td_80 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 135pt;
  padding: 0.5ex 5.75pt;
}
.td_81 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 219pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_82 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 219pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_83 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 219pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_84 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 219pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_85 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 219pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_86 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 219pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_87 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 131pt;
  padding: 0.5ex 5.75pt;
}
.td_88 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 46.2pt;
  padding: 0.5ex 5.75pt;
}
.td_89 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 56.7pt;
  padding: 0.5ex 5.75pt;
}
.td_90 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 168pt;
  padding: 0.5ex 5.75pt;
}
.td_91 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 75.1pt;
  padding: 0.5ex 5.75pt;
}
.td_92 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 75.2pt;
  padding: 0.5ex 5.75pt;
}
.td_93 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 73pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_94 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 73pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_95 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 73pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_96 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 73pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_97 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 73pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_98 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 73pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_99 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 73pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_100 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 45.5pt;
  padding: 0.5ex 5.75pt;
}
.td_101 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 98.7pt;
  padding: 0.5ex 5.75pt;
}
.td_102 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 289pt;
  padding: 0.5ex 5.75pt;
}
.td_103 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 72.2pt;
  padding: 0.5ex 5.75pt;
}
.td_104 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 433pt;
  padding: 0.5ex 5.75pt;
}
.td_105 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 216pt;
  padding: 0.5ex 5.75pt;
}
.td_106 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 451pt;
  padding: 0.5ex 5.75pt;
}
.td_107 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 99pt;
  padding: 0.5ex 5.75pt;
}
.td_108 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 89.5pt;
  padding: 0.5ex 5.75pt;
}
.td_109 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 109pt;
  padding: 0.5ex 5.75pt;
}
.td_110 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 109pt;
  padding: 0.5ex 5.75pt;
}
.td_111 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 26.5pt;
  padding: 0.5ex 5.75pt;
}
.td_112 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 68.7pt;
  padding: 0.5ex 5.75pt;
}
.td_113 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 63.8pt;
  padding: 0.5ex 5.75pt;
}
.td_114 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 78pt;
  padding: 0.5ex 5.75pt;
}
.td_115 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 196pt;
  padding: 0.5ex 5.75pt;
}
.td_116 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 71.3pt;
  padding: 0.5ex 5.75pt;
}
.td_117 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 79.2pt;
  padding: 0.5ex 5.75pt;
}
.td_118 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 28.1pt;
  padding: 0.5ex 5.75pt;
}
.td_119 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 197pt;
  padding: 0.5ex 5.75pt;
}
.td_120 {
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  width: 36.6pt;
  padding: 0.5ex 5.75pt;
}
.td_121 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 28.1pt;
  padding: 0.5ex 5.75pt;
}
.td_122 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 197pt;
  padding: 0.5ex 5.75pt;
}
.td_123 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 36.6pt;
  padding: 0.5ex 5.75pt;
}
.text_ {
  color: #0563C1;
  text-decoration: underline solid;
}
.text_1 {
  font-size: 1.2em;
}
.text_2 {
  font-size: 1.2em;
  font-weight: bold;
}
.text_3 {
  font-size: 2.2em;
  line-height: 1.2;
}
.text_4 {
  color: #5F6368;
  font-size: 1.2em;
  letter-spacing: 0.05pt;
}
.text_5 {
  color: #5F6368;
  letter-spacing: 0.1pt;
  text-decoration: none;
}
.text_6 {
  font-family: "Calibri", sans-serif;
  font-size: 1.2em;
}
.text_7 {
  font-family: "Calibri", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}
.text_8 {
  color: #5F6368;
  font-family: "Calibri", sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.1pt;
}
.text_9 {
  color: #5F6368;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.1pt;
}
.text_10 {
  font-size: 1.2em;
  line-height: 1.2;
}
.text_11 {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
}
.text_12 {
  color: #5F6368;
  font-size: 1.2em;
  letter-spacing: 0.05pt;
  line-height: 1.2;
}
.text_13 {
  color: #5F6368;
  font-size: 1.2em;
  letter-spacing: 0.1pt;
}
.text_14 {
  font-family: "Calibri Light", sans-serif;
  font-weight: bold;
}
.text_15 {
  font-family: "Vijaya", serif;
  font-weight: bold;
}
.text_16 {
  font-family: "Calibri", sans-serif;
  font-weight: bold;
}
.text_17 {
  font-family: "Calibri", sans-serif;
}
.text_18 {
  font-family: "TAU-Marutham", sans-serif;
}
.text_19 {
  font-family: "Nirmala UI", sans-serif;
}
