.block_ {
  display: block;
  line-height: 1.2;
  margin: 0 0 8pt;
  padding: 0;
}
.block_1 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.2;
  margin: 0 0 8pt;
  padding: 0;
}
.block_2 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0 0 8pt -32.2pt;
  padding: 0;
}
.block_3 {
  color: #2F5496;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 0;
  padding: 0;
}
.block_4 {
  color: #2F5496;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: normal;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 12pt 0 0;
  padding: 0;
}
.block_5 {
  display: block;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding: 0;
}
.block_6 {
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
.block_7 {
  display: block;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
.block_8 {
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 8pt;
  padding: 0;
}
.block_9 {
  display: block;
  line-height: 1.5;
  margin: 0 0 8pt -14.2pt;
  padding: 0;
}
.block_10 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0 0 8pt -14.2pt;
  padding: 0;
}
.block_11 {
  color: #2F5496;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: normal;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 0 0 0 -14.2pt;
  padding: 0;
}
.block_12 {
  color: #2F5496;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: normal;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-indent: -14.2pt;
  margin: 0;
  padding: 0;
}
.block_13 {
  color: #2F5496;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: normal;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 12pt 0 0 -14.2pt;
  padding: 0;
}
.block_14 {
  display: block;
  line-height: 1.5;
  margin: 0 0 8pt -21.3pt;
  padding: 0;
}
.block_15 {
  display: block;
  line-height: 1.5;
  margin: 0 0 0 -14.2pt;
  padding: 0;
}
.block_16 {
  color: #2F5496;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: normal;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-indent: -14.2pt;
  margin: 12pt 0 0;
  padding: 0;
}
.block_17 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0 0 0 -14.2pt;
  padding: 0;
}
.block_18 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 0 -14.2pt;
  padding: 0;
}
.block_19 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_20 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 8pt;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_21 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 8pt -14.2pt;
  padding: 0;
}
.block_22 {
  display: block;
  line-height: 1.5;
  text-align: justify;
  text-indent: -21.3pt;
  margin: 0 0 8pt -14.2pt;
  padding: 0;
}
.block_23 {
  display: block;
  line-height: 1.5;
  text-indent: -21.3pt;
  margin: 0 0 8pt -14.2pt;
  padding: 0;
}
.block_24 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 21.8pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_25 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 21.8pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_26 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 8pt;
  margin-left: 21.8pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_27 {
  display: block;
  font-family: serif;
  line-height: 1.5;
  margin: 0 0 8pt -14.2pt;
  padding: 0;
}
.block_28 {
  display: block;
  font-family: "TAU-Marutham", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 8pt -14.2pt;
  padding: 0;
}
.block_29 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  font-weight: normal;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 0 0 0 -14.2pt;
  padding: 0;
}
.block_30 {
  color: #2F5496;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 0 0 0 -14.2pt;
  padding: 0;
}
.block_31 {
  display: block;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.block_32 {
  color: #2F5496;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 12pt 0 0 -14.2pt;
  padding: 0;
}
.block_33 {
  display: block;
  font-family: "TAU-Marutham", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 0 -14.2pt;
  padding: 0;
}
.block_34 {
  color: #2F5496;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-indent: -7.1pt;
  margin: 12pt 0 0 -7.1pt;
  padding: 0;
}
.block_35 {
  color: #2F5496;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-indent: -14.2pt;
  margin: 12pt 0 0;
  padding: 0;
}
.block_36 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: -14.2pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_37 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: -14.2pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_38 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 8pt;
  margin-left: -14.2pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_39 {
  display: list-item;
  font-family: serif;
  margin-bottom: 0;
  margin-left: -14.2pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_40 {
  display: list-item;
  font-family: serif;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: -14.2pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_41 {
  display: list-item;
  font-family: serif;
  line-height: 1.5;
  margin-bottom: 8pt;
  margin-left: -14.2pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_42 {
  color: #2F5496;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-indent: -28.4pt;
  margin: 12pt 0 0;
  padding: 0;
}
.block_43 {
  display: block;
  font-family: "TAU-Marutham", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  text-indent: -14.2pt;
  margin: 0 0 8pt -14.2pt;
  padding: 0;
}
.block_44 {
  display: block;
  font-family: serif;
  line-height: 1.5;
  text-indent: -14.2pt;
  margin: 0 0 8pt -14.2pt;
  padding: 0;
}
.block_45 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-indent: -14.2pt;
  margin: 0 0 8pt -14.2pt;
  padding: 0;
}
.block_46 {
  display: block;
  line-height: 1.5;
  text-indent: -14.2pt;
  margin: 0 0 8pt -14.2pt;
  padding: 0;
}
.block_47 {
  display: block;
  line-height: 1.5;
  margin: 0 0 8pt -28.4pt;
  padding: 0;
}
.block_48 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 8pt -28.4pt;
  padding: 0;
}
.block_49 {
  display: block;
  line-height: 1.5;
  margin: 0 0 8pt -32.2pt;
  padding: 0;
}
.block_50 {
  display: block;
  font-family: serif;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.block_51 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.block_52 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.block_53 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 8pt;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_54 {
  color: #2F5496;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-indent: -14.2pt;
  margin: 0;
  padding: 0;
}
.block_55 {
  color: #2F5496;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-indent: -21.3pt;
  margin: 12pt 0 0;
  padding: 0;
}
.block_56 {
  display: block;
  font-weight: bold;
  line-height: 1.2;
  text-indent: -7.1pt;
  margin: 0 0 8pt -14.2pt;
  padding: 0;
}
.block_57 {
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 8pt -21.3pt;
  padding: 0;
}
.block_58 {
  display: block;
  font-weight: bold;
  text-indent: -7.1pt;
  margin: 0 0 0 -14.2pt;
  padding: 0;
}
.block_59 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  text-indent: -7.1pt;
  margin: 0 0 0 -14.2pt;
  padding: 0;
}
.block_60 {
  display: block;
  line-height: 1.5;
  text-indent: -7.1pt;
  margin: 0 0 0 -14.2pt;
  padding: 0;
}
.block_61 {
  display: block;
  font-weight: bold;
  margin: 0 0 0 -14.2pt;
  padding: 0;
}
.block_62 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  margin: 0 0 0 -14.2pt;
  padding: 0;
}
.block_63 {
  color: #2F5496;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-indent: 7.1pt;
  margin: 12pt 0 0 -21.3pt;
  padding: 0;
}
.block_64 {
  display: list-item;
  font-family: serif;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: -14.2pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_65 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 14.2pt 8pt -14.2pt;
  padding: 0;
}
.block_66 {
  display: block;
  line-height: 1.5;
  margin: 0 14.2pt 8pt -14.2pt;
  padding: 0;
}
.block_67 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0 14.2pt 8pt -14.2pt;
  padding: 0;
}
.block_68 {
  color: #2F5496;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-indent: -21.2pt;
  margin: 0;
  padding: 0;
}
.block_69 {
  color: #2F5496;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: normal;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-indent: -21.2pt;
  margin: 0;
  padding: 0;
}
.block_70 {
  display: block;
  line-height: 1.2;
  margin: 0 0 8pt -21.3pt;
  padding: 0;
}
.block_71 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-align: justify;
  margin: 0 0 8pt -14.2pt;
  padding: 0;
}
.block_72 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  text-align: justify;
  margin: 0 0 8pt -14.2pt;
  padding: 0;
}
.block_73 {
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 8pt -14.2pt;
  padding: 0;
}
.block_74 {
  display: block;
  line-height: 1.2;
  margin: 0 0 8pt -14.2pt;
  padding: 0;
}
.block_75 {
  display: block;
  line-height: 1.5;
  text-indent: -28.4pt;
  margin: 0 0 8pt -14.2pt;
  padding: 0;
}
.block_76 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  margin: 0 0 0 -14.2pt;
  padding: 0;
}
.block_77 {
  display: block;
  line-height: 1.5;
  text-align: center;
  margin: 0 0 0 -14.2pt;
  padding: 0;
}
.block_78 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  text-align: center;
  margin: 0 0 0 -14.2pt;
  padding: 0;
}
.block_79 {
  display: block;
  font-weight: bold;
  line-height: 1.2;
  text-indent: -14.2pt;
  margin: 0 0 8pt;
  padding: 0;
}
.block_80 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  padding: 0;
}
.block_81 {
  display: block;
  line-height: 1.5;
  text-align: justify;
  margin: 0;
  padding: 0;
}
.block_82 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: -14.2pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify;
}
.block_83 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  text-indent: 36pt;
  margin: 0 0 8pt -14.2pt;
  padding: 0;
}
.block_84 {
  display: block;
  line-height: 1.5;
  text-indent: 36pt;
  margin: 0 0 8pt -14.2pt;
  padding: 0;
}
.block_85 {
  display: block;
  line-height: 1.5;
  text-align: justify;
  margin: 0 0 8pt -14.2pt;
  padding: 0;
}
.block_86 {
  display: block;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.block_87 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  font-weight: normal;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-indent: -14.2pt;
  margin: 12pt 0 0;
  padding: 0;
}
.block_88 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 7.65pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_89 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 7.65pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_90 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 8pt;
  margin-left: 7.65pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_91 {
  display: list-item;
  font-family: serif;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 28.4pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_92 {
  display: list-item;
  font-family: serif;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 28.4pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_93 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 28.4pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_94 {
  display: block;
  font-family: serif;
  line-height: 1.5;
  margin: 0 0 0 -14.2pt;
  padding: 0;
}
.block_95 {
  display: block;
  line-height: 1.5;
  text-indent: 36pt;
  margin: 0 0 0 -14.2pt;
  padding: 0;
}
.block_96 {
  display: block;
  line-height: 1.5;
  text-indent: -7.1pt;
  margin: 0 0 8pt -7.1pt;
  padding: 0;
}
.block_97 {
  display: block;
  line-height: 1.5;
  text-align: justify;
  margin: 0 0 0 -14.2pt;
  padding: 0;
}
.block_98 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 54pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_99 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 54pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_100 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0 0 0 54pt;
  padding: 0;
}
.block_101 {
  display: block;
  font-family: "Nirmala UI", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 8pt 54pt;
  padding: 0;
}
.block_102 {
  display: block;
  line-height: 1.5;
  text-indent: -54pt;
  margin: 0 0 8pt 54pt;
  padding: 0;
}
.block_103 {
  color: #2F5496;
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 12pt 0 0;
  padding: 0;
}
.block_104 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_105 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.block_106 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.block_107 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-indent: -18pt;
  margin: 0 0 8pt 18pt;
  padding: 0;
}
.block_108 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0 0 0 36pt;
  padding: 0;
}
.block_109 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-indent: -36pt;
  margin: 0 0 0 36pt;
  padding: 0;
}
.block_110 {
  display: block;
  line-height: 1.5;
  text-indent: -36pt;
  margin: 0 0 8pt 36pt;
  padding: 0;
}
.block_111 {
  display: list-item;
  margin-bottom: 0;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_112 {
  display: list-item;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_113 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  margin: 0;
  padding: 0;
}
.block_114 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0 0 8pt 36pt;
  padding: 0;
}
.block_115 {
  display: block;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.block_116 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-indent: -0.55pt;
  margin: 0 0 8pt;
  padding: 0;
}
.block_117 {
  display: block;
  line-height: 1.5;
  text-indent: -36pt;
  margin: 0 0 0 36pt;
  padding: 0;
}
.block_118 {
  display: block;
  line-height: 1.5;
  text-indent: -72pt;
  margin: 0 0 8pt 72pt;
  padding: 0;
}
.block_119 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 0 36pt;
  padding: 0;
}
.block_120 {
  display: block;
  line-height: 1.5;
  margin: 0 0 8pt 36pt;
  padding: 0;
}
.block_121 {
  display: list-item;
  font-family: serif;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 56.2pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_122 {
  display: list-item;
  font-family: serif;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 56.2pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_123 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 56.2pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_124 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0 0 8pt 72pt;
  padding: 0;
}
.block_125 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-indent: -79.1pt;
  margin: 0 0 8pt 72pt;
  padding: 0;
}
.block_126 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-indent: -72pt;
  margin: 0 0 8pt 72pt;
  padding: 0;
}
.block_127 {
  display: block;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.block_128 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-indent: -72pt;
  margin: 0 0 0 72pt;
  padding: 0;
}
.block_129 {
  display: block;
  line-height: 1.5;
  text-indent: -72pt;
  margin: 0 0 0 72pt;
  padding: 0;
}
.block_130 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 8pt 72pt;
  padding: 0;
}
.block_131 {
  display: list-item;
  font-family: serif;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_132 {
  display: list-item;
  font-family: serif;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_133 {
  display: block;
  font-family: "Nirmala UI", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 8pt 36pt;
  padding: 0;
}
.calibre {
  display: block;
  font-family: "Calibri", sans-serif;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  line-height: 1.2;
  white-space: pre-wrap;
}
.calibre2 {
  display: table-row-group;
  vertical-align: middle;
}
.calibre3 {
  display: table-row;
  vertical-align: inherit;
}
.calibre4 {
  height: 121pt;
  width: 101pt;
}
.calibre5 {
  white-space: pre-wrap;
}
.calibre6 {
  height: 132pt;
  width: 98.3pt;
}
.calibre7 {
  height: 110pt;
  width: 105pt;
}
.calibre8 {
  font-weight: bold;
}
.calibre9 {
  height: 173pt;
  width: 234pt;
}
.calibre10 {
  height: 142pt;
  width: 264pt;
}
.calibre11 {
  height: 92.3pt;
  width: 89.3pt;
}
.calibre12 {
  height: 195pt;
  width: 303pt;
}
.calibre13 {
  height: 199pt;
  width: 297pt;
}
.calibre14 {
  height: 271pt;
  width: 222pt;
}
.calibre15 {
  height: 161pt;
  width: 149pt;
}
.calibre16 {
  height: 166pt;
  width: 149pt;
}
.calibre17 {
  height: 215pt;
  width: 312pt;
}
.calibre18 {
  height: 221pt;
  width: 208pt;
}
.calibre19 {
  height: 90pt;
  width: 88.5pt;
}
.calibre20 {
  height: 107pt;
  width: 104pt;
}
.calibre21 {
  display: block;
  float: left;
  height: 94.7pt;
  width: 93.3pt;
}
.calibre22 {
  height: 141pt;
  width: 107pt;
}
.calibre23 {
  height: 257pt;
  width: 198pt;
}
.calibre24 {
  font-size: 0.83333em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre25 {
  height: 140pt;
  width: 225pt;
}
.calibre26 {
  height: 193pt;
  width: 250pt;
}
.calibre27 {
  height: 213pt;
  width: 241pt;
}
.calibre28 {
  height: 222pt;
  width: 250pt;
}
.calibre29 {
  height: 230pt;
  width: 255pt;
}
.calibre30 {
  height: 296pt;
  width: 188pt;
}
.calibre31 {
  height: 178pt;
  width: 246pt;
}
.calibre32 {
  height: 142pt;
  width: 297pt;
}
.calibre33 {
  height: 144pt;
  width: 236pt;
}
.calibre34 {
  height: 278pt;
  width: 351pt;
}
.calibre35 {
  height: 128pt;
  width: 118pt;
}
.calibre36 {
  height: 240pt;
  width: 445pt;
}
.calibre37 {
  height: 146pt;
  width: 135pt;
}
.calibre38 {
  height: 155pt;
  width: 201pt;
}
.calibre39 {
  height: 207pt;
  width: 248pt;
}
.calibre40 {
  height: 120pt;
  width: 104pt;
}
.calibre41 {
  height: 188pt;
  width: 216pt;
}
.calibre42 {
  height: 224pt;
  width: 220pt;
}
.calibre43 {
  height: 197pt;
  width: 182pt;
}
.calibre44 {
  height: 251pt;
  width: 273pt;
}
.calibre45 {
  height: 260pt;
  width: 438pt;
}
.calibre46 {
  height: 122pt;
  width: 117pt;
}
.calibre47 {
  height: 218pt;
  width: 257pt;
}
.calibre48 {
  height: 310pt;
  width: 194pt;
}
.calibre49 {
  height: 108pt;
  width: 142pt;
}
.calibre50 {
  height: 90pt;
  width: 80.3pt;
}
.calibre51 {
  height: 113pt;
  width: 241pt;
}
.calibre52 {
  height: 150pt;
  width: 262pt;
}
.calibre53 {
  height: 167pt;
  width: 228pt;
}
.calibre54 {
  height: 299pt;
  width: 277pt;
}
.calibre55 {
  height: 112pt;
  width: 166pt;
}
.calibre56 {
  height: 161pt;
  width: 210pt;
}
.calibre57 {
  height: 115pt;
  width: 117pt;
}
.calibre58 {
  display: block;
  float: left;
  height: 85.5pt;
  width: 85.5pt;
}
.calibre59 {
  display: block;
}
.calibre60 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre61 {
  height: 96pt;
  line-height: 1.2;
  width: 104pt;
}
.calibre62 {
  height: 128pt;
  width: 136pt;
}
.calibre63 {
  height: 170pt;
  width: 245pt;
}
.calibre64 {
  height: 172pt;
  width: 214pt;
}
.calibre65 {
  display: block;
  float: left;
  height: 259pt;
  width: 451pt;
}
.calibre66 {
  height: 330pt;
  width: 322pt;
}
.calibre67 {
  height: 236pt;
  width: 412pt;
}
.calibre68 {
  height: 129pt;
  width: 131pt;
}
.calibre69 {
  height: 177pt;
  width: 266pt;
}
.calibre70 {
  height: 144pt;
  width: 255pt;
}
.calibre71 {
  height: 208pt;
  width: 311pt;
}
.calibre72 {
  height: 92.3pt;
  width: 91.5pt;
}
.calibre73 {
  height: 91.5pt;
  line-height: 1.2;
  width: 93.8pt;
}
.calibre74 {
  height: 155pt;
  width: 363pt;
}
.calibre75 {
  height: 120pt;
  width: 123pt;
}
.calibre76 {
  height: 174pt;
  width: 232pt;
}
.calibre77 {
  height: 138pt;
  width: 260pt;
}
.calibre78 {
  height: 154pt;
  width: 214pt;
}
.calibre79 {
  height: 421pt;
  width: 302pt;
}
.calibre80 {
  height: 253pt;
  width: 364pt;
}
.calibre81 {
  height: 183pt;
  width: 325pt;
}
.calibre82 {
  height: 208pt;
  width: 316pt;
}
.calibre83 {
  height: 222pt;
  width: 322pt;
}
.calibre84 {
  height: 265pt;
  width: 364pt;
}
.calibre85 {
  height: 247pt;
  width: 364pt;
}
.calibre86 {
  height: 238pt;
  width: 394pt;
}
.calibre87 {
  height: 312pt;
  width: 394pt;
}
.calibre88 {
  height: 307pt;
  width: 412pt;
}
.calibre89 {
  height: 217pt;
  width: 300pt;
}
.calibre90 {
  height: 157pt;
  width: 300pt;
}
.calibre91 {
  height: 210pt;
  width: 320pt;
}
.calibre92 {
  height: 162pt;
  width: 333pt;
}
.calibre93 {
  height: 246pt;
  width: 383pt;
}
.calibre94 {
  height: 94.5pt;
  width: 82.5pt;
}
.calibre95 {
  height: 104pt;
  width: 99pt;
}
.calibre96 {
  height: 130pt;
  width: 131pt;
}
.calibre97 {
  height: 94.5pt;
  width: 91.5pt;
}
.calibre98 {
  height: 146pt;
  width: 326pt;
}
.calibre99 {
  height: 239pt;
  width: 296pt;
}
.calibre100 {
  display: block;
  float: left;
  height: 188pt;
  width: 333pt;
}
.calibre101 {
  display: block;
  float: left;
  height: 196pt;
  width: 298pt;
}
.calibre102 {
  height: 172pt;
  width: 286pt;
}
.calibre103 {
  height: 102pt;
  width: 155pt;
}
.calibre104 {
  display: block;
  float: left;
  height: 184pt;
  width: 241pt;
}
.calibre105 {
  height: 208pt;
  width: 185pt;
}
.calibre106 {
  display: block;
  float: left;
  height: 214pt;
  width: 241pt;
}
.calibre107 {
  display: block;
  float: left;
  height: 182pt;
  width: 249pt;
}
.calibre108 {
  height: 155pt;
  width: 149pt;
}
.calibre109 {
  height: 163pt;
  width: 341pt;
}
.calibre110 {
  display: block;
  float: left;
  height: 181pt;
  width: 236pt;
}
.calibre111 {
  height: 160pt;
  width: 156pt;
}
.calibre112 {
  height: 128pt;
  width: 127pt;
}
.calibre113 {
  height: 282pt;
  width: 338pt;
}
.calibre114 {
  height: 164pt;
  width: 280pt;
}
.calibre115 {
  height: 203pt;
  width: 195pt;
}
.calibre116 {
  display: block;
  float: left;
  height: 95.2pt;
  width: 96pt;
}
.calibre117 {
  height: 117pt;
  width: 131pt;
}
.calibre118 {
  height: 251pt;
  width: 409pt;
}
.calibre119 {
  height: 222pt;
  width: 327pt;
}
.calibre120 {
  height: 147pt;
  width: 220pt;
}
.calibre121 {
  height: 177pt;
  width: 211pt;
}
.calibre122 {
  height: 116pt;
  width: 119pt;
}
.calibre123 {
  height: 497pt;
  width: 349pt;
}
.calibre124 {
  height: 92.3pt;
  width: 94.5pt;
}
.calibre125 {
  height: 85.5pt;
  width: 90pt;
}
.calibre126 {
  height: 178pt;
  width: 230pt;
}
.calibre127 {
  height: 120pt;
  width: 253pt;
}
.calibre128 {
  height: 216pt;
  width: 211pt;
}
.calibre129 {
  height: 215pt;
  width: 227pt;
}
.calibre130 {
  height: 259pt;
  width: 242pt;
}
.calibre131 {
  height: 236pt;
  width: 226pt;
}
.calibre132 {
  height: 247pt;
  width: 226pt;
}
.calibre133 {
  height: 169pt;
  width: 259pt;
}
.calibre134 {
  height: 183pt;
  width: 277pt;
}
.calibre135 {
  height: 208pt;
  width: 224pt;
}
.calibre136 {
  height: 140pt;
  width: 438pt;
}
.calibre137 {
  height: 157pt;
  width: 280pt;
}
.calibre138 {
  height: 167pt;
  width: 176pt;
}
.calibre139 {
  height: 193pt;
  width: 209pt;
}
.calibre140 {
  height: 194pt;
  width: 211pt;
}
.calibre141 {
  height: 189pt;
  width: 247pt;
}
.calibre142 {
  height: 186pt;
  width: 247pt;
}
.calibre143 {
  height: 179pt;
  width: 296pt;
}
.calibre144 {
  height: 217pt;
  width: 197pt;
}
.calibre145 {
  height: 217pt;
  width: 195pt;
}
.calibre146 {
  height: 221pt;
  width: 190pt;
}
.calibre147 {
  height: 152pt;
  width: 223pt;
}
.calibre148 {
  height: 90.8pt;
  width: 88.5pt;
}
.list_ {
  display: block;
  list-style-type: disc;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
  padding-right: 0;
  padding-top: 0;
}
.tab {
  white-space: pre-wrap;
}
.tab1 {
  line-height: 1.2;
  white-space: pre-wrap;
}
.table_ {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: -7.35pt;
  margin-top: 0;
  text-indent: 0;
  padding: 0;
  border: currentColor solid 1pt;
}
.table_1 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: -14.2pt;
  margin-top: 0;
  text-indent: 0;
  padding: 0;
  border: currentColor solid 1pt;
}
.table_2 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-top: 0;
  text-indent: 0;
  width: 428pt;
  padding: 0;
  border: currentColor solid 1pt;
}
.table_3 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  text-indent: 0;
  padding: 0;
  border: currentColor solid 1pt;
}
.td_ {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 411pt;
  padding: 0.5ex 5.75pt;
  border-bottom: currentColor solid 1pt;
}
.td_1 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 42.2pt;
  padding: 0.5ex 5.75pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_2 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 208pt;
  padding: 0.5ex 5.75pt;
  border: currentColor solid 1pt;
}
.td_3 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 73.8pt;
  padding: 0.5ex 5.75pt;
  border: currentColor solid 1pt;
}
.td_4 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 87.3pt;
  padding: 0.5ex 5.75pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_5 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 411pt;
  padding: 0.5ex 5.75pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_6 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 41.6pt;
  padding: 0.5ex 5.75pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_7 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 210pt;
  padding: 0.5ex 5.75pt;
  border: currentColor solid 1pt;
}
.td_8 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 75.2pt;
  padding: 0.5ex 5.75pt;
  border: currentColor solid 1pt;
}
.td_9 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 84.5pt;
  padding: 0.5ex 5.75pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_10 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 41.6pt;
  padding: 0.5ex 5.75pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_11 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 210pt;
  padding: 0.5ex 5.75pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_12 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 75.2pt;
  padding: 0.5ex 5.75pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_13 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 84.5pt;
  padding: 0.5ex 5.75pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_14 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 148pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_15 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 148pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_16 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 148pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_17 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 148pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_18 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 148pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_19 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 148pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_20 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 148pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_21 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 148pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_22 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 148pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_23 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 81pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_24 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 70.8pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_25 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 276pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_26 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 128pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_27 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 149pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_28 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 81pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_29 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 70.8pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_30 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 81pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_31 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 70.8pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_32 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 128pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_33 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 149pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_34 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 184pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_35 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 254pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_36 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 184pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_37 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 254pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_38 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 184pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_39 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 254pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_40 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 209pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_41 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 209pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_42 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 209pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_43 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 209pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_44 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 209pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_45 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 209pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_46 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 219pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_47 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 219pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_48 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 219pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_49 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 219pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_50 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 219pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_51 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 219pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.text_ {
  color: #0563C1;
  line-height: 1.2;
  text-decoration: underline solid;
}
.text_1 {
  font-family: "Calibri", sans-serif;
}
.text_2 {
  font-family: "TAU-Marutham", sans-serif;
}
.text_3 {
  font-family: "Nirmala UI", sans-serif;
}
.text_4 {
  font-family: "Vijaya", serif;
}
.text_5 {
  font-family: "Calibri Light", sans-serif;
  font-weight: bold;
}
.text_6 {
  font-family: "Calibri", sans-serif;
  font-weight: bold;
}
.text_7 {
  font-family: "Calibri Light", sans-serif;
}
.text_8 {
  color: #0563C1;
  text-decoration: underline solid;
}
.text_9 {
  font-family: "Nirmala UI", sans-serif;
  font-weight: bold;
}
.text_10 {
  letter-spacing: 0.1pt;
}
