.block_ {
  display: block;
  line-height: 1.5;
  margin: 0 0 10pt;
  padding: 0;
}
.block_1 {
  color: #000;
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  margin: 0;
  padding: 0;
}
.block_2 {
  display: block;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.block_3 {
  color: #000;
  display: block;
  line-height: 1.5;
  text-align: left;
  text-indent: 14pt;
  margin: 0;
  padding: 0;
}
.block_4 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_5 {
  color: #000;
  display: block;
  line-height: 1.5;
  margin: 0 0 10pt;
  padding: 0;
}
.block_6 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.block_7 {
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 0;
  padding: 0;
}
.block_8 {
  display: block;
  line-height: 1.5;
  text-indent: -22pt;
  margin: 0 0 0 22pt;
  padding: 0;
}
.block_9 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_10 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_11 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 1.6pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_12 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 10pt;
  padding: 0;
}
.block_13 {
  display: block;
  line-height: 1.5;
  margin: 12pt 0 0;
  padding: 0;
}
.block_14 {
  display: block;
  line-height: 1.5;
  margin: 12pt 0 10pt;
  padding: 0;
}
.block_15 {
  display: block;
  line-height: 1.5;
  margin: 0 0 10pt;
  padding: 0;
}
.block_16 {
  color: #000;
  display: block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 12pt 0 0;
  padding: 0;
}
.block_17 {
  display: block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 2pt 0 0;
  padding: 0;
}
.block_18 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 10pt;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_19 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.block_20 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 5pt;
  padding: 0;
}
.block_21 {
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 5pt;
  padding: 0;
}
.block_22 {
  display: block;
  line-height: 1.5;
  text-align: left;
  text-indent: 22pt;
  margin: 0 0 8pt;
  padding: 0;
}
.block_23 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  margin: 0;
  padding: 0;
}
.block_24 {
  display: block;
  line-height: 1.2;
  text-align: left;
  margin: 0 0 8pt;
  padding: 0;
}
.block_25 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  text-indent: -22pt;
  margin: 0 0 8pt 22pt;
  padding: 0;
}
.block_26 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  text-indent: 22pt;
  margin: 0 0 8pt;
  padding: 0;
}
.block_27 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 7pt;
  padding: 0;
}
.block_28 {
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 7pt;
  padding: 0;
}
.block_29 {
  display: block;
  font-family: "Cambria", serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 2pt 0 12pt;
  padding: 0;
}
.block_30 {
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 8pt;
  padding: 0;
}
.block_31 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
}
.block_32 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
}
.block_33 {
  display: block;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin: 0 0 2pt;
  padding: 0;
}
.block_34 {
  display: list-item;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_35 {
  display: list-item;
  line-height: 1.2;
  margin-bottom: 5pt;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_36 {
  display: block;
  line-height: 1.2;
  text-align: left;
  margin: 0 0 5pt;
  padding: 0;
}
.block_37 {
  display: block;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin: 0 0 5pt;
  padding: 0;
}
.block_38 {
  display: list-item;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
}
.block_39 {
  display: list-item;
  line-height: 1.2;
  margin-bottom: 5pt;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
}
.block_40 {
  display: block;
  line-height: 1.2;
  margin: 0 0 5pt;
  padding: 0;
}
.block_41 {
  display: block;
  line-height: 1.5;
  text-indent: 18pt;
  margin: 0 0 10pt;
  padding: 0;
}
.block_42 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  text-indent: 18pt;
  margin: 0 0 7pt;
  padding: 0;
}
.block_43 {
  display: block;
  line-height: 1.5;
  margin: 0 0 10pt 18pt;
  padding: 0;
}
.block_44 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  text-indent: 36pt;
  margin: 0 0 8pt;
  padding: 0;
}
.block_45 {
  color: #000;
  display: block;
  line-height: 1.5;
  margin: 0 0 0 36pt;
  padding: 0;
}
.block_46 {
  display: block;
  line-height: 1.5;
  text-indent: 36pt;
  margin: 0 0 10pt;
  padding: 0;
}
.block_47 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-indent: 36pt;
  margin: 0 0 10pt;
  padding: 0;
}
.block_48 {
  color: #000;
  display: block;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.block_49 {
  display: block;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin: 0 0 7pt;
  padding: 0;
}
.block_50 {
  display: block;
  line-height: 20.1pt;
  text-align: left;
  margin: 0 0 7pt;
  padding: 0;
}
.block_51 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 8pt;
  padding: 0;
}
.block_52 {
  display: block;
  line-height: 20.1pt;
  text-align: left;
  margin: 0 0 5pt;
  padding: 0;
}
.block_53 {
  display: block;
  line-height: 20.1pt;
  text-align: left;
  text-indent: -22pt;
  margin: 0 0 2pt 22pt;
  padding: 0;
}
.block_54 {
  display: block;
  margin: 0;
  padding: 0;
}
.block_55 {
  display: block;
  line-height: 20.1pt;
  text-align: left;
  margin: 0 0 2pt;
  padding: 0;
}
.block_56 {
  display: block;
  line-height: 20.1pt;
  text-align: left;
  margin: 0 0 2pt 22pt;
  padding: 0;
}
.block_57 {
  display: block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 2pt 0 0;
  padding: 0;
}
.block_58 {
  display: block;
  line-height: 1.2;
  margin: 0 0 10pt;
  padding: 0;
}
.block_59 {
  display: list-item;
  line-height: 1.2;
  margin-bottom: 10pt;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_60 {
  display: block;
  line-height: 1.2;
  text-align: left;
  text-indent: -22pt;
  margin: 0 0 2pt 22pt;
  padding: 0;
}
.block_61 {
  display: list-item;
  line-height: 1.2;
  margin-bottom: 2pt;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
}
.block_62 {
  color: #000;
  display: block;
  line-height: 1.5;
  margin: 0 0 0 18pt;
  padding: 0;
}
.block_63 {
  display: block;
  font-family: "Cambria", serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 2pt 0 0;
  padding: 0;
}
.block_64 {
  display: block;
  line-height: 1.5;
  margin: 0 0 5pt -13.5pt;
  padding: 0;
}
.block_65 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 5pt;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_66 {
  display: block;
  line-height: 1.2;
  margin: 0 0 10pt;
  padding: 0;
}
.block_67 {
  display: block;
  line-height: 1.5;
  margin: 0 0 5pt;
  padding: 0;
}
.block_68 {
  display: block;
  font-family: "Tahoma", sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.block_69 {
  display: block;
  font-family: "Tahoma", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin: 0 0 5pt;
  padding: 0;
}
.block_70 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0 0 5pt;
  padding: 0;
}
.block_71 {
  color: #000;
  display: block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 2pt 0 0;
  padding: 0;
}
.block_72 {
  display: block;
  line-height: 1.5;
  text-align: left;
  text-indent: -22pt;
  margin: 0 0 7pt 22pt;
  padding: 0;
}
.block_73 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 5pt;
  padding: 0;
}
.block_74 {
  display: block;
  line-height: 1.5;
  text-align: left;
  text-indent: -14pt;
  margin: 0 0 2pt 14pt;
  padding: 0;
}
.block_75 {
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 10pt;
  padding: 0;
}
.block_76 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  text-align: left;
  margin: 0;
  padding: 0;
}
.block_77 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 10pt;
  padding: 0;
}
.block_78 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 10pt;
  padding: 0;
}
.block_79 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0 0 10pt;
  padding: 0;
}
.block_80 {
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 10pt;
  padding: 0;
}
.block_81 {
  color: #000;
  display: block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 0;
  padding: 0;
}
.block_82 {
  display: block;
  line-height: 1.5;
  margin: 0 0 0 36pt;
  padding: 0;
}
.block_83 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0 0 10pt 18pt;
  padding: 0;
}
.block_84 {
  color: #000;
  display: block;
  font-family: "Cambria", serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 2pt 0 0;
  padding: 0;
}
.block_85 {
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
.block_86 {
  display: block;
  font-family: "Tahoma", sans-serif;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0 0 10pt;
  padding: 0;
}
.block_87 {
  display: block;
  line-height: 1.5;
  margin: 0 0 10pt 36pt;
  padding: 0;
}
.block_88 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  font-weight: normal;
  line-height: 1.5;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 2pt 0 0;
  padding: 0;
}
.block_89 {
  color: #000;
  display: block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 2pt 0 0;
  padding: 0;
}
.block_90 {
  display: block;
  font-family: "Tahoma", sans-serif;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.block_91 {
  color: #000;
  display: block;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 12pt 0 0;
  padding: 0;
}
.block_92 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  text-align: right;
  margin: 0;
  padding: 0;
}
.block_93 {
  display: block;
  font-family: "TAU-Marutham", sans-serif;
  line-height: 1.5;
  margin: 0 0 10pt;
  padding: 0;
}
.calibre {
  display: block;
  font-family: "Calibri", sans-serif;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  text-align: left;
  margin: 0 5pt;
}
.calibre1 {
  height: 48.8pt;
  width: 47.8pt;
}
.calibre2 {
  display: block;
}
.calibre3 {
  font-weight: bold;
}
.calibre4 {
  display: table-row-group;
  vertical-align: middle;
}
.calibre5 {
  display: table-row;
  vertical-align: inherit;
}
.calibre6 {
  text-decoration: none;
}
.calibre7 {
  height: 78.8pt;
  width: 60.9pt;
}
.calibre8 {
  height: 78.2pt;
  width: 65.5pt;
}
.calibre9 {
  height: 76.1pt;
  width: 83.2pt;
}
.calibre10 {
  height: 93pt;
  width: 81.4pt;
}
.calibre11 {
  height: 70.5pt;
  width: 89.2pt;
}
.calibre12 {
  height: 66pt;
  width: 79.5pt;
}
.calibre13 {
  height: 94.5pt;
  width: 163pt;
}
.calibre14 {
  height: 82.6pt;
  width: 184pt;
}
.calibre15 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre16 {
  white-space: pre-wrap;
}
.calibre17 {
  height: 70.5pt;
  width: 114pt;
}
.calibre18 {
  height: 103pt;
  width: 122pt;
}
.calibre19 {
  height: 73.7pt;
  width: 124pt;
}
.calibre20 {
  height: 102pt;
  width: 93.8pt;
}
.calibre21 {
  height: 96pt;
  width: 162pt;
}
.calibre22 {
  height: 27.7pt;
  width: 27pt;
}
.calibre23 {
  height: 92.2pt;
  width: 176pt;
}
.calibre24 {
  height: 112pt;
  width: 184pt;
}
.calibre25 {
  height: 72.8pt;
  width: 186pt;
}
.calibre26 {
  height: 190pt;
  width: 131pt;
}
.calibre27 {
  height: 87.8pt;
  width: 131pt;
}
.calibre28 {
  height: 118pt;
  width: 87.7pt;
}
.calibre29 {
  height: 42pt;
  width: 41.6pt;
}
.calibre30 {
  height: 66.4pt;
  width: 109pt;
}
.calibre31 {
  height: 69.2pt;
  line-height: 1.2;
  width: 82.6pt;
}
.calibre32 {
  height: 71.2pt;
  width: 72pt;
}
.calibre33 {
  height: 99pt;
  width: 193pt;
}
.calibre34 {
  height: 57.8pt;
  width: 109pt;
}
.calibre35 {
  height: 91.8pt;
  width: 66.8pt;
}
.calibre36 {
  height: 63pt;
  width: 59.2pt;
}
.calibre37 {
  height: 57pt;
  width: 113pt;
}
.calibre38 {
  height: 69.8pt;
  width: 73.5pt;
}
.calibre39 {
  height: 187pt;
  width: 451pt;
}
.calibre40 {
  height: 74.1pt;
  width: 74.1pt;
}
.calibre41 {
  height: 222pt;
  width: 374pt;
}
.calibre42 {
  height: 40.5pt;
  width: 39.5pt;
}
.calibre43 {
  height: 44.2pt;
  width: 42.7pt;
}
.calibre44 {
  height: 140pt;
  width: 139pt;
}
.calibre45 {
  height: 104pt;
  width: 166pt;
}
.calibre46 {
  height: 97.5pt;
  width: 169pt;
}
.calibre47 {
  height: 75.8pt;
  width: 164pt;
}
.calibre48 {
  height: 96.8pt;
  width: 160pt;
}
.calibre49 {
  height: 39.3pt;
  width: 36.8pt;
}
.calibre50 {
  height: 140pt;
  width: 142pt;
}
.calibre51 {
  height: 81pt;
  width: 183pt;
}
.calibre52 {
  height: 81.8pt;
  width: 67.5pt;
}
.calibre53 {
  height: 42.8pt;
  width: 69.8pt;
}
.calibre54 {
  height: 66.8pt;
  width: 21pt;
}
.calibre55 {
  height: 45.8pt;
  width: 66.8pt;
}
.calibre56 {
  height: 75.8pt;
  width: 66pt;
}
.calibre57 {
  height: 45.8pt;
  width: 188pt;
}
.calibre58 {
  height: 46.5pt;
  width: 129pt;
}
.calibre59 {
  height: 52.5pt;
  width: 163pt;
}
.calibre60 {
  height: 88.9pt;
  width: 140pt;
}
.calibre61 {
  height: 91.5pt;
  width: 112pt;
}
.calibre62 {
  height: 87.8pt;
  width: 106pt;
}
.calibre63 {
  height: 30.4pt;
  width: 30pt;
}
.calibre64 {
  height: 56.7pt;
  width: 99pt;
}
.calibre65 {
  height: 52.3pt;
  width: 93.8pt;
}
.calibre66 {
  height: 99pt;
  width: 107pt;
}
.calibre67 {
  height: 32.2pt;
  width: 48pt;
}
.calibre68 {
  height: 28.5pt;
  width: 45pt;
}
.calibre69 {
  height: 33.8pt;
  width: 81.8pt;
}
.calibre70 {
  height: 32.2pt;
  width: 63.8pt;
}
.calibre71 {
  height: 30.8pt;
  width: 63.8pt;
}
.calibre72 {
  height: 30pt;
  width: 58.5pt;
}
.calibre73 {
  height: 40.5pt;
  width: 77.2pt;
}
.calibre74 {
  height: 30.8pt;
  width: 55.5pt;
}
.calibre75 {
  height: 36.8pt;
  width: 37.5pt;
}
.calibre76 {
  height: 38.2pt;
  width: 51.8pt;
}
.calibre77 {
  height: 36pt;
  width: 47.2pt;
}
.calibre78 {
  height: 31.5pt;
  width: 35.2pt;
}
.calibre79 {
  height: 27.8pt;
  width: 67.5pt;
}
.calibre80 {
  height: 16.5pt;
  width: 56.2pt;
}
.calibre81 {
  height: 168pt;
  width: 102pt;
}
.calibre82 {
  height: 111pt;
  width: 165pt;
}
.calibre83 {
  height: 100pt;
  width: 106pt;
}
.calibre84 {
  height: 99.8pt;
  width: 146pt;
}
.calibre85 {
  height: 85.5pt;
  width: 175pt;
}
.calibre86 {
  height: 93pt;
  width: 148pt;
}
.calibre87 {
  height: 72pt;
  width: 156pt;
}
.calibre88 {
  height: 115pt;
  width: 160pt;
}
.calibre89 {
  height: 122pt;
  width: 164pt;
}
.calibre90 {
  height: 66.8pt;
  width: 85.5pt;
}
.calibre91 {
  height: 67.4pt;
  width: 70.8pt;
}
.calibre92 {
  height: 84.3pt;
  width: 96pt;
}
.calibre93 {
  height: 27.2pt;
  width: 27.8pt;
}
.calibre94 {
  height: 106pt;
  width: 75.8pt;
}
.calibre95 {
  height: 76.5pt;
  width: 110pt;
}
.calibre96 {
  height: 124pt;
  width: 299pt;
}
.calibre97 {
  height: 53.5pt;
  width: 51.2pt;
}
.calibre98 {
  height: 47pt;
  width: 45.2pt;
}
.calibre99 {
  height: 54.6pt;
  width: 130pt;
}
.calibre100 {
  height: 72pt;
  width: 96.8pt;
}
.calibre101 {
  height: 63.8pt;
  width: 90.8pt;
}
.calibre102 {
  height: 69.8pt;
  width: 95.2pt;
}
.calibre103 {
  height: 75pt;
  width: 90.8pt;
}
.calibre104 {
  height: 21pt;
  width: 59.2pt;
}
.calibre105 {
  height: 20.2pt;
  width: 37.5pt;
}
.calibre106 {
  height: 25.5pt;
  width: 54.8pt;
}
.calibre107 {
  height: 24pt;
  width: 33.8pt;
}
.calibre108 {
  height: 24pt;
  width: 41.2pt;
}
.calibre109 {
  height: 88.5pt;
  width: 111pt;
}
.calibre110 {
  height: 77.2pt;
  width: 156pt;
}
.calibre111 {
  height: 442pt;
  width: 434pt;
}
.calibre112 {
  height: 36.3pt;
  width: 36pt;
}
.calibre113 {
  height: 135pt;
  width: 196pt;
}
.calibre114 {
  height: 66.8pt;
  width: 124pt;
}
.calibre115 {
  height: 33pt;
  transform: scaley(-1);
  width: 33pt;
}
.calibre116 {
  height: 84.8pt;
  width: 136pt;
}
.calibre117 {
  height: 96.8pt;
  width: 145pt;
}
.calibre118 {
  height: 89.5pt;
  width: 141pt;
}
.calibre119 {
  height: 112pt;
  width: 137pt;
}
.calibre120 {
  height: 107pt;
  width: 274pt;
}
.calibre121 {
  height: 74.1pt;
  width: 92.2pt;
}
.calibre122 {
  height: 74.3pt;
  width: 137pt;
}
.calibre123 {
  height: 86.2pt;
  width: 153pt;
}
.calibre124 {
  height: 69pt;
  width: 91.8pt;
}
.calibre125 {
  height: 64.5pt;
  width: 235pt;
}
.calibre126 {
  height: 16.5pt;
  width: 187pt;
}
.calibre127 {
  height: 85.5pt;
  width: 129pt;
}
.calibre128 {
  height: 106pt;
  width: 149pt;
}
.calibre129 {
  height: 88.3pt;
  width: 118pt;
}
.calibre130 {
  height: 102pt;
  width: 143pt;
}
.calibre131 {
  height: 94.5pt;
  width: 135pt;
}
.calibre132 {
  height: 106pt;
  width: 135pt;
}
.calibre133 {
  height: 103pt;
  width: 129pt;
}
.calibre134 {
  height: 144pt;
  width: 176pt;
}
.calibre135 {
  height: 113pt;
  width: 143pt;
}
.calibre136 {
  height: 78.4pt;
  width: 136pt;
}
.calibre137 {
  height: 73.5pt;
  width: 136pt;
}
.calibre138 {
  height: 87.8pt;
  width: 130pt;
}
.calibre139 {
  height: 94.7pt;
  width: 131pt;
}
.calibre140 {
  height: 27.5pt;
  width: 27pt;
}
.calibre141 {
  height: 128pt;
  width: 178pt;
}
.calibre142 {
  height: 141pt;
  width: 306pt;
}
.calibre143 {
  height: 36.8pt;
  width: 35.7pt;
}
.calibre144 {
  display: block;
  line-height: 1.2;
}
.calibre145 {
  height: 42.6pt;
  width: 43.5pt;
}
.calibre146 {
  display: block;
}
.calibre147 {
  height: 33.4pt;
  width: 33.8pt;
}
.calibre148 {
  height: 111pt;
  width: 245pt;
}
.calibre149 {
  height: 38.3pt;
  width: 39pt;
}
.calibre150 {
  height: 111pt;
  width: 78.8pt;
}
.calibre151 {
  height: 91.5pt;
  width: 110pt;
}
.calibre152 {
  height: 96.8pt;
  width: 101pt;
}
.calibre153 {
  height: 95.2pt;
  width: 109pt;
}
.calibre154 {
  height: 99.8pt;
  width: 105pt;
}
.calibre155 {
  height: 93.8pt;
  width: 116pt;
}
.calibre156 {
  height: 100pt;
  width: 94.2pt;
}
.calibre157 {
  height: 82.2pt;
  width: 189pt;
}
.calibre158 {
  height: 57.4pt;
  width: 59.1pt;
}
.calibre159 {
  height: 99.7pt;
  width: 81.3pt;
}
.calibre160 {
  height: 111pt;
  width: 62pt;
}
.calibre161 {
  height: 94.8pt;
  width: 65.2pt;
}
.calibre162 {
  height: 90.2pt;
  width: 72.8pt;
}
.calibre163 {
  height: 90.3pt;
  width: 77.5pt;
}
.calibre164 {
  height: 86.2pt;
  transform: scalex(-1);
  width: 72.9pt;
}
.calibre165 {
  height: 96.9pt;
  width: 82.5pt;
}
.calibre166 {
  height: 137pt;
  width: 119pt;
}
.calibre167 {
  height: 90pt;
  width: 145pt;
}
.calibre168 {
  height: 70.4pt;
  width: 106pt;
}
.calibre169 {
  height: 134pt;
  width: 158pt;
}
.calibre170 {
  height: 69pt;
  width: 82.5pt;
}
.calibre171 {
  height: 78.8pt;
  width: 120pt;
}
.calibre172 {
  height: 85pt;
  width: 114pt;
}
.calibre173 {
  height: 61.9pt;
  width: 194pt;
}
.calibre174 {
  height: 202pt;
  width: 246pt;
}
.calibre175 {
  height: 34.3pt;
  width: 202pt;
}
.calibre176 {
  height: 112pt;
  width: 199pt;
}
.calibre177 {
  height: 97.9pt;
  width: 112pt;
}
.calibre178 {
  height: 113pt;
  width: 154pt;
}
.calibre179 {
  height: 81pt;
  width: 182pt;
}
.calibre180 {
  height: 122pt;
  width: 180pt;
}
.calibre181 {
  height: 43.6pt;
  width: 257pt;
}
.calibre182 {
  height: 97.3pt;
  width: 120pt;
}
.calibre183 {
  height: 109pt;
  width: 254pt;
}
.calibre184 {
  height: 36pt;
  width: 37.5pt;
}
.calibre185 {
  height: 34.1pt;
  width: 34.5pt;
}
.calibre186 {
  height: 69.8pt;
  width: 105pt;
}
.calibre187 {
  height: 29pt;
  width: 29pt;
}
.calibre188 {
  height: 94.5pt;
  width: 129pt;
}
.calibre189 {
  height: 50.2pt;
  width: 76.2pt;
}
.calibre190 {
  height: 51.3pt;
  width: 75pt;
}
.calibre191 {
  height: 26pt;
  width: 24.1pt;
}
.calibre192 {
  height: 72.2pt;
  width: 55.7pt;
}
.calibre193 {
  height: 71.2pt;
  width: 87.8pt;
}
.calibre194 {
  height: 81.6pt;
  width: 81.1pt;
}
.calibre195 {
  height: 89.6pt;
  width: 67.2pt;
}
.calibre196 {
  height: 49.9pt;
  width: 74.4pt;
}
.calibre197 {
  height: 91.5pt;
  width: 95.6pt;
}
.calibre198 {
  height: 76.8pt;
  width: 155pt;
}
.calibre199 {
  height: 37.4pt;
  width: 36.3pt;
}
.calibre200 {
  height: 58.7pt;
  width: 86.5pt;
}
.calibre201 {
  height: 88.3pt;
  width: 140pt;
}
.calibre202 {
  height: 58.7pt;
  width: 85.6pt;
}
.calibre203 {
  height: 77.1pt;
  width: 105pt;
}
.calibre204 {
  height: 86.5pt;
  width: 112pt;
}
.calibre205 {
  height: 23.6pt;
  width: 24pt;
}
.calibre206 {
  height: 72pt;
  width: 89.4pt;
}
.calibre207 {
  height: 114pt;
  width: 163pt;
}
.calibre208 {
  height: 179pt;
  width: 388pt;
}
.calibre209 {
  height: 53.5pt;
  width: 54.6pt;
}
.calibre210 {
  height: 27.9pt;
  width: 26.6pt;
}
.calibre211 {
  height: 62pt;
  width: 49.6pt;
}
.calibre212 {
  height: 134pt;
  width: 105pt;
}
.calibre213 {
  height: 26.1pt;
  width: 26.6pt;
}
.calibre214 {
  height: 24.1pt;
  width: 23pt;
}
.calibre215 {
  height: 65.3pt;
  width: 105pt;
}
.calibre216 {
  height: 163pt;
  width: 92.3pt;
}
.calibre217 {
  height: 99.4pt;
  width: 152pt;
}
.calibre218 {
  height: 65.6pt;
  width: 76.2pt;
}
.calibre219 {
  height: 62.1pt;
  width: 81.7pt;
}
.calibre220 {
  height: 55pt;
  width: 45.4pt;
}
.calibre221 {
  height: 113pt;
  width: 96.8pt;
}
.calibre222 {
  height: 27.4pt;
  width: 26.6pt;
}
.calibre223 {
  height: 118pt;
  width: 143pt;
}
.calibre224 {
  height: 103pt;
  width: 96.1pt;
}
.calibre225 {
  height: 67.8pt;
  width: 93.6pt;
}
.calibre226 {
  height: 81.8pt;
  width: 85.9pt;
}
.calibre227 {
  height: 39.3pt;
  width: 41.5pt;
}
.calibre228 {
  height: 53.8pt;
  transform: scaley(-1);
  width: 45.4pt;
}
.calibre229 {
  height: 49.6pt;
  width: 74.3pt;
}
.calibre230 {
  height: 129pt;
  width: 105pt;
}
.calibre231 {
  height: 61.8pt;
  width: 71.4pt;
}
.calibre232 {
  height: 77.4pt;
  width: 104pt;
}
.calibre233 {
  height: 53.4pt;
  width: 72pt;
}
.calibre234 {
  height: 73.8pt;
  width: 78.1pt;
}
.calibre235 {
  height: 75.2pt;
  width: 93.8pt;
}
.calibre236 {
  height: 114pt;
  width: 95pt;
}
.calibre237 {
  height: 46.6pt;
  width: 41.1pt;
}
.calibre238 {
  height: 126pt;
  width: 193pt;
}
.calibre239 {
  height: 99.6pt;
  width: 90.1pt;
}
.calibre240 {
  height: 173pt;
  width: 160pt;
}
.calibre241 {
  height: 22.8pt;
  width: 23pt;
}
.calibre242 {
  height: 92.5pt;
  width: 58.1pt;
}
.calibre243 {
  height: 188pt;
  width: 437pt;
}
.calibre244 {
  height: 47.1pt;
  width: 46.7pt;
}
.calibre245 {
  height: 60.9pt;
  width: 66.3pt;
}
.calibre246 {
  height: 119pt;
  width: 91.4pt;
}
.calibre247 {
  height: 70.8pt;
  transform: scalex(-1);
  width: 98.3pt;
}
.calibre248 {
  height: 30.9pt;
  width: 30pt;
}
.calibre249 {
  height: 23.6pt;
  width: 136pt;
}
.calibre250 {
  height: 56.2pt;
  width: 139pt;
}
.calibre251 {
  height: 62.4pt;
  width: 58.1pt;
}
.calibre252 {
  height: 90.2pt;
  width: 163pt;
}
.calibre253 {
  height: 103pt;
  width: 99.8pt;
}
.calibre254 {
  height: 96pt;
  width: 100pt;
}
.calibre255 {
  height: 107pt;
  width: 119pt;
}
.calibre256 {
  height: 112pt;
  width: 104pt;
}
.calibre257 {
  height: 102pt;
  width: 109pt;
}
.calibre258 {
  height: 107pt;
  width: 89.2pt;
}
.calibre259 {
  height: 86.2pt;
  width: 82.5pt;
}
.calibre260 {
  height: 87pt;
  width: 99.8pt;
}
.calibre261 {
  height: 73.4pt;
  width: 108pt;
}
.calibre262 {
  height: 87pt;
  width: 109pt;
}
.calibre263 {
  height: 66.8pt;
  width: 78.7pt;
}
.calibre264 {
  height: 63.8pt;
  width: 99.8pt;
}
.calibre265 {
  height: 76.5pt;
  width: 83.2pt;
}
.calibre266 {
  height: 66.8pt;
  width: 91.5pt;
}
.calibre267 {
  height: 46.6pt;
  width: 55.5pt;
}
.calibre268 {
  height: 66pt;
  width: 39.8pt;
}
.calibre269 {
  height: 48.8pt;
  width: 62.2pt;
}
.calibre270 {
  height: 22.6pt;
  width: 22.4pt;
}
.calibre271 {
  height: 23.4pt;
  width: 23pt;
}
.calibre272 {
  height: 39pt;
  width: 78pt;
}
.calibre273 {
  height: 39pt;
  width: 83.2pt;
}
.calibre274 {
  height: 48.8pt;
  width: 57.8pt;
}
.calibre275 {
  height: 42pt;
  width: 36pt;
}
.calibre276 {
  height: 42pt;
  width: 72.8pt;
}
.calibre277 {
  height: 53.2pt;
  width: 89.2pt;
}
.calibre278 {
  height: 46pt;
  width: 81.8pt;
}
.calibre279 {
  height: 36.8pt;
  width: 57.8pt;
}
.calibre280 {
  height: 42.8pt;
  width: 61.5pt;
}
.calibre281 {
  height: 35.2pt;
  width: 51pt;
}
.calibre282 {
  height: 26pt;
  width: 25pt;
}
.list_ {
  display: block;
  list-style-type: decimal;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0;
}
.list_1 {
  display: block;
  list-style-type: disc;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0;
}
.tab {
  white-space: pre-wrap;
}
.table_ {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  text-indent: 0;
  width: 98.3%;
  padding: 0;
  border: currentColor solid 1pt;
}
.table_1 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  text-indent: 0;
  padding: 0;
  border: currentColor solid 1pt;
}
.table_2 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  text-indent: 0;
  width: 100%;
  padding: 0;
  border: currentColor solid 1pt;
}
.table_3 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  text-indent: 0;
  width: 59.7%;
  padding: 0;
  border: currentColor solid 1pt;
}
.table_4 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  text-indent: 0;
  width: 70.7%;
  padding: 0;
  border: currentColor solid 1pt;
}
.table_5 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  text-indent: 0;
  width: 103%;
  padding: 0;
  border: currentColor solid 1pt;
}
.td_ {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_1 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_2 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25%;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_3 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_4 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25%;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_5 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_6 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_7 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_8 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_9 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 90pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_10 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 100pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_11 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 93.3pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_12 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 88.2pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_13 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 90.7pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_14 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 90pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_15 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 100pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_16 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 93.3pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_17 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 88.2pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_18 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 90.7pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_19 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 90pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_20 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 100pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_21 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 93.3pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_22 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 88.2pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_23 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 90.7pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_24 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 116pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_25 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 116pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_26 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 116pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_27 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 116pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_28 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 116pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_29 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 116pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_30 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 116pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_31 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 116pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_32 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 116pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_33 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_34 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_35 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_36 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_37 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_38 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_39 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_40 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_41 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_42 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 50%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_43 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 50%;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_44 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 50%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_45 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 50%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_46 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 50%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_47 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 50%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_48 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 31.1%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_49 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 35.6%;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_50 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 31.1%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_51 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 35.6%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_52 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 31.1%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_53 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 35.6%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_54 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 49.5%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_55 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 50.5%;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_56 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 49.5%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_57 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 50.5%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_58 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 49.5%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_59 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 50.5%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_60 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 113pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_61 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 113pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_62 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 113pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_63 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 113pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_64 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 113pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_65 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 113pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_66 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 113pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_67 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 113pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_68 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 113pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_69 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 81pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_70 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 71.8pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_71 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 112pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_72 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 104pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_73 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 82.2pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_74 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 81pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_75 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 71.8pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_76 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 112pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_77 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 104pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_78 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 82.2pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_79 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 81pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_80 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 71.8pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_81 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 112pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_82 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 104pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_83 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 82.2pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.text_ {
  color: currentColor;
}
.text_1 {
  color: #000;
}
.text_2 {
  color: #00F;
  text-decoration: underline;
}
.text_3 {
  background-color: yellow;
  font-weight: bold;
}
.text_4 {
  color: #00F;
  font-weight: bold;
  text-decoration: underline;
}
.text_5 {
  background-color: #FFF;
  color: #4D5156;
}
