.block_ {
  display: block;
  line-height: 1.2;
  text-align: center;
  margin: 0 0 8pt;
  padding: 0;
}
.block_1 {
  display: block;
  line-height: 1.2;
  margin: 0 0 8pt;
  padding: 0;
}
.block_2 {
  display: block;
  line-height: 1.2;
  margin: 0 0 8pt;
  padding: 0;
}
.block_3 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.2;
  margin: 0 0 8pt;
  padding: 0;
}
.block_4 {
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 2pt 0 0;
  padding: 0;
}
.block_5 {
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 12pt 0 0;
  padding: 0;
}
.block_6 {
  display: block;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.block_7 {
  display: block;
  margin: 0;
  padding: 0;
}
.block_8 {
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 12pt 0 0;
  padding: 0;
}
.block_9 {
  display: list-item;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_10 {
  display: list-item;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_11 {
  display: list-item;
  line-height: 1.2;
  margin-bottom: 8pt;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_12 {
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 8pt;
  padding: 0;
}
.block_13 {
  display: table-row;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
.block_14 {
  display: table-row;
  line-height: 1.2;
  margin: 0 0 8pt;
  padding: 0;
}
.block_15 {
  display: table-row;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.2;
  margin: 0 0 8pt;
  padding: 0;
}
.block_16 {
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 2pt 0 0;
  padding: 0;
}
.block_17 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  font-weight: normal;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 2pt 0 0;
  padding: 0;
}
.block_18 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  margin: 0;
  padding: 0;
}
.block_19 {
  display: block;
  line-height: 1.2;
  margin: 0 0 8pt 18pt;
  padding: 0;
}
.block_20 {
  display: block;
  margin: 0 0 8pt;
  padding: 0;
}
.block_21 {
  display: list-item;
  line-height: 1.2;
  margin-bottom: 8pt;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_22 {
  display: list-item;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 72pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_23 {
  display: block;
  font-family: "Vijaya", serif;
  margin: 0;
  padding: 0;
}
.block_24 {
  display: block;
  line-height: 1.2;
  text-indent: 36pt;
  margin: 0 0 8pt;
  padding: 0;
}
.bullet_ {
  display: table-cell;
  font-weight: bold;
  line-height: 1.2;
}
.calibre {
  display: block;
  font-family: "Calibri", sans-serif;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  text-align: left;
  margin: 0 5pt;
}
.calibre1 {
  height: 171pt;
  line-height: 1.2;
  width: 107pt;
}
.calibre2 {
  line-height: 1.2;
  white-space: pre-wrap;
}
.calibre3 {
  height: 73.9pt;
  line-height: 1.2;
  width: 78pt;
}
.calibre4 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre5 {
  height: 79.8pt;
  line-height: 1.2;
  width: 134pt;
}
.calibre6 {
  display: table-row-group;
  vertical-align: middle;
}
.calibre7 {
  display: table-row;
  vertical-align: inherit;
}
.calibre8 {
  height: 78.3pt;
  line-height: 1.2;
  width: 79.5pt;
}
.calibre9 {
  height: 76.3pt;
  line-height: 1.2;
  width: 75.8pt;
}
.calibre10 {
  height: 114pt;
  line-height: 1.2;
  width: 115pt;
}
.calibre11 {
  height: 67.6pt;
  line-height: 1.2;
  width: 69.5pt;
}
.calibre12 {
  height: 84.9pt;
  line-height: 1.2;
  width: 125pt;
}
.calibre13 {
  height: 38.3pt;
  line-height: 1.2;
  width: 111pt;
}
.calibre14 {
  height: 64.1pt;
  line-height: 1.2;
  width: 67pt;
}
.calibre15 {
  height: 108pt;
  line-height: 1.2;
  width: 139pt;
}
.calibre16 {
  display: table;
  margin: 0;
  padding: 0 0 0 36pt;
}
.calibre17 {
  display: table-cell;
  line-height: 1.2;
}
.calibre18 {
  display: table;
  margin: 0;
  padding: 0 0 0 22.5pt;
}
.calibre19 {
  height: 71.5pt;
  line-height: 1.2;
  width: 73.3pt;
}
.calibre20 {
  height: 240pt;
  line-height: 1.2;
  width: 35.3pt;
}
.calibre21 {
  height: 105pt;
  line-height: 1.2;
  width: 150pt;
}
.calibre22 {
  display: table;
  margin: 0;
  padding: 0 0 0 27pt;
}
.calibre23 {
  height: 277pt;
  line-height: 1.2;
  width: 29.3pt;
}
.calibre24 {
  height: 216pt;
  line-height: 1.2;
  width: 41.3pt;
}
.calibre25 {
  height: 69.6pt;
  line-height: 1.2;
  width: 72.6pt;
}
.calibre26 {
  height: 52.8pt;
  line-height: 1.2;
  width: 175pt;
}
.calibre27 {
  height: 99.5pt;
  line-height: 1.2;
  width: 94.5pt;
}
.calibre28 {
  font-weight: bold;
}
.calibre29 {
  height: 135pt;
  line-height: 1.2;
  width: 93.3pt;
}
.calibre30 {
  height: 70.1pt;
  line-height: 1.2;
  width: 72.6pt;
}
.calibre31 {
  display: block;
  line-height: 1.2;
}
.calibre32 {
  height: 77.2pt;
  line-height: 1.2;
  width: 130pt;
}
.calibre33 {
  height: 70.7pt;
  line-height: 1.2;
  width: 72pt;
}
.calibre34 {
  height: 87.7pt;
  line-height: 1.2;
  width: 132pt;
}
.calibre35 {
  height: 112pt;
  line-height: 1.2;
  width: 119pt;
}
.calibre36 {
  height: 58.5pt;
  line-height: 1.2;
  width: 101pt;
}
.calibre37 {
  height: 84pt;
  line-height: 1.2;
  width: 154pt;
}
.calibre38 {
  height: 99.1pt;
  line-height: 1.2;
  width: 106pt;
}
.calibre39 {
  height: 184pt;
  line-height: 1.2;
  width: 87.8pt;
}
.calibre40 {
  height: 69pt;
  line-height: 1.2;
  width: 75.8pt;
}
.calibre41 {
  height: 67.7pt;
  line-height: 1.2;
  width: 69.5pt;
}
.calibre42 {
  height: 80.5pt;
  line-height: 1.2;
  width: 124pt;
}
.calibre43 {
  height: 119pt;
  line-height: 1.2;
  width: 124pt;
}
.calibre44 {
  height: 55.5pt;
  line-height: 1.2;
  width: 149pt;
}
.calibre45 {
  white-space: pre-wrap;
}
.calibre46 {
  height: 89.2pt;
  line-height: 1.2;
  width: 141pt;
}
.calibre47 {
  height: 77.3pt;
  line-height: 1.2;
  width: 95.3pt;
}
.calibre48 {
  height: 102pt;
  line-height: 1.2;
  width: 390pt;
}
.calibre49 {
  height: 94.6pt;
  line-height: 1.2;
  width: 158pt;
}
.calibre50 {
  height: 102pt;
  line-height: 1.2;
  width: 127pt;
}
.calibre51 {
  height: 79.5pt;
  line-height: 1.2;
  width: 181pt;
}
.calibre52 {
  height: 71.3pt;
  line-height: 1.2;
  width: 131pt;
}
.calibre53 {
  height: 80.3pt;
  line-height: 1.2;
  width: 155pt;
}
.calibre54 {
  height: 87.7pt;
  line-height: 1.2;
  width: 81pt;
}
.calibre55 {
  height: 72.8pt;
  line-height: 1.2;
  width: 81.8pt;
}
.calibre56 {
  height: 95.5pt;
  line-height: 1.2;
  width: 97pt;
}
.calibre57 {
  height: 66pt;
  line-height: 1.2;
  width: 212pt;
}
.calibre58 {
  height: 149pt;
  line-height: 1.2;
  width: 108pt;
}
.calibre59 {
  height: 91.5pt;
  line-height: 1.2;
  width: 145pt;
}
.calibre60 {
  height: 121pt;
  line-height: 1.2;
  width: 113pt;
}
.calibre61 {
  height: 77pt;
  line-height: 1.2;
  width: 151pt;
}
.calibre62 {
  height: 66.8pt;
  line-height: 1.2;
  width: 119pt;
}
.calibre63 {
  height: 86.5pt;
  line-height: 1.2;
  width: 132pt;
}
.calibre64 {
  height: 85.8pt;
  line-height: 1.2;
  width: 143pt;
}
.calibre65 {
  height: 72pt;
  line-height: 1.2;
  width: 75.8pt;
}
.calibre66 {
  height: 134pt;
  line-height: 1.2;
  width: 94.5pt;
}
.calibre67 {
  height: 78.6pt;
  line-height: 1.2;
  width: 140pt;
}
.calibre68 {
  height: 80.3pt;
  line-height: 1.2;
  width: 144pt;
}
.calibre69 {
  height: 78pt;
  line-height: 1.2;
  width: 90.8pt;
}
.calibre70 {
  height: 51pt;
  line-height: 1.2;
  width: 77.3pt;
}
.calibre71 {
  height: 76.5pt;
  line-height: 1.2;
  width: 75pt;
}
.calibre72 {
  height: 76.3pt;
  line-height: 1.2;
  width: 146pt;
}
.calibre73 {
  height: 101pt;
  line-height: 1.2;
  width: 127pt;
}
.calibre74 {
  height: 160pt;
  line-height: 1.2;
  width: 115pt;
}
.calibre75 {
  height: 85.7pt;
  line-height: 1.2;
  width: 124pt;
}
.calibre76 {
  height: 104pt;
  line-height: 1.2;
  width: 104pt;
}
.calibre77 {
  height: 93.6pt;
  line-height: 1.2;
  width: 154pt;
}
.calibre78 {
  height: 142pt;
  line-height: 1.2;
  width: 109pt;
}
.calibre79 {
  height: 151pt;
  line-height: 1.2;
  width: 108pt;
}
.calibre80 {
  height: 59.5pt;
  line-height: 1.2;
  width: 60.7pt;
}
.calibre81 {
  height: 49.4pt;
  line-height: 1.2;
  width: 81.8pt;
}
.calibre82 {
  height: 69.8pt;
  line-height: 1.2;
  width: 104pt;
}
.calibre83 {
  height: 68.9pt;
  line-height: 1.2;
  width: 91.5pt;
}
.calibre84 {
  height: 58.5pt;
  line-height: 1.2;
  width: 124pt;
}
.calibre85 {
  height: 86.8pt;
  line-height: 1.2;
  width: 103pt;
}
.calibre86 {
  height: 90.6pt;
  line-height: 1.2;
  width: 103pt;
}
.calibre87 {
  height: 71.5pt;
  line-height: 1.2;
  width: 158pt;
}
.calibre88 {
  height: 74.2pt;
  line-height: 1.2;
  width: 72.6pt;
}
.calibre89 {
  height: 105pt;
  line-height: 1.2;
  width: 166pt;
}
.calibre90 {
  height: 66pt;
  line-height: 1.2;
  width: 70.5pt;
}
.calibre91 {
  height: 77.4pt;
  line-height: 1.2;
  width: 141pt;
}
.calibre92 {
  height: 67.5pt;
  line-height: 1.2;
  width: 72pt;
}
.calibre93 {
  height: 75.4pt;
  line-height: 1.2;
  width: 161pt;
}
.calibre94 {
  height: 106pt;
  line-height: 1.2;
  width: 113pt;
}
.calibre95 {
  height: 82.6pt;
  line-height: 1.2;
  width: 115pt;
}
.calibre96 {
  height: 90.3pt;
  line-height: 1.2;
  width: 168pt;
}
.calibre97 {
  height: 75pt;
  line-height: 1.2;
  width: 75pt;
}
.calibre98 {
  height: 85.5pt;
  line-height: 1.2;
  width: 102pt;
}
.calibre99 {
  height: 160pt;
  line-height: 1.2;
  width: 120pt;
}
.calibre100 {
  height: 95.3pt;
  line-height: 1.2;
  width: 88.5pt;
}
.calibre101 {
  height: 97pt;
  line-height: 1.2;
  width: 183pt;
}
.calibre102 {
  height: 76.9pt;
  line-height: 1.2;
  width: 131pt;
}
.calibre103 {
  height: 78.1pt;
  line-height: 1.2;
  width: 197pt;
}
.calibre104 {
  height: 104pt;
  line-height: 1.2;
  width: 131pt;
}
.calibre105 {
  height: 95.9pt;
  line-height: 1.2;
  width: 99.8pt;
}
.calibre106 {
  height: 98pt;
  line-height: 1.2;
  width: 119pt;
}
.calibre107 {
  height: 106pt;
  line-height: 1.2;
  width: 175pt;
}
.calibre108 {
  height: 70.3pt;
  line-height: 1.2;
  width: 160pt;
}
.calibre109 {
  height: 90.8pt;
  line-height: 1.2;
  width: 57.8pt;
}
.calibre110 {
  height: 69pt;
  line-height: 1.2;
  width: 107pt;
}
.calibre111 {
  height: 100pt;
  line-height: 1.2;
  width: 139pt;
}
.calibre112 {
  height: 72pt;
  line-height: 1.2;
  width: 74.3pt;
}
.calibre113 {
  height: 88pt;
  line-height: 1.2;
  width: 151pt;
}
.calibre114 {
  height: 80.8pt;
  line-height: 1.2;
  width: 67.9pt;
}
.calibre115 {
  height: 72.8pt;
  line-height: 1.2;
  width: 75pt;
}
.calibre116 {
  height: 136pt;
  line-height: 1.2;
  width: 83.3pt;
}
.calibre117 {
  height: 63pt;
  line-height: 1.2;
  width: 59.3pt;
}
.calibre118 {
  height: 69.8pt;
  line-height: 1.2;
  width: 92.3pt;
}
.calibre119 {
  height: 120pt;
  line-height: 1.2;
  width: 73.9pt;
}
.calibre120 {
  height: 75pt;
  line-height: 1.2;
  width: 75.8pt;
}
.calibre121 {
  height: 81.5pt;
  line-height: 1.2;
  width: 125pt;
}
.calibre122 {
  line-height: 1.2;
  text-decoration: none;
}
.calibre123 {
  height: 75.8pt;
  line-height: 1.2;
  width: 78.3pt;
}
.calibre124 {
  height: 96pt;
  line-height: 1.2;
  width: 123pt;
}
.calibre125 {
  height: 61.5pt;
  line-height: 1.2;
  width: 66pt;
}
.calibre126 {
  height: 80.9pt;
  line-height: 1.2;
  width: 141pt;
}
.calibre127 {
  height: 88.7pt;
  line-height: 1.2;
  width: 155pt;
}
.calibre128 {
  height: 152pt;
  line-height: 1.2;
  width: 97.6pt;
}
.calibre129 {
  height: 131pt;
  line-height: 1.2;
  width: 101pt;
}
.calibre130 {
  height: 87pt;
  line-height: 1.2;
  width: 212pt;
}
.calibre131 {
  height: 84pt;
  line-height: 1.2;
  width: 205pt;
}
.calibre132 {
  height: 118pt;
  line-height: 1.2;
  width: 110pt;
}
.calibre133 {
  height: 69.6pt;
  line-height: 1.2;
  width: 70.5pt;
}
.calibre134 {
  height: 74.2pt;
  line-height: 1.2;
  width: 75.2pt;
}
.calibre135 {
  height: 68.3pt;
  line-height: 1.2;
  width: 118pt;
}
.calibre136 {
  height: 173pt;
  line-height: 1.2;
  width: 99pt;
}
.calibre137 {
  height: 91.5pt;
  line-height: 1.2;
  width: 140pt;
}
.calibre138 {
  height: 60.8pt;
  line-height: 1.2;
  width: 81.8pt;
}
.calibre139 {
  height: 57.8pt;
  line-height: 1.2;
  width: 121pt;
}
.calibre140 {
  height: 66pt;
  line-height: 1.2;
  width: 76.5pt;
}
.calibre141 {
  height: 60.8pt;
  line-height: 1.2;
  width: 75.8pt;
}
.calibre142 {
  height: 87.8pt;
  line-height: 1.2;
  width: 121pt;
}
.calibre143 {
  height: 93.2pt;
  line-height: 1.2;
  width: 127pt;
}
.calibre144 {
  height: 79.5pt;
  line-height: 1.2;
  width: 78.6pt;
}
.calibre145 {
  height: 91.1pt;
  line-height: 1.2;
  width: 116pt;
}
.calibre146 {
  height: 124pt;
  line-height: 1.2;
  width: 124pt;
}
.calibre147 {
  height: 99.8pt;
  line-height: 1.2;
  width: 148pt;
}
.calibre148 {
  height: 109pt;
  line-height: 1.2;
  width: 157pt;
}
.calibre149 {
  height: 98.9pt;
  line-height: 1.2;
  width: 162pt;
}
.calibre150 {
  height: 128pt;
  line-height: 1.2;
  width: 142pt;
}
.calibre151 {
  height: 55.5pt;
  line-height: 1.2;
  width: 83.2pt;
}
.calibre152 {
  height: 75pt;
  line-height: 1.2;
  width: 77.5pt;
}
.calibre153 {
  height: 113pt;
  line-height: 1.2;
  width: 140pt;
}
.calibre154 {
  height: 81.3pt;
  line-height: 1.2;
  width: 140pt;
}
.calibre155 {
  height: 103pt;
  line-height: 1.2;
  width: 142pt;
}
.calibre156 {
  height: 83.1pt;
  line-height: 1.2;
  width: 84pt;
}
.calibre157 {
  height: 98.8pt;
  line-height: 1.2;
  width: 151pt;
}
.calibre158 {
  height: 78.8pt;
  line-height: 1.2;
  width: 79.7pt;
}
.calibre159 {
  height: 104pt;
  line-height: 1.2;
  width: 154pt;
}
.calibre160 {
  height: 81pt;
  line-height: 1.2;
  width: 57.8pt;
}
.calibre161 {
  height: 69.8pt;
  line-height: 1.2;
  width: 87pt;
}
.calibre162 {
  height: 54pt;
  width: 75.8pt;
}
.calibre163 {
  height: 41.3pt;
  width: 64.5pt;
}
.calibre164 {
  height: 39.8pt;
  width: 68.3pt;
}
.calibre165 {
  height: 44.9pt;
  width: 52.5pt;
}
.calibre166 {
  height: 37.2pt;
  width: 52.5pt;
}
.calibre167 {
  height: 37.5pt;
  width: 42.9pt;
}
.calibre168 {
  height: 39.8pt;
  width: 66.8pt;
}
.calibre169 {
  height: 36.8pt;
  width: 51pt;
}
.calibre170 {
  height: 43.5pt;
  width: 63pt;
}
.calibre171 {
  height: 41.3pt;
  width: 75pt;
}
.calibre172 {
  height: 30.6pt;
  width: 37.4pt;
}
.calibre173 {
  height: 35.3pt;
  width: 57pt;
}
.calibre174 {
  height: 53.3pt;
  width: 63pt;
}
.calibre175 {
  height: 45.8pt;
  width: 60pt;
}
.calibre176 {
  height: 103pt;
  line-height: 1.2;
  width: 158pt;
}
.calibre177 {
  height: 155pt;
  line-height: 1.2;
  width: 112pt;
}
.calibre178 {
  height: 72pt;
  line-height: 1.2;
  width: 71.1pt;
}
.calibre179 {
  height: 82.6pt;
  line-height: 1.2;
  width: 163pt;
}
.calibre180 {
  height: 125pt;
  line-height: 1.2;
  width: 102pt;
}
.calibre181 {
  height: 94.5pt;
  line-height: 1.2;
  width: 133pt;
}
.calibre182 {
  height: 108pt;
  line-height: 1.2;
  width: 117pt;
}
.calibre183 {
  height: 120pt;
  line-height: 1.2;
  width: 135pt;
}
.calibre184 {
  height: 72pt;
  line-height: 1.2;
  width: 72.9pt;
}
.calibre185 {
  height: 113pt;
  line-height: 1.2;
  width: 112pt;
}
.calibre186 {
  height: 87pt;
  line-height: 1.2;
  width: 176pt;
}
.calibre187 {
  height: 84pt;
  line-height: 1.2;
  width: 179pt;
}
.calibre188 {
  height: 70.5pt;
  line-height: 1.2;
  width: 176pt;
}
.calibre189 {
  height: 106pt;
  line-height: 1.2;
  width: 120pt;
}
.calibre190 {
  height: 92.8pt;
  line-height: 1.2;
  width: 123pt;
}
.calibre191 {
  height: 84.8pt;
  line-height: 1.2;
  width: 156pt;
}
.calibre192 {
  height: 80.2pt;
  line-height: 1.2;
  width: 84.3pt;
}
.calibre193 {
  height: 73.5pt;
  line-height: 1.2;
  width: 75.2pt;
}
.calibre194 {
  height: 78pt;
  line-height: 1.2;
  width: 80.3pt;
}
.calibre195 {
  height: 77.3pt;
  line-height: 1.2;
  width: 69pt;
}
.calibre196 {
  height: 90pt;
  line-height: 1.2;
  width: 72.8pt;
}
.calibre197 {
  height: 81.8pt;
  line-height: 1.2;
  width: 90.8pt;
}
.calibre198 {
  height: 70.6pt;
  line-height: 1.2;
  width: 91.5pt;
}
.calibre199 {
  height: 81.2pt;
  line-height: 1.2;
  width: 83.3pt;
}
.calibre200 {
  height: 109pt;
  line-height: 1.2;
  width: 135pt;
}
.calibre201 {
  height: 75.8pt;
  line-height: 1.2;
  width: 75.8pt;
}
.calibre202 {
  height: 102pt;
  line-height: 1.2;
  width: 129pt;
}
.calibre203 {
  height: 91.9pt;
  line-height: 1.2;
  width: 140pt;
}
.calibre204 {
  height: 60.8pt;
  line-height: 1.2;
  width: 191pt;
}
.calibre205 {
  height: 47.3pt;
  line-height: 1.2;
  width: 193pt;
}
.calibre206 {
  height: 36pt;
  line-height: 1.2;
  width: 192pt;
}
.calibre207 {
  height: 49.5pt;
  line-height: 1.2;
  width: 181pt;
}
.calibre208 {
  height: 45.8pt;
  line-height: 1.2;
  width: 194pt;
}
.calibre209 {
  height: 45pt;
  line-height: 1.2;
  width: 173pt;
}
.calibre210 {
  height: 106pt;
  line-height: 1.2;
  width: 163pt;
}
.calibre211 {
  height: 51.8pt;
  line-height: 1.2;
  width: 191pt;
}
.calibre212 {
  height: 53.3pt;
  line-height: 1.2;
  width: 194pt;
}
.calibre213 {
  height: 52.5pt;
  line-height: 1.2;
  width: 191pt;
}
.calibre214 {
  height: 47.3pt;
  line-height: 1.2;
  width: 191pt;
}
.calibre215 {
  height: 50.3pt;
  line-height: 1.2;
  width: 191pt;
}
.calibre216 {
  height: 45pt;
  line-height: 1.2;
  width: 189pt;
}
.calibre217 {
  height: 45.8pt;
  line-height: 1.2;
  width: 191pt;
}
.calibre218 {
  height: 46.5pt;
  line-height: 1.2;
  width: 187pt;
}
.calibre219 {
  height: 101pt;
  line-height: 1.2;
  width: 131pt;
}
.calibre220 {
  height: 83.3pt;
  line-height: 1.2;
  width: 149pt;
}
.calibre221 {
  height: 74.2pt;
  line-height: 1.2;
  width: 75.9pt;
}
.calibre222 {
  font-size: 0.83333em;
  line-height: 1.2;
  vertical-align: super;
}
.list_ {
  display: block;
  list-style-type: disc;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0;
}
.tab {
  line-height: 1.2;
  white-space: pre-wrap;
}
.table_ {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  text-indent: 0;
  padding: 0;
  border: currentColor solid 1pt;
}
.table_1 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  text-indent: 0;
  width: 454pt;
  padding: 0;
  border: currentColor solid 1pt;
}
.table_2 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  text-indent: 0;
  width: 450pt;
  padding: 0;
  border: currentColor solid 1pt;
}
.td_ {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 44.8pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_1 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 126pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_2 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 72pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_3 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 44.8pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_4 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 126pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_5 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 72pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_6 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 44.8pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_7 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 126pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_8 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 72pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_9 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 220pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_10 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 234pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_11 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 220pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_12 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 234pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_13 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 220pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_14 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 234pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_15 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 113pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_16 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 85pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_17 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 99pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_18 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 85.5pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_19 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 113pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_20 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 85pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_21 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 99pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_22 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 85.5pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_23 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 113pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_24 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 85pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_25 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 99pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_26 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 85.5pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_27 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_28 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_29 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 117pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_30 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_31 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_32 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 117pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_33 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_34 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_35 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 117pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_36 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 62.8pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_37 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 72pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_38 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 62.8pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_39 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 72pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_40 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 62.8pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_41 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 72pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_42 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 211pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_43 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 202pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_44 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 211pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_45 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 202pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_46 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 211pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_47 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 202pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_48 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_49 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_50 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_51 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 180pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_52 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 166pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_53 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 180pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_54 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 166pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_55 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 180pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_56 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 166pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_57 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 135pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_58 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 126pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_59 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 135pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_60 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 126pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_61 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 135pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_62 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 126pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_63 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 108pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_64 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 112pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_65 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 97.2pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_66 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 108pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_67 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 112pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_68 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 97.2pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_69 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 108pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_70 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 112pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_71 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 97.2pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_72 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 189pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_73 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 176pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_74 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 189pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_75 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 176pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_76 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 189pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_77 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 176pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_78 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 194pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_79 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 67.5pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_80 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 194pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_81 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 67.5pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_82 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 194pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_83 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 67.5pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_84 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 66.1pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_85 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 66.1pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_86 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 66.1pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_87 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 95.7pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_88 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 76.2pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_89 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 78.8pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_90 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 95.7pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_91 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 76.2pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_92 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 78.8pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_93 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 95.7pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_94 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 76.2pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_95 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 78.8pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.text_ {
  color: #0563C1;
  text-decoration: underline solid;
}
.text_1 {
  color: #0563C1;
  line-height: 1.2;
  text-decoration: underline solid;
}
