.block_ {
  color: #000;
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 8pt;
  padding: 0;
}
.block_1 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.block_2 {
  color: #000;
  display: block;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.block_3 {
  color: #000;
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_4 {
  color: #000;
  display: block;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.block_5 {
  color: #000;
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.block_6 {
  display: block;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.block_7 {
  color: #000;
  display: block;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.block_8 {
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: normal;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 12pt 0 0;
  padding: 0;
}
.block_9 {
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 2pt 0 0;
  padding: 0;
}
.block_10 {
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 2pt 0 0;
  padding: 0;
}
.block_11 {
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 8pt;
  padding: 0;
}
.block_12 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.block_13 {
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 5pt;
  padding: 0;
}
.block_14 {
  display: block;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.block_15 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.block_16 {
  display: block;
  line-height: 1.5;
  text-align: left;
  text-indent: 36pt;
  margin: 0 0 5pt;
  padding: 0;
}
.block_17 {
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 0;
  padding: 0;
}
.block_18 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 6pt;
  padding: 0;
}
.block_19 {
  color: #000;
  display: block;
  line-height: 1.5;
  text-indent: 36pt;
  margin: 0;
  padding: 0;
}
.block_20 {
  display: block;
  font-style: italic;
  font-weight: bold;
  line-height: 1.5;
  margin: 3pt 0 6pt;
  padding: 0;
}
.block_21 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_22 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_23 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 1.5pt;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_24 {
  display: block;
  line-height: 1.5;
  text-align: left;
  text-indent: -17pt;
  margin: 0 0 0 17pt;
  padding: 0;
}
.block_25 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 3pt;
  padding: 0;
}
.block_26 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 1.5pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_27 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_28 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 3pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
}
.block_29 {
  display: list-item;
  font-family: serif;
  line-height: 1.5;
  margin-bottom: 3pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
}
.block_30 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_31 {
  display: list-item;
  font-family: serif;
  line-height: 1.5;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_32 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 8pt;
  margin-left: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_33 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 8pt;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_34 {
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 4pt;
  padding: 0;
}
.block_35 {
  display: block;
  line-height: 1.5;
  text-align: left;
  text-indent: -48pt;
  margin: 0 0 4pt 48pt;
  padding: 0;
}
.block_36 {
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 6pt;
  padding: 0;
}
.block_37 {
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 12pt;
  padding: 0;
}
.block_38 {
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 3pt;
  padding: 0;
}
.block_39 {
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 10pt;
  padding: 0;
}
.block_40 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 5pt;
  padding: 0;
}
.block_41 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 5pt;
  padding: 0;
}
.block_42 {
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 12pt 0 4pt;
  padding: 0;
}
.block_43 {
  display: block;
  line-height: 1.5;
  text-align: left;
  text-indent: -48pt;
  margin: 0 0 6pt 48pt;
  padding: 0;
}
.block_44 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_45 {
  display: block;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.block_46 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 15pt 0 7pt;
  padding: 0;
}
.block_47 {
  display: block;
  line-height: 1.5;
  margin: 15pt 0 7pt;
  padding: 0;
}
.block_48 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 15pt 0 6pt;
  padding: 0;
}
.block_49 {
  display: block;
  line-height: 1.5;
  margin: 0 0 8pt 18pt;
  padding: 0;
}
.block_50 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 13pt 0 6pt;
  padding: 0;
}
.block_51 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 10pt 0 6pt;
  padding: 0;
}
.block_52 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 4.3pt;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_53 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 13pt 0 2pt;
  padding: 0;
}
.block_54 {
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 3pt 0 2pt;
  padding: 0;
}
.block_55 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 13pt 0 4pt;
  padding: 0;
}
.block_56 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 5.75pt;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_57 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  font-weight: normal;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 2pt 0 0;
  padding: 0;
}
.block_58 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 10pt 0 3pt;
  padding: 0;
}
.block_59 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 2.5pt;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_60 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 5pt;
  padding: 0;
}
.block_61 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 3.5pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_62 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 4pt;
  padding: 0;
}
.block_63 {
  display: block;
  font-family: serif;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 4pt;
  padding: 0;
}
.block_64 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  margin: 4pt 0;
  padding: 0;
}
.block_65 {
  display: block;
  font-family: serif;
  line-height: 1.5;
  text-align: left;
  margin: 4pt 0;
  padding: 0;
}
.block_66 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  margin: 4pt 0 5pt;
  padding: 0;
}
.block_67 {
  display: block;
  font-family: serif;
  line-height: 1.5;
  text-align: left;
  margin: 4pt 0 5pt;
  padding: 0;
}
.block_68 {
  display: list-item;
  font-family: serif;
  line-height: 1.5;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_69 {
  color: #000;
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_70 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 4pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
}
.block_71 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 6pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
}
.block_72 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 1pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
}
.block_73 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
}
.block_74 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 2pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
}
.block_75 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 2pt;
  margin-top: 6pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
}
.block_76 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 1pt;
  margin-top: 6pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
}
.block_77 {
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 1pt;
  padding: 0;
}
.block_78 {
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 6pt 0 0;
  padding: 0;
}
.block_79 {
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 2pt 0 0;
  padding: 0;
}
.block_80 {
  color: #000;
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 4pt;
  padding: 0;
}
.block_81 {
  color: #000;
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 5pt;
  padding: 0;
}
.block_82 {
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 2pt;
  padding: 0;
}
.block_83 {
  display: block;
  line-height: 1.5;
  text-align: left;
  text-indent: -48pt;
  margin: 0 0 0 48pt;
  padding: 0;
}
.block_84 {
  display: block;
  line-height: 1.5;
  margin: 0 0 5pt;
  padding: 0;
}
.block_85 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  margin: 12pt 0 5pt;
  padding: 0;
}
.block_86 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.block_87 {
  display: block;
  line-height: 1.2;
  margin: 0 0 8pt;
  padding: 0;
}
.block_88 {
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 12pt 0 0;
  padding: 0;
}
.block_89 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 5.5pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_90 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 6pt;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.block_91 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 5.5pt;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_92 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 2pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_93 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 5pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
}
.block_94 {
  display: block;
  line-height: 1.5;
  margin: 0 0 6pt;
  padding: 0;
}
.block_95 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  margin: 0 0 6pt;
  padding: 0;
}
.block_96 {
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 16pt;
  padding: 0;
}
.block_97 {
  display: block;
  line-height: 1.5;
  margin: 0 0 3pt;
  padding: 0;
}
.block_98 {
  color: #000;
  display: block;
  font-family: serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.block_99 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 3pt;
  padding: 0;
}
.block_100 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 12pt;
  padding: 0;
}
.block_101 {
  display: block;
  line-height: 1.5;
  text-align: left;
  text-indent: -48pt;
  margin: 6pt 0 0 48pt;
  padding: 0;
}
.block_102 {
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 6pt 0 4pt;
  padding: 0;
}
.block_103 {
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 8pt;
  padding: 0;
}
.block_104 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 1pt;
  padding: 0;
}
.block_105 {
  color: #000;
  display: block;
  margin: 0;
  padding: 0;
}
.block_106 {
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 6pt 0 3pt;
  padding: 0;
}
.block_107 {
  display: block;
  line-height: 1.5;
  text-align: left;
  text-indent: -48pt;
  margin: 0 0 5pt 48pt;
  padding: 0;
}
.block_108 {
  display: block;
  line-height: 1.5;
  text-align: left;
  text-indent: -48pt;
  margin: 12pt 0 6pt 48pt;
  padding: 0;
}
.block_109 {
  display: block;
  line-height: 1.5;
  text-indent: -48pt;
  margin: 0 0 6pt 48pt;
  padding: 0;
}
.block_110 {
  display: block;
  line-height: 1.5;
  text-align: left;
  text-indent: -48pt;
  margin: 0 0 8pt 48pt;
  padding: 0;
}
.block_111 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  text-indent: -28pt;
  margin: 0 0 4pt 28pt;
  padding: 0;
}
.block_112 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 9.25pt;
  margin-left: 18pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_113 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 18pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_114 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 5pt 0 0;
  padding: 0;
}
.block_115 {
  display: block;
  line-height: 1.5;
  margin: 5pt 0 0;
  padding: 0;
}
.block_116 {
  display: block;
  line-height: 1.2;
  margin: 0 0 8pt;
  padding: 0;
}
.block_117 {
  color: #000;
  display: block;
  font-family: "TAU-Marutham", sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.block_118 {
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 2pt 0 0;
  padding: 0;
}
.block_119 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 6pt 0 3pt;
  padding: 0;
}
.block_120 {
  display: block;
  line-height: 1.5;
  text-align: left;
  text-indent: -18pt;
  margin: 0 0 0 18pt;
  padding: 0;
}
.block_121 {
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 2pt 0 5pt;
  padding: 0;
}
.block_122 {
  display: block;
  line-height: 1.5;
  text-align: left;
  margin: 2pt 0;
  padding: 0;
}
.block_123 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  margin: 2pt 0 0;
  padding: 0;
}
.block_124 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  padding: 0;
}
.block_125 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  text-align: left;
  margin: 2pt 0 0;
  padding: 0;
}
.block_126 {
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 8pt;
  padding: 0;
}
.block_127 {
  display: block;
  line-height: 1.5;
  margin: 2pt 0 0;
  padding: 0;
}
.block_128 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.block_129 {
  display: block;
  line-height: 1.5;
  margin: 4pt 0 0;
  padding: 0;
}
.block_130 {
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 4pt 0 0;
  padding: 0;
}
.block_131 {
  display: block;
  line-height: 1.5;
  margin: 0 0 2pt;
  padding: 0;
}
.block_132 {
  display: block;
  line-height: 1.5;
  margin: 1pt 0 2pt;
  padding: 0;
}
.block_133 {
  display: block;
  line-height: 1.5;
  margin: 8pt 0 0;
  padding: 0;
}
.block_134 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-top: 2pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
}
.block_135 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
}
.block_136 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 2pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
}
.block_137 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
}
.block_138 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 3pt;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
}
.block_139 {
  display: list-item;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  margin-bottom: 3pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
}
.block_140 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 3pt;
  padding: 0;
}
.block_141 {
  display: block;
  font-family: "Vijaya", serif;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.block_142 {
  display: block;
  font-family: "Vijaya", serif;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.block_143 {
  display: block;
  font-family: serif;
  line-height: 1.5;
  text-align: left;
  margin: 0 0 3pt;
  padding: 0;
}
.block_144 {
  display: list-item;
  line-height: 1.5;
  margin-bottom: 8pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_145 {
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 2pt 0;
  padding: 0;
}
.block_146 {
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 2pt 0;
  padding: 0;
}
.block_147 {
  display: list-item;
  font-family: serif;
  line-height: 1.5;
  margin-bottom: 8pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_148 {
  display: block;
  font-family: "Calibri Light", sans-serif;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 0;
  padding: 0;
}
.block_149 {
  display: block;
  font-family: serif;
  line-height: 1.5;
  margin: 0 0 8pt;
  padding: 0;
}
.calibre {
  display: block;
  font-family: "Calibri", sans-serif;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  text-align: left;
  margin: 0 5pt;
}
.calibre1 {
  white-space: pre-wrap;
}
.calibre2 {
  display: table-row-group;
  vertical-align: middle;
}
.calibre3 {
  display: table-row;
  vertical-align: inherit;
}
.calibre4 {
  text-decoration: none;
}
.calibre5 {
  height: 49.7pt;
  transform: scalex(-1);
  width: 48.5pt;
}
.calibre6 {
  height: 48.8pt;
  width: 49.5pt;
}
.calibre7 {
  display: block;
}
.calibre8 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre9 {
  height: 50.7pt;
  width: 45.9pt;
}
.calibre10 {
  height: 230pt;
  width: 242pt;
}
.calibre11 {
  height: 49pt;
  width: 49pt;
}
.calibre12 {
  height: 77.4pt;
  width: 100pt;
}
.calibre13 {
  height: 92.9pt;
  width: 96.8pt;
}
.calibre14 {
  height: 104pt;
  width: 174pt;
}
.calibre15 {
  font-weight: bold;
}
.calibre16 {
  height: 148pt;
  width: 211pt;
}
.calibre17 {
  height: 67.4pt;
  width: 69.5pt;
}
.calibre18 {
  height: 97.5pt;
  width: 157pt;
}
.calibre19 {
  height: 142pt;
  width: 175pt;
}
.calibre20 {
  height: 83.9pt;
  width: 252pt;
}
.calibre21 {
  height: 110pt;
  width: 194pt;
}
.calibre22 {
  height: 110pt;
  width: 156pt;
}
.calibre23 {
  height: 90.5pt;
  width: 93pt;
}
.calibre24 {
  height: 64.5pt;
  width: 96pt;
}
.calibre25 {
  height: 89.5pt;
  width: 62.3pt;
}
.calibre26 {
  height: 80.1pt;
  width: 113pt;
}
.calibre27 {
  height: 61.3pt;
  width: 60.7pt;
}
.calibre28 {
  height: 156pt;
  width: 113pt;
}
.calibre29 {
  height: 130pt;
  width: 205pt;
}
.calibre30 {
  height: 117pt;
  width: 325pt;
}
.calibre31 {
  height: 190pt;
  width: 109pt;
}
.calibre32 {
  height: 49.5pt;
  width: 50pt;
}
.calibre33 {
  height: 79.5pt;
  width: 135pt;
}
.calibre34 {
  height: 93pt;
  width: 108pt;
}
.calibre35 {
  height: 85.4pt;
  width: 144pt;
}
.calibre36 {
  height: 90.3pt;
  width: 150pt;
}
.calibre37 {
  display: block;
}
.calibre38 {
  height: 90.8pt;
  width: 159pt;
}
.calibre39 {
  height: 102pt;
  width: 139pt;
}
.calibre40 {
  height: 97.1pt;
  width: 143pt;
}
.calibre41 {
  height: 110pt;
  width: 164pt;
}
.calibre42 {
  height: 91.1pt;
  width: 148pt;
}
.calibre43 {
  height: 122pt;
  width: 131pt;
}
.calibre44 {
  height: 105pt;
  width: 132pt;
}
.calibre45 {
  height: 115pt;
  width: 132pt;
}
.calibre46 {
  height: 57.8pt;
  width: 63pt;
}
.calibre47 {
  height: 57pt;
  width: 59.3pt;
}
.calibre48 {
  height: 45.8pt;
  width: 84.8pt;
}
.calibre49 {
  height: 89.2pt;
  width: 160pt;
}
.calibre50 {
  height: 120pt;
  width: 136pt;
}
.calibre51 {
  height: 51pt;
  width: 51pt;
}
.calibre52 {
  height: 44.4pt;
  width: 45.7pt;
}
.calibre53 {
  height: 145pt;
  width: 249pt;
}
.calibre54 {
  height: 208pt;
  width: 172pt;
}
.calibre55 {
  height: 52.2pt;
  width: 49.4pt;
}
.calibre56 {
  height: 98pt;
  width: 120pt;
}
.calibre57 {
  height: 88.3pt;
  width: 152pt;
}
.calibre58 {
  height: 152pt;
  width: 153pt;
}
.calibre59 {
  height: 106pt;
  width: 139pt;
}
.calibre60 {
  height: 131pt;
  width: 112pt;
}
.calibre61 {
  height: 87pt;
  width: 91.5pt;
}
.calibre62 {
  height: 139pt;
  width: 160pt;
}
.calibre63 {
  height: 110pt;
  width: 146pt;
}
.calibre64 {
  height: 107pt;
  width: 107pt;
}
.calibre65 {
  height: 28.4pt;
  width: 27.4pt;
}
.calibre66 {
  height: 73.6pt;
  width: 83.2pt;
}
.calibre67 {
  font-size: 0.83333em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre68 {
  height: 148pt;
  width: 225pt;
}
.calibre69 {
  height: 72pt;
  width: 93.7pt;
}
.calibre70 {
  height: 41.4pt;
  width: 40.3pt;
}
.calibre71 {
  height: 42.4pt;
  width: 41.7pt;
}
.calibre72 {
  height: 106pt;
  width: 166pt;
}
.calibre73 {
  height: 146pt;
  width: 100pt;
}
.calibre74 {
  height: 164pt;
  width: 126pt;
}
.calibre75 {
  height: 115pt;
  width: 188pt;
}
.calibre76 {
  height: 137pt;
  width: 211pt;
}
.calibre77 {
  height: 31.7pt;
  width: 33pt;
}
.calibre78 {
  height: 121pt;
  width: 155pt;
}
.calibre79 {
  height: 120pt;
  width: 175pt;
}
.calibre80 {
  height: 102pt;
  width: 192pt;
}
.calibre81 {
  height: 136pt;
  width: 190pt;
}
.calibre82 {
  height: 93.8pt;
  width: 226pt;
}
.calibre83 {
  height: 218pt;
  width: 207pt;
}
.calibre84 {
  height: 128pt;
  width: 169pt;
}
.calibre85 {
  height: 85.5pt;
  width: 178pt;
}
.calibre86 {
  height: 36.5pt;
  width: 32.6pt;
}
.calibre87 {
  height: 163pt;
  width: 339pt;
}
.calibre88 {
  height: 93pt;
  width: 113pt;
}
.calibre89 {
  height: 87.8pt;
  width: 158pt;
}
.calibre90 {
  height: 43pt;
  width: 43.5pt;
}
.calibre91 {
  height: 122pt;
  width: 189pt;
}
.calibre92 {
  height: 43.5pt;
  width: 113pt;
}
.calibre93 {
  height: 55.8pt;
  width: 138pt;
}
.calibre94 {
  height: 58.8pt;
  width: 158pt;
}
.calibre95 {
  height: 57pt;
  width: 158pt;
}
.calibre96 {
  height: 75.8pt;
  width: 129pt;
}
.calibre97 {
  height: 159pt;
  width: 293pt;
}
.calibre98 {
  height: 58.5pt;
  width: 57.8pt;
}
.calibre99 {
  height: 57.8pt;
  width: 57.8pt;
}
.calibre100 {
  height: 208pt;
  width: 166pt;
}
.calibre101 {
  height: 115pt;
  width: 207pt;
}
.calibre102 {
  height: 356pt;
  width: 249pt;
}
.calibre103 {
  height: 138pt;
  width: 185pt;
}
.calibre104 {
  height: 113pt;
  width: 228pt;
}
.calibre105 {
  height: 96.5pt;
  width: 218pt;
}
.calibre106 {
  height: 184pt;
  width: 170pt;
}
.calibre107 {
  height: 108pt;
  width: 81.8pt;
}
.calibre108 {
  height: 98.2pt;
  width: 173pt;
}
.calibre109 {
  height: 59.3pt;
  width: 57pt;
}
.calibre110 {
  height: 142pt;
  width: 148pt;
}
.calibre111 {
  height: 151pt;
  width: 215pt;
}
.calibre112 {
  height: 59.3pt;
  width: 60.8pt;
}
.calibre113 {
  height: 59.3pt;
  width: 59.3pt;
}
.calibre114 {
  height: 199pt;
  width: 266pt;
}
.calibre115 {
  height: 172pt;
  width: 241pt;
}
.calibre116 {
  height: 172pt;
  width: 182pt;
}
.calibre117 {
  height: 131pt;
  width: 188pt;
}
.calibre118 {
  height: 142pt;
  width: 227pt;
}
.calibre119 {
  height: 129pt;
  width: 196pt;
}
.calibre120 {
  height: 196pt;
  width: 148pt;
}
.calibre121 {
  height: 59.3pt;
  width: 60pt;
}
.calibre122 {
  height: 122pt;
  width: 301pt;
}
.calibre123 {
  height: 69pt;
  width: 130pt;
}
.calibre124 {
  height: 177pt;
  width: 283pt;
}
.calibre125 {
  height: 63.8pt;
  width: 59.3pt;
}
.calibre126 {
  height: 105pt;
  width: 220pt;
}
.calibre127 {
  height: 164pt;
  width: 199pt;
}
.calibre128 {
  height: 133pt;
  width: 241pt;
}
.calibre129 {
  height: 113pt;
  width: 314pt;
}
.calibre130 {
  height: 172pt;
  width: 211pt;
}
.calibre131 {
  height: 62.3pt;
  width: 61.5pt;
}
.calibre132 {
  height: 237pt;
  width: 220pt;
}
.calibre133 {
  height: 126pt;
  width: 104pt;
}
.calibre134 {
  height: 90.4pt;
  width: 438pt;
}
.calibre135 {
  height: 101pt;
  width: 447pt;
}
.calibre136 {
  height: 60.8pt;
  width: 59.3pt;
}
.list_ {
  display: block;
  list-style-type: disc;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0;
}
.list_1 {
  display: block;
  list-style-type: decimal;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0;
}
.table_ {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  text-indent: 0;
  width: 100%;
  padding: 0;
  border: currentColor solid 1pt;
}
.table_1 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  text-indent: 0;
  width: 451pt;
  padding: 0;
  border: currentColor solid 1pt;
}
.table_2 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  text-indent: 0;
  padding: 0;
  border: currentColor solid 1pt;
}
.table_3 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  text-indent: 0;
  width: 92.7%;
  padding: 0;
  border: currentColor solid 1pt;
}
.table_4 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  text-indent: 0;
  width: 89.2%;
  padding: 0;
  border: currentColor solid 1pt;
}
.td_ {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25.9%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_1 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 26.1%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_2 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25.1%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_3 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 22.9%;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_4 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25.9%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_5 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 26.1%;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_6 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25.1%;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_7 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 22.9%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_8 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25.9%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_9 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 26.1%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_10 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25.1%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_11 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 22.9%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_12 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_13 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_14 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_15 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_16 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_17 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_18 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 50%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_19 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 50%;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_20 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 50%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_21 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 50%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_22 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 50%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_23 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 50%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_24 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_25 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 26.4%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_26 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 40.3%;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_27 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_28 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 26.4%;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_29 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 40.3%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_30 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_31 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 26.4%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_32 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 40.3%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_33 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 11.1%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_34 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 11.1%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_35 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 11.1%;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_36 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 11.1%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_37 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 11.1%;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_38 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 11.1%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_39 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 11.1%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_40 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 11.1%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_41 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 11.1%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_42 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_43 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_44 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_45 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_46 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 16.7%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_47 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 16.7%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_48 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 16.7%;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_49 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 16.7%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_50 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 16.7%;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_51 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 16.7%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_52 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 16.7%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_53 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 16.7%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_54 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 16.7%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_55 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 50%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
}
.td_56 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 50%;
  padding: 0.5ex 5.4pt;
  border-left: currentColor solid 1pt;
}
.td_57 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_58 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 33.3%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_59 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25.1%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_60 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 74.9%;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_61 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25.1%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_62 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 74.9%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_63 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 25.1%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_64 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 74.9%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_65 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 28.2%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_66 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 71.8%;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_67 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 28.2%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_68 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 71.8%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_69 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 28.2%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_70 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 71.8%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_71 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 225pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
}
.td_72 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 225pt;
  padding: 0.5ex 5.4pt;
  border-left: currentColor solid 1pt;
}
.td_73 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 129pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_74 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 126pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_75 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 129pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_76 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 126pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_77 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 129pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_78 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 126pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_79 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 225pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_80 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 225pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_81 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 225pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_82 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 225pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_83 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 225pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_84 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 225pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_85 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 7.68%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_86 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 7.68%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_87 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 7.7%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_88 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 7.7%;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_89 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 7.68%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_90 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 7.68%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_91 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 7.7%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_92 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 7.7%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_93 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 150pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_94 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 150pt;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_95 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 150pt;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_96 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 150pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_97 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 150pt;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_98 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 150pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_99 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 150pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_100 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 150pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_101 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 150pt;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_102 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 18.8%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_103 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 27.7%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_104 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 17.8%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_105 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 17.8%;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_106 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 18.8%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_107 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 27.7%;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_108 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 17.8%;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_109 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 17.8%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_110 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 18.8%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_111 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 27.7%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_112 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 17.8%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_113 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 17.8%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_114 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 22%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_115 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 28.3%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_116 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 30.9%;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_117 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 22%;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_118 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 28.3%;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_119 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 30.9%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_120 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 22%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_121 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 28.3%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_122 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 30.9%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_123 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 20.3%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_124 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 17%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_125 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 20.3%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_126 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 20.3%;
  padding: 0.5ex 5.4pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_127 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 20.3%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
}
.td_128 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 17%;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_129 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 20.3%;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_130 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 20.3%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_131 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 20.3%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
}
.td_132 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 17%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_133 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 20.3%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_134 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 20.3%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_135 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 26.7%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_136 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 23.6%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-bottom: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_137 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 26.7%;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_138 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 23.6%;
  padding: 0.5ex 5.4pt;
  border: currentColor solid 1pt;
}
.td_139 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 26.7%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_140 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 23.6%;
  padding: 0.5ex 5.4pt;
  border-top: currentColor solid 1pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_141 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 23.9%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
}
.td_142 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 28.2%;
  padding: 0.5ex 5.4pt;
  border-right: currentColor solid 1pt;
  border-left: currentColor solid 1pt;
}
.td_143 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 47.9%;
  padding: 0.5ex 5.4pt;
  border-left: currentColor solid 1pt;
}
.text_ {
  color: #0563C1;
  text-decoration: underline;
}
.text_1 {
  color: currentColor;
}
.text_2 {
  color: #000;
  font-weight: bold;
}
.text_3 {
  color: #000;
}
.text_4 {
  font-family: "Calibri", sans-serif;
}
.text_5 {
  font-family: "Vijaya", serif;
}
.text_6 {
  font-family: "Calibri Light", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
}
.text_7 {
  font-family: "Calibri", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
}
.text_8 {
  color: currentColor;
  font-weight: bold;
}
.text_9 {
  color: currentColor;
  font-weight: bold;
  line-height: 1.2;
}
.text_10 {
  color: #000;
  font-family: "Calibri", sans-serif;
  font-size: 1.2em;
  line-height: 1.2;
}
.text_11 {
  font-family: "Calibri Light", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}
.text_12 {
  font-family: "Calibri", sans-serif;
  font-size: 1.2em;
}
