.block_ {
  display: block;
  font-family: "Arial", sans-serif;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
.block_1 {
  display: block;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
.block_2 {
  display: block;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 0;
  padding: 0;
}
.block_3 {
  display: block;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 0;
  padding: 0;
}
.block_4 {
  display: block;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.block_5 {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}
.block_6 {
  display: block;
  margin: 0;
  padding: 0;
}
.block_7 {
  color: #000;
  display: block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 0;
  padding: 0;
}
.block_8 {
  display: block;
  line-height: 1.2;
  text-indent: -36pt;
  margin: 0 0 0 36pt;
  padding: 0;
}
.block_9 {
  border-bottom-style: none;
  color: #000;
  display: block;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
.block_10 {
  color: #000;
  display: block;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
.block_11 {
  color: #000;
  display: block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 18pt 0 6pt;
  padding: 0;
}
.block_12 {
  display: block;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
.block_13 {
  display: block;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.block_14 {
  display: list-item;
  line-height: 1.2;
  margin-left: 18pt;
  padding-bottom: 0;
  padding-top: 0;
}
.block_15 {
  border-bottom-style: none;
  display: block;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.block_16 {
  border-bottom-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
.block_17 {
  border-bottom-style: none;
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  margin: 0;
  padding: 0;
}
.block_18 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  margin: 0;
  padding: 0;
}
.block_19 {
  display: block;
  line-height: 1.2;
  text-align: justify;
  margin: 0 0 8pt;
  padding: 0;
}
.block_20 {
  color: #000;
  display: block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 16pt 0 4pt;
  padding: 0;
}
.block_21 {
  color: #666;
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 14pt 0 4pt;
  padding: 0;
}
.block_22 {
  color: #000;
  display: block;
  margin: 0;
  padding: 0;
}
.block_23 {
  display: block;
  font-family: serif;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
.block_24 {
  color: #000;
  display: block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 20pt 0 6pt;
  padding: 0;
}
.block_25 {
  display: block;
  line-height: 1.2;
  text-align: justify;
  margin: 0;
  padding: 0;
}
.block_26 {
  display: block;
  line-height: 1.2;
  text-align: justify;
  margin: 0 0 9pt;
  padding: 0;
}
.block_27 {
  display: block;
  font-weight: bold;
  line-height: 1.2;
  text-align: justify;
  margin: 0 0 8pt;
  padding: 0;
}
.block_28 {
  display: block;
  font-size: 1.29167em;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
.block_29 {
  color: #666;
  display: block;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  margin: 14pt 0 4pt;
  padding: 0;
}
.block_30 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
.block_31 {
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  display: block;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
.block_32 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.2;
  margin: 0;
  padding: 1pt 1pt 0;
  border-bottom: currentColor solid 1pt;
}
.block_33 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.2;
  margin: 0;
  padding: 0 1pt;
  border-bottom: currentColor solid 1pt;
}
.block_34 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  line-height: 1.2;
  margin: 0;
  padding: 0 1pt 1pt;
}
.calibre {
  display: block;
  font-family: "Calibri", sans-serif;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  height: 56.9pt;
  line-height: 1.2;
  width: 55.3pt;
}
.calibre2 {
  display: table-row-group;
  vertical-align: middle;
}
.calibre3 {
  display: table-row;
  vertical-align: inherit;
}
.calibre4 {
  text-decoration: none;
}
.calibre5 {
  font-weight: bold;
}
.calibre6 {
  white-space: pre-wrap;
}
.calibre7 {
  height: 75.1pt;
  line-height: 1.2;
  width: 162pt;
}
.calibre8 {
  height: 56.8pt;
  line-height: 1.2;
  width: 57.5pt;
}
.calibre9 {
  height: 78.7pt;
  line-height: 1.2;
  width: 139pt;
}
.calibre10 {
  height: 106pt;
  line-height: 1.2;
  width: 99.2pt;
}
.calibre11 {
  height: 63.2pt;
  line-height: 1.2;
  width: 140pt;
}
.calibre12 {
  height: 54.9pt;
  line-height: 1.2;
  width: 142pt;
}
.calibre13 {
  height: 63.7pt;
  line-height: 1.2;
  width: 142pt;
}
.calibre14 {
  height: 78.6pt;
  line-height: 1.2;
  width: 142pt;
}
.calibre15 {
  height: 123pt;
  line-height: 1.2;
  width: 149pt;
}
.calibre16 {
  height: 74.4pt;
  line-height: 1.2;
  width: 257pt;
}
.calibre17 {
  height: 78.7pt;
  line-height: 1.2;
  width: 254pt;
}
.calibre18 {
  line-height: 1.2;
  white-space: pre-wrap;
}
.calibre19 {
  height: 82.6pt;
  line-height: 1.2;
  width: 104pt;
}
.calibre20 {
  height: 74.6pt;
  line-height: 1.2;
  width: 114pt;
}
.calibre21 {
  height: 71.4pt;
  line-height: 1.2;
  width: 133pt;
}
.calibre22 {
  height: 119pt;
  line-height: 1.2;
  width: 129pt;
}
.calibre23 {
  height: 142pt;
  line-height: 1.2;
  width: 152pt;
}
.calibre24 {
  height: 120pt;
  line-height: 1.2;
  width: 165pt;
}
.calibre25 {
  height: 143pt;
  line-height: 1.2;
  width: 222pt;
}
.calibre26 {
  height: 94.3pt;
  line-height: 1.2;
  width: 101pt;
}
.calibre27 {
  height: 225pt;
  line-height: 1.2;
  width: 207pt;
}
.calibre28 {
  height: 131pt;
  line-height: 1.2;
  width: 194pt;
}
.calibre29 {
  height: 91.5pt;
  line-height: 1.2;
  width: 209pt;
}
.calibre30 {
  height: 99.9pt;
  line-height: 1.2;
  width: 137pt;
}
.calibre31 {
  height: 68.4pt;
  line-height: 1.2;
  width: 120pt;
}
.calibre32 {
  height: 159pt;
  line-height: 1.2;
  width: 228pt;
}
.calibre33 {
  height: 118pt;
  line-height: 1.2;
  width: 160pt;
}
.calibre34 {
  height: 75.5pt;
  line-height: 1.2;
  width: 73.1pt;
}
.calibre35 {
  height: 74.7pt;
  line-height: 1.2;
  width: 78.1pt;
}
.calibre36 {
  height: 72.9pt;
  line-height: 1.2;
  width: 150pt;
}
.calibre37 {
  height: 205pt;
  line-height: 1.2;
  width: 370pt;
}
.calibre38 {
  height: 87pt;
  line-height: 1.2;
  width: 84.8pt;
}
.calibre39 {
  height: 86.2pt;
  line-height: 1.2;
  width: 86.8pt;
}
.calibre40 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre41 {
  height: 243pt;
  line-height: 1.2;
  width: 240pt;
}
.calibre42 {
  height: 227pt;
  line-height: 1.2;
  width: 253pt;
}
.calibre43 {
  height: 129pt;
  line-height: 1.2;
  width: 282pt;
}
.calibre44 {
  height: 63.4pt;
  line-height: 1.2;
  width: 67.5pt;
}
.calibre45 {
  height: 200pt;
  line-height: 1.2;
  width: 176pt;
}
.calibre46 {
  height: 69.9pt;
  line-height: 1.2;
  width: 68.8pt;
}
.calibre47 {
  height: 137pt;
  line-height: 1.2;
  width: 194pt;
}
.calibre48 {
  height: 157pt;
  line-height: 1.2;
  width: 211pt;
}
.calibre49 {
  height: 178pt;
  line-height: 1.2;
  transform: rotate(90deg);
  width: 193pt;
}
.calibre50 {
  height: 109pt;
  line-height: 1.2;
  width: 150pt;
}
.calibre51 {
  height: 109pt;
  line-height: 1.2;
  width: 148pt;
}
.calibre52 {
  height: 136pt;
  line-height: 1.2;
  width: 184pt;
}
.calibre53 {
  height: 69.3pt;
  line-height: 1.2;
  width: 68.2pt;
}
.calibre54 {
  height: 136pt;
  line-height: 1.2;
  width: 179pt;
}
.calibre55 {
  height: 136pt;
  line-height: 1.2;
  width: 164pt;
}
.calibre56 {
  height: 108pt;
  line-height: 1.2;
  width: 148pt;
}
.calibre57 {
  height: 137pt;
  line-height: 1.2;
  width: 192pt;
}
.calibre58 {
  height: 244pt;
  line-height: 1.2;
  width: 248pt;
}
.calibre59 {
  height: 177pt;
  line-height: 1.2;
  width: 220pt;
}
.calibre60 {
  height: 188pt;
  line-height: 1.2;
  width: 217pt;
}
.calibre61 {
  height: 81.5pt;
  line-height: 1.2;
  width: 83.2pt;
}
.calibre62 {
  height: 111pt;
  line-height: 1.2;
  width: 177pt;
}
.calibre63 {
  height: 65.2pt;
  line-height: 1.2;
  width: 212pt;
}
.calibre64 {
  height: 90pt;
  line-height: 1.2;
  width: 94.5pt;
}
.calibre65 {
  height: 158pt;
  line-height: 1.2;
  width: 163pt;
}
.calibre66 {
  height: 107pt;
  line-height: 1.2;
  width: 159pt;
}
.calibre67 {
  height: 122pt;
  line-height: 1.2;
  width: 155pt;
}
.calibre68 {
  height: 125pt;
  line-height: 1.2;
  width: 154pt;
}
.calibre69 {
  height: 122pt;
  line-height: 1.2;
  width: 149pt;
}
.calibre70 {
  height: 138pt;
  line-height: 1.2;
  width: 146pt;
}
.calibre71 {
  height: 153pt;
  line-height: 1.2;
  width: 170pt;
}
.calibre72 {
  height: 175pt;
  line-height: 1.2;
  width: 169pt;
}
.calibre73 {
  height: 175pt;
  line-height: 1.2;
  width: 164pt;
}
.calibre74 {
  height: 134pt;
  line-height: 1.2;
  width: 158pt;
}
.calibre75 {
  height: 140pt;
  line-height: 1.2;
  width: 162pt;
}
.calibre76 {
  height: 141pt;
  line-height: 1.2;
  width: 158pt;
}
.calibre77 {
  height: 142pt;
  line-height: 1.2;
  width: 171pt;
}
.calibre78 {
  height: 129pt;
  line-height: 1.2;
  width: 169pt;
}
.calibre79 {
  height: 110pt;
  line-height: 1.2;
  width: 168pt;
}
.calibre80 {
  height: 136pt;
  line-height: 1.2;
  width: 189pt;
}
.calibre81 {
  height: 98.2pt;
  line-height: 1.2;
  width: 172pt;
}
.calibre82 {
  height: 103pt;
  line-height: 1.2;
  width: 172pt;
}
.calibre83 {
  height: 128pt;
  line-height: 1.2;
  width: 175pt;
}
.calibre84 {
  height: 78.8pt;
  line-height: 1.2;
  width: 79pt;
}
.calibre85 {
  line-height: 1.2;
}
.calibre86 {
  height: 174pt;
  line-height: 1.2;
  width: 214pt;
}
.calibre87 {
  height: 195pt;
  line-height: 1.2;
  width: 236pt;
}
.calibre88 {
  height: 203pt;
  line-height: 1.2;
  width: 211pt;
}
.calibre89 {
  height: 157pt;
  line-height: 1.2;
  width: 223pt;
}
.calibre90 {
  height: 93pt;
  line-height: 1.2;
  width: 94.5pt;
}
.calibre91 {
  height: 160pt;
  line-height: 1.2;
  width: 196pt;
}
.calibre92 {
  height: 96pt;
  line-height: 1.2;
  width: 135pt;
}
.calibre93 {
  height: 86.3pt;
  line-height: 1.2;
  width: 86.3pt;
}
.calibre94 {
  height: 146pt;
  line-height: 1.2;
  width: 201pt;
}
.calibre95 {
  height: 120pt;
  line-height: 1.2;
  width: 187pt;
}
.calibre96 {
  height: 163pt;
  line-height: 1.2;
  width: 212pt;
}
.calibre97 {
  height: 176pt;
  line-height: 1.2;
  width: 214pt;
}
.calibre98 {
  height: 152pt;
  line-height: 1.2;
  width: 217pt;
}
.calibre99 {
  height: 162pt;
  line-height: 1.2;
  width: 218pt;
}
.calibre100 {
  height: 154pt;
  line-height: 1.2;
  width: 200pt;
}
.calibre101 {
  height: 126pt;
  line-height: 1.2;
  width: 198pt;
}
.calibre102 {
  height: 88.9pt;
  line-height: 1.2;
  width: 91.4pt;
}
.calibre103 {
  height: 142pt;
  line-height: 1.2;
  width: 151pt;
}
.calibre104 {
  height: 119pt;
  line-height: 1.2;
  width: 175pt;
}
.calibre105 {
  height: 164pt;
  line-height: 1.2;
  width: 196pt;
}
.calibre106 {
  height: 164pt;
  line-height: 1.2;
  width: 202pt;
}
.calibre107 {
  height: 166pt;
  line-height: 1.2;
  width: 200pt;
}
.calibre108 {
  height: 110pt;
  line-height: 1.2;
  width: 131pt;
}
.calibre109 {
  height: 80.9pt;
  line-height: 1.2;
  width: 78.8pt;
}
.calibre110 {
  height: 122pt;
  line-height: 1.2;
  width: 154pt;
}
.calibre111 {
  height: 118pt;
  line-height: 1.2;
  width: 152pt;
}
.calibre112 {
  height: 115pt;
  line-height: 1.2;
  width: 143pt;
}
.calibre113 {
  height: 59.5pt;
  line-height: 1.2;
  width: 59.5pt;
}
.calibre114 {
  height: 122pt;
  line-height: 1.2;
  width: 151pt;
}
.calibre115 {
  height: 99.8pt;
  line-height: 1.2;
  width: 152pt;
}
.calibre116 {
  height: 106pt;
  line-height: 1.2;
  width: 129pt;
}
.calibre117 {
  height: 134pt;
  line-height: 1.2;
  width: 119pt;
}
.calibre118 {
  height: 104pt;
  line-height: 1.2;
  width: 190pt;
}
.calibre119 {
  height: 103pt;
  line-height: 1.2;
  width: 203pt;
}
.calibre120 {
  height: 54.6pt;
  line-height: 1.2;
  width: 58.5pt;
}
.calibre121 {
  height: 190pt;
  line-height: 1.2;
  width: 260pt;
}
.calibre122 {
  height: 84.7pt;
  line-height: 1.2;
  width: 88.9pt;
}
.calibre123 {
  height: 98.6pt;
  line-height: 1.2;
  width: 220pt;
}
.calibre124 {
  height: 165pt;
  line-height: 1.2;
  width: 238pt;
}
.calibre125 {
  height: 221pt;
  line-height: 1.2;
  width: 234pt;
}
.calibre126 {
  height: 152pt;
  line-height: 1.2;
  width: 230pt;
}
.calibre127 {
  height: 182pt;
  line-height: 1.2;
  width: 224pt;
}
.calibre128 {
  height: 192pt;
  line-height: 1.2;
  width: 236pt;
}
.calibre129 {
  height: 152pt;
  line-height: 1.2;
  width: 260pt;
}
.calibre130 {
  height: 88.5pt;
  line-height: 1.2;
  width: 89.2pt;
}
.calibre131 {
  height: 130pt;
  line-height: 1.2;
  width: 187pt;
}
.calibre132 {
  height: 148pt;
  line-height: 1.2;
  width: 192pt;
}
.calibre133 {
  height: 100pt;
  line-height: 1.2;
  width: 188pt;
}
.calibre134 {
  height: 176pt;
  line-height: 1.2;
  width: 216pt;
}
.calibre135 {
  height: 117pt;
  line-height: 1.2;
  width: 191pt;
}
.calibre136 {
  height: 119pt;
  line-height: 1.2;
  width: 187pt;
}
.calibre137 {
  height: 106pt;
  line-height: 1.2;
  width: 188pt;
}
.calibre138 {
  height: 135pt;
  line-height: 1.2;
  width: 189pt;
}
.calibre139 {
  height: 78.1pt;
  line-height: 1.2;
  width: 78.1pt;
}
.calibre140 {
  height: 125pt;
  line-height: 1.2;
  width: 193pt;
}
.calibre141 {
  height: 126pt;
  line-height: 1.2;
  width: 190pt;
}
.calibre142 {
  height: 126pt;
  line-height: 1.2;
  width: 169pt;
}
.calibre143 {
  height: 129pt;
  line-height: 1.2;
  width: 183pt;
}
.calibre144 {
  height: 151pt;
  line-height: 1.2;
  width: 209pt;
}
.calibre145 {
  height: 116pt;
  line-height: 1.2;
  width: 176pt;
}
.calibre146 {
  height: 145pt;
  line-height: 1.2;
  width: 165pt;
}
.calibre147 {
  height: 134pt;
  line-height: 1.2;
  width: 207pt;
}
.calibre148 {
  height: 157pt;
  line-height: 1.2;
  width: 217pt;
}
.calibre149 {
  height: 189pt;
  line-height: 1.2;
  width: 229pt;
}
.calibre150 {
  height: 173pt;
  width: 235pt;
}
.calibre151 {
  height: 60pt;
  line-height: 1.2;
  width: 58.5pt;
}
.calibre152 {
  height: 162pt;
  line-height: 1.2;
  width: 206pt;
}
.calibre153 {
  height: 168pt;
  line-height: 1.2;
  width: 229pt;
}
.calibre154 {
  height: 157pt;
  line-height: 1.2;
  width: 202pt;
}
.calibre155 {
  height: 147pt;
  line-height: 1.2;
  width: 182pt;
}
.calibre156 {
  height: 127pt;
  line-height: 1.2;
  width: 137pt;
}
.calibre157 {
  height: 142pt;
  line-height: 1.2;
  width: 236pt;
}
.calibre158 {
  height: 113pt;
  line-height: 1.2;
  width: 221pt;
}
.calibre159 {
  height: 69.8pt;
  line-height: 1.2;
  width: 65.3pt;
}
.calibre160 {
  height: 60.8pt;
  line-height: 1.2;
  width: 69pt;
}
.calibre161 {
  height: 158pt;
  line-height: 1.2;
  width: 200pt;
}
.calibre162 {
  height: 116pt;
  line-height: 1.2;
  width: 183pt;
}
.calibre163 {
  height: 78.8pt;
  line-height: 1.2;
  width: 72.6pt;
}
.calibre164 {
  height: 128pt;
  line-height: 1.2;
  width: 156pt;
}
.calibre165 {
  height: 119pt;
  line-height: 1.2;
  width: 159pt;
}
.calibre166 {
  height: 140pt;
  line-height: 1.2;
  width: 156pt;
}
.calibre167 {
  height: 149pt;
  line-height: 1.2;
  width: 161pt;
}
.calibre168 {
  height: 99.7pt;
  line-height: 1.2;
  width: 89.2pt;
}
.calibre169 {
  height: 158pt;
  line-height: 1.2;
  width: 172pt;
}
.calibre170 {
  height: 134pt;
  line-height: 1.2;
  width: 172pt;
}
.calibre171 {
  height: 139pt;
  line-height: 1.2;
  width: 164pt;
}
.calibre172 {
  height: 118pt;
  line-height: 1.2;
  width: 171pt;
}
.calibre173 {
  height: 114pt;
  line-height: 1.2;
  width: 166pt;
}
.calibre174 {
  height: 125pt;
  line-height: 1.2;
  width: 164pt;
}
.calibre175 {
  height: 124pt;
  line-height: 1.2;
  width: 165pt;
}
.calibre176 {
  height: 117pt;
  line-height: 1.2;
  width: 163pt;
}
.calibre177 {
  height: 158pt;
  line-height: 1.2;
  width: 195pt;
}
.calibre178 {
  height: 147pt;
  line-height: 1.2;
  width: 184pt;
}
.calibre179 {
  height: 165pt;
  line-height: 1.2;
  width: 186pt;
}
.calibre180 {
  height: 185pt;
  line-height: 1.2;
  width: 251pt;
}
.calibre181 {
  height: 216pt;
  line-height: 1.2;
  width: 232pt;
}
.calibre182 {
  height: 152pt;
  line-height: 1.2;
  width: 226pt;
}
.calibre183 {
  height: 170pt;
  line-height: 1.2;
  width: 242pt;
}
.calibre184 {
  height: 202pt;
  line-height: 1.2;
  width: 243pt;
}
.calibre185 {
  height: 70.5pt;
  line-height: 1.2;
  width: 70.5pt;
}
.calibre186 {
  height: 72.8pt;
  line-height: 1.2;
  width: 78.2pt;
}
.calibre187 {
  height: 172pt;
  line-height: 1.2;
  width: 191pt;
}
.calibre188 {
  height: 194pt;
  line-height: 1.2;
  width: 200pt;
}
.calibre189 {
  height: 105pt;
  line-height: 1.2;
  width: 146pt;
}
.calibre190 {
  height: 92.7pt;
  line-height: 1.2;
  width: 82.5pt;
}
.calibre191 {
  height: 133pt;
  line-height: 1.2;
  width: 156pt;
}
.calibre192 {
  height: 126pt;
  line-height: 1.2;
  width: 181pt;
}
.calibre193 {
  height: 122pt;
  line-height: 1.2;
  width: 193pt;
}
.calibre194 {
  height: 160pt;
  line-height: 1.2;
  width: 206pt;
}
.calibre195 {
  height: 94.5pt;
  line-height: 1.2;
  width: 129pt;
}
.calibre196 {
  height: 112pt;
  line-height: 1.2;
  width: 185pt;
}
.calibre197 {
  height: 125pt;
  line-height: 1.2;
  width: 118pt;
}
.calibre198 {
  height: 126pt;
  line-height: 1.2;
  width: 191pt;
}
.calibre199 {
  display: block;
  line-height: 1.2;
}
.calibre200 {
  height: 164pt;
  line-height: 1.2;
  width: 238pt;
}
.calibre201 {
  height: 93.2pt;
  line-height: 1.2;
  width: 100pt;
}
.calibre202 {
  height: 123pt;
  line-height: 1.2;
  width: 97.5pt;
}
.calibre203 {
  height: 175pt;
  line-height: 1.2;
  width: 186pt;
}
.calibre204 {
  height: 171pt;
  line-height: 1.2;
  width: 196pt;
}
.calibre205 {
  height: 156pt;
  line-height: 1.2;
  width: 206pt;
}
.calibre206 {
  height: 90pt;
  line-height: 1.2;
  width: 105pt;
}
.calibre207 {
  height: 123pt;
  line-height: 1.2;
  width: 176pt;
}
.calibre208 {
  height: 127pt;
  line-height: 1.2;
  width: 188pt;
}
.calibre209 {
  height: 188pt;
  line-height: 1.2;
  width: 244pt;
}
.calibre210 {
  height: 254pt;
  line-height: 1.2;
  width: 304pt;
}
.calibre211 {
  height: 90.8pt;
  line-height: 1.2;
  width: 123pt;
}
.calibre212 {
  height: 105pt;
  line-height: 1.2;
  width: 108pt;
}
.frame_ {
  display: block;
  margin: 0;
  padding: 0;
  border: currentColor solid 1pt;
}
.list_ {
  display: block;
  list-style-type: decimal;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0;
}
.list_1 {
  display: block;
  list-style-type: lower-alpha;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0;
}
.tab {
  line-height: 1.2;
  white-space: pre-wrap;
}
.table_ {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: -5pt;
  margin-top: 0;
  text-indent: 0;
  width: 461pt;
  padding: 0;
  border: #000 solid 1pt;
}
.table_1 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: -5pt;
  margin-top: 0;
  text-indent: 0;
  width: 451pt;
  padding: 0;
  border: #000 solid 1pt;
}
.table_2 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: -5pt;
  margin-top: 0;
  text-indent: 0;
  width: 448pt;
  padding: 0;
  border: #000 solid 1pt;
}
.table_3 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: -5pt;
  margin-top: 0;
  text-indent: 0;
  width: 462pt;
  padding: 0;
  border: #000 solid 1pt;
}
.table_4 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: -5pt;
  margin-top: 0;
  text-indent: 0;
  width: 473pt;
  padding: 0;
  border: #000 solid 1pt;
}
.table_5 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: -5pt;
  margin-top: 0;
  text-indent: 0;
  width: 464pt;
  padding: 0;
  border: #000 solid 1pt;
}
.table_6 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-left: -5pt;
  margin-top: 0;
  text-indent: 0;
  width: 446pt;
  padding: 0;
  border: #000 solid 1pt;
}
.td_ {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 46.6pt;
  padding: 5pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_1 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 174pt;
  padding: 5pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_2 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 108pt;
  padding: 5pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_3 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 132pt;
  padding: 5pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_4 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 46.6pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_5 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 174pt;
  padding: 5pt;
  border: #000 solid 1pt;
}
.td_6 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 108pt;
  padding: 5pt;
  border: #000 solid 1pt;
}
.td_7 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 132pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_8 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 46.6pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
}
.td_9 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 174pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_10 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 108pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_11 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 132pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_12 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 150pt;
  padding: 5pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_13 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 150pt;
  padding: 5pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_14 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 150pt;
  padding: 5pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_15 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 150pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_16 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 150pt;
  padding: 5pt;
  border: #000 solid 1pt;
}
.td_17 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 150pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_18 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 150pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
}
.td_19 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 150pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_20 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 150pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_21 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 224pt;
  padding: 5pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_22 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 224pt;
  padding: 5pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_23 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 224pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_24 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 224pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_25 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 224pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
}
.td_26 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 224pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_27 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 125pt;
  padding: 5pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_28 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 175pt;
  padding: 5pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_29 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 151pt;
  padding: 5pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_30 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 125pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_31 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 175pt;
  padding: 5pt;
  border: #000 solid 1pt;
}
.td_32 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 151pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_33 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 125pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
}
.td_34 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 175pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_35 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 151pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_36 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 90.2pt;
  padding: 5pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_37 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 101pt;
  padding: 5pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_38 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 90.3pt;
  padding: 5pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_39 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 90.3pt;
  padding: 5pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_40 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 90.2pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_41 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 101pt;
  padding: 5pt;
  border: #000 solid 1pt;
}
.td_42 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 90.3pt;
  padding: 5pt;
  border: #000 solid 1pt;
}
.td_43 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 90.3pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_44 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 90.2pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
}
.td_45 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 101pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_46 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 90.3pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_47 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 90.3pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_48 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 113pt;
  padding: 5pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_49 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 135pt;
  padding: 5pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_50 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 117pt;
  padding: 5pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_51 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 108pt;
  padding: 5pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_52 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 113pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_53 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 135pt;
  padding: 5pt;
  border: #000 solid 1pt;
}
.td_54 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 117pt;
  padding: 5pt;
  border: #000 solid 1pt;
}
.td_55 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 108pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_56 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 113pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
}
.td_57 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 135pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_58 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 117pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_59 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 108pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_60 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 116pt;
  padding: 5pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_61 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 116pt;
  padding: 5pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_62 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 116pt;
  padding: 5pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_63 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 116pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_64 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 116pt;
  padding: 5pt;
  border: #000 solid 1pt;
}
.td_65 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 116pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_66 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 116pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
}
.td_67 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 116pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_68 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 116pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_69 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 84.8pt;
  padding: 5pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_70 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 99.2pt;
  padding: 5pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_71 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 262pt;
  padding: 5pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_72 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 84.8pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
}
.td_73 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 99.2pt;
  padding: 5pt;
  border: #000 solid 1pt;
}
.td_74 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 262pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-bottom: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_75 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 84.8pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
}
.td_76 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 99.2pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-right: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.td_77 {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 262pt;
  padding: 5pt;
  border-top: #000 solid 1pt;
  border-left: #000 solid 1pt;
}
.text_ {
  color: #00F;
  line-height: 1.2;
  text-decoration: underline solid;
}
.text_1 {
  color: #00F;
  font-weight: bold;
  text-decoration: underline solid;
}
.text_2 {
  color: #00F;
  text-decoration: underline solid;
}
.text_3 {
  font-family: "Calibri", sans-serif;
  line-height: 1.2;
}
.text_4 {
  font-family: "Arial", sans-serif;
  line-height: 1.2;
}
.text_5 {
  font-family: "Calibri", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
}
.text_6 {
  font-family: "Latha", sans-serif;
  font-size: 1em;
  line-height: 1.2;
}
.text_7 {
  font-family: "Latha", sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
}
